<div class="panel panel-primary panel-body">
  <h2 class="page-header" align="center">{{"NUEVA_CUENTA" | translate}}</h2>

  <div>
    <div class="panel panel-default panel-body shadow-box">
        <form name="cuentas_form" ng-submit="cuentas_form.$valid && crearCuentas.crear_cuenta()" focus-on-field novalidate>

          <div class="form-group col-md-12">
            <div class="form-group col-md-6">
              <label>{{"CLASIFICACION" | translate}}:</label>
              <span class="form-control" readonly>{{crearCuentas.nueva_cuenta.NivelClasificacion.Nombre}}</span>
            </div>

            <div class="form-group col-md-6" ng-if="crearCuentas.padre==undefined">
              <label>{{"NATURALEZA" | translate}}:</label>
              <select class="form-control" id="naturalezacuenta" ng-model="crearCuentas.nueva_cuenta.Naturaleza" ng-options="n for n in crearCuentas.naturalezas" required>
                <option value="" disabled selected>Selecciona una naturaleza</option>
              </select>
            </div>
            <div class="form-group col-md-6" ng-if="crearCuentas.padre!=undefined">
              <label>{{"NATURALEZA" | translate}}:</label>
              <span class="form-control" readonly>{{crearCuentas.nueva_cuenta.Naturaleza}}</span>
            </div>

          </div>


          <div class="col-md-12 form-group">
            <label>{{"CODIGO" | translate}}:</label>
            <div ng-if="crearCuentas.plan_maestro!=undefined">
              <plan-cuentas filtro="filtro_padre" seleccion="crearCuentas.padre" recargar="crearCuentas.recargar_arbol" planid="crearCuentas.plan_maestro.Id" rdesc/>
            </div>

            <div class="form-group">
              <div >
                <span>{{"CODIGO" | translate}}*:</span>
                <span class="form-control form-control-inline" readonly> {{crearCuentas.padre.Codigo}}-</span>
                <input class="form-control form-control-inline" type="text" id="codigocuenta" ng-model="crearCuentas.nueva_cuenta.Codigo" placeholder="Ingresar codigo" required maxlength="{{crearCuentas.nivel.Longitud}}">
              </div>
            </div>
          </div>


          <div class="form-group col-md-12">
            <label>{{"NOMBRE" | translate}}:</label>
            <input class="form-control" type="text" id="nombrecuenta" ng-model="crearCuentas.nueva_cuenta.Nombre" placeholder="Ingresar nombre" required>
          </div>

          <div class="form-group col-md-12">
            <label>{{"DESCRIPCION" | translate}}:</label>
            <textarea class="form-control " id="desccuenta" type="text" ng-model="crearCuentas.nueva_cuenta.Descripcion" placeholder="Ingresar Descripcion" rows="6"></textarea>
          </div>

          <div class="col-md-12 form-group">
            <center>
              <input type="submit" class="btn btn-outline btn-success" value='{{"BTN.CONFIRMAR" | translate}}'>
              <button type="button" class="btn btn-danger btn-outline" name="button" ng-click="crearCuentas.resetear()">{{"BTN.CANCELAR" | translate}}</button>
            </center>
          </div>



        </form>
    </div>
  </div>




</div>
