<div class="panel panel-primary panel-body">
  <center>
    <h3 class="page-header">{{"IMPUESTOS_DESCUENTOS" | translate}}</h3></center>

  <div class="col-md-5">
    <div ng-if="crearDescuento.plan_maestro!=undefined">
      <plan-cuentas filtro="filtro_padre" seleccion="crearDescuento.cuenta_contable" recargar="crearDescuento.recargar_arbol" planid="crearDescuento.plan_maestro.Id" />
    </div>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{"NUEVO" | translate}}</h3>
      </div>
      <div class="panel-body">
        <form name="des_imp_form" ng-submit="des_imp_form.$valid && crearDescuento.crear_nuevo()">

          <div class="form-group">
            <label for="nomdescuento">{{"TIPO" | translate}} {{"CUENTA" | translate}}:</label>
            <select type="text" class="form-control" id="nomdescuento" ng-model="crearDescuento.tipo_cuenta" ng-options="tipo as tipo.Nombre for tipo in crearDescuento.tipos_cuentas" required>
            <option value="" selected disabled>--{{"SELECCION_OPCION" | translate}}--</option></select>
          </div>

          <div ng-show="crearDescuento.tipo_cuenta!=null">

            <div class="form-group">
              <label for="cuentadescuento">{{"CUENTA_CONTABLE" | translate}}:</label>
              <span class="form-control" readonly>{{crearDescuento.cuenta_contable.Codigo}} {{crearDescuento.cuenta_contable.Nombre}}</span>
            </div>

            <div class="form-group">
              <label for="descdescuento">{{"DESCRIPCION" | translate}}:</label>
              <textarea type="text" class="form-control" ng-model="crearDescuento.descripcion" id="descdescuento" placeholder="Ingrese una descripción para el {{crearDescuento.tipo_cuenta.Nombre}}" rows="5" />
            </div>

            <div class="form-group">
              <label for="descdescuento">*{{"PROVEEDOR" | translate}}:</label><span> {{crearDescuento.proveedor.NomProveedor}}</span>

              <div style="height: {{gridHeight}}px" ui-grid="crearDescuento.gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>

            </div>

            <div ng-if="crearDescuento.tipo_cuenta.Nombre=='Impuesto'">
              <div class="form-group">
                <label for="porcdescuento">{{"PORCENTAJE" | translate}}:</label>
                <input type="text" class="form-control" name="field" ng-model="crearDescuento.porcentaje" ui-number-mask="2" id="porcdescuento" placeholder="0.00" required>
              </div>

              <div class="form-group">
                <label for="basemin">{{"BASE_UVT" | translate}}:</label>
                <input type="text" class="form-control" id="basemin" ng-model="crearDescuento.base_min" placeholder="Indica el valor minimo" ui-money-mask="0" required>
              </div>

              <div class="form-group">
                <label for="deducible">{{"DEDUCIBLE" | translate}}:</label>
                <input type="checkbox" ng-model="crearDescuento.deducible" class="checkbox-inline" id="deducible">
              </div>
            </div>

            <div class="form-group">
              <center>
                <input type="submit" class="btn btn-success btn-outline" value="{{'BTN.CONFIRMAR' | translate}}">
                <button class="btn btn-danger btn-outline">{{"BTN.CANCELAR" | translate}}</button>
              </center>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
  <!--<pre>{{crearDescuento.descuento_nuevo | json}}</pre>-->




</div>
