<div class="panel panel-primary panel-body">
  <center>
    <h3 class="page-header">
        {{gestionPlanAlterno.plan_alterno.Nombre}}
    </h3></center>

  <div class="panel-body">
    <div class="col-xl-12">
      <div ng-show="btn_agregar" class="form-group">
        <center>
          <button type="button" class="btn btn-success" ng-click="gestionPlanAlterno.crear_rama()">{{"BTN.AGREGAR" | translate}}</button>
        </center>
      </div>

      <div ng-show="btn_cancelar" class="form-group">
        <center>
          <button type="button" class="btn btn-danger" ng-click="gestionPlanAlterno.quitar_cuenta()">{{"BTN.QUITAR" | translate}}</button>
        </center>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="col-lg-6">
        <plan-cuentas recargar="recargar_arbol" planid="gestionPlanAlterno.idPlan" cuentasel="gestionPlanAlterno.cuenta_plan" />
      </div>

      <div class="col-lg-6">
        <plan-cuentas planid="gestionPlanAlterno.plan_maestro.Id" cuentasel="gestionPlanAlterno.nueva_cuenta" ramasel="gestionPlanAlterno.nueva_rama" />
      </div>
    </div>
  </div>

  <blockquote>
    <small>{{gestionPlanAlterno.plan_alterno.Descripcion}}</small>
  </blockquote>


</div>
