<div class="panel panel-primary panel-body">
    <center><h3 class="page-header">
        {{"PLAN_CUENTAS" | translate}}
    </h3></center>

    <div ng-if="gestionPlanCuentas.plan_maestro!=undefined">
      <plan-cuentas filtro="filtro_padre" seleccion="gestionPlanCuentas.padre" recargar="gestionPlanCuentas.recargar_arbol" planid="gestionPlanCuentas.plan_maestro.Id" rdesc btnselnom="btneditar" />
    </div>

    <div class="col-md-12">
      <center>
      <a href="#/plan_cuentas/cuentas/nueva" type="button" class="btn btn-success  shadow-box" name="button">{{"BTN.AGREGAR" | translate}} {{"CUENTA" | translate}}</a>
    </center>
    </div>

</div>
