<div class="panel panel-primary panel-body">
  <h2 class="page-header" align="center">{{"CONCEPTO" | translate}} {{conceptosEditar.e_concepto.Codigo1}}{{conceptosEditar.e_concepto.Codigo2}}</h2>
  <div class="panel panel-default shadow-box">
    <div class="panel-body">

        <div class="col-md-12 form-group">
          <center><label>
                <input type="radio" ng-model="isconcepto" ng-value="true">
                {{"CONCEPTO" | translate}}
              </label>
            <label>
                <input type="radio" ng-model="isconcepto" ng-value="false">
                {{"CLASIFICACION" | translate}}
              </label></center>
        </div>

    </div>

        <legend class="text-primary" ng-click="conceptosEditar.mostrar_datos_basicos()">{{'DATOS_BASICOS' | translate}} <span class="fa fa-plus pull-right" ng-show="!info_basico"></span> <span class="fa fa-minus pull-right" ng-show="info_basico"></span></legend>
        <div class="panel-body" ng-show="conceptosEditar.info_basico">
        <form id="editForm" name="editForm">

          <div class="form-group col-md-12">
              <label>{{"CODIGO" | translate}}*:</label><br>
              <span class="form-control form-control-inline" readonly> {{conceptosEditar.e_concepto.Codigo1}}</span>
              <input class="form-control form-control-inline" type="text" name="codigoconcepto" ng-model="conceptosEditar.e_concepto.Codigo2" placeholder="Ingresar codigo" required maxlength="{{editarCuenta.e_cuenta.NivelClasificacion.Longitud}}" minlength="{{editarCuenta.e_cuenta.NivelClasificacion.Longitud}}">
              <button type="button" class="btn btn-primary btn-sm" ng-click="conceptosEditar.cambiar_padre()">{{'CAMBIAR_PADRE' | translate}}</button>
              <button type="button" class="btn btn-danger btn-sm" ng-click="conceptosEditar.cancelar_padre()">{{'BTN.CANCELAR' | translate}}</button>
          </div>

          <div class="col-md-12 form-group" ng-if="varbolpadre">
              <label>{{"CODIGO" | translate}}*:</label>
              <fieldset class="form-group">
                      <small>{{"SELECCIONE_CARPETA_CONCEPTO" | translate}}</small>
                <arbol-conceptos filtro="filtro_padre" seleccion="conceptosEditar.cpadre" conceptosel="nodo" recargar="conceptosEditar.recargar" rdesc />
            </fieldset>
        </div>

          <div class="col-md-12 form-group ">
            <label>{{"NOMBRE" | translate}}:</label>
            <input name="nombre" class="form-control" type="text" ng-model="conceptosEditar.e_concepto.Nombre" required>
          </div>

          <div class="col-md-12 form-group ">
            <label>{{"DESCRIPCION" | translate}}:</label>
            <textarea class="form-control" type="text" ng-model="conceptosEditar.e_concepto.Descripcion" rows="5" required></textarea>
          </div>

          <div ng-show="isconcepto" class="col-md-12 form-group ">
            <div class="col-md-2">
              <label>{{"FECHA_EXPIRACION" | translate}}:</label>
            </div>
            <div class="col-md-10">
              <div class="input-group date" data-provide="datepicker">
                <md-datepicker md-bcurrent-view="year" md-placeholder="Fecha" ng-model="conceptosEditar.e_concepto.FechaExpiracion"></md-datepicker>
              </div>
            </div>
          </div>

          <div class="col-md-12 form-group ">
            <label>{{"TIPO_TRANSACCION" | translate}}:</label>
            <select ng-model="conceptosEditar.e_detalle" ng-options="i.Nombre for i in conceptosEditar.tipoDetallesTipoT track by i.Id" class="form-control" id="tipoTr">
              <option value="">{{'SELECCIONE'|translate}}</option>
            </select>
            </div>



      </form>
    </div>

        <div ng-if="isconcepto">

          <legend class="text-primary" ng-click="conceptosEditar.mostrar_afectacion_contable()">{{'AFECTACION_CONTABLE' | translate}} <span class="fa fa-plus pull-right" ng-show="!info_afectacion"></span> <span class="fa fa-minus pull-right" ng-show="info_afectacion"></span></legend>

          <div class="panel-body" ng-show="conceptosEditar.info_afectacion">
          <div class="col-md-12 form-group ">
            <label>{{"AFECTACION_CONTABLE" | translate}}:</label>
            <div class="panel panel-default shadow-box">
              <table class="table table-bordered table-responsive table-hover">
                <tr class="text-success">
                  <td>{{"TIPO" | translate}}</td>
                  <td>{{"INGRESO" | translate}}</td>
                  <td>{{"EGRESO" | translate}}</td>
                </tr>
                <tr ng-repeat="tipo_afect in conceptosEditar.e_afectaciones">
                  <td>{{tipo_afect.TipoAfectacion.Nombre}}</td>
                  <td><input ng-model="tipo_afect.AfectacionIngreso" type="checkbox"></td>
                  <td><input ng-model="tipo_afect.AfectacionEgreso" type="checkbox"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>


        <legend class="text-primary" ng-click="conceptosEditar.mostrar_rubros()">{{'RUBROS' | translate}} <span class="fa fa-plus pull-right" ng-show="!info_rubro"></span> <span class="fa fa-minus pull-right" ng-show="info_rubro"></span></legend>

        <div class="panel-body" ng-show="conceptosEditar.info_rubros">
        <div class="col-md-3 form-group ">
            <label>{{"RUBRO" | translate}}:</label>
            <li readonly ng-show="conceptosEditar.e_concepto.Rubro!=undefined">{{conceptosEditar.e_concepto.Rubro.Codigo}} -- {{conceptosEditar.e_concepto.Rubro.Nombre}}
              <span class="text-danger" ng-click="conceptosEditar.e_concepto.Rubro=undefined">&times</span>
            </li>
        </div>
        <div class="col-md-9 form-group ">
            <div class="panel panel-default shadow-box">
              <div ui-grid="conceptosEditar.gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-pagination>
                <div class="watermark" ng-show="!conceptosEditar.hayData">{{'NO_DATA'| translate}}</div>
                <div class="watermark" ng-show="conceptosEditar.cargando">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>
              </div>
            </div>
        </div>
        </div>

        <legend class="text-primary" ng-click="conceptosEditar.mostrar_cuentas_contables()">{{'CUENTAS_CONTABLES' | translate}} <span class="fa fa-plus pull-right" ng-show="!info_cuentas"></span> <span class="fa fa-minus pull-right" ng-show="info_cuentas"></span></legend>
        <div class="panel-body" ng-show="conceptosEditar.info_cuentas">
          <div class="col-md-12 form-group ">
            <label>{{"CUENTAS_CONTABLES" | translate}}:</label>
            <small class="text-muted">{{"CUENTAS_SELECCIONADAS" | translate}}: {{conceptosEditar.e_cuentas.length}}</small>
            <div class="panel panel-default shadow-box" ng-show="conceptosEditar.e_cuentas.length">
              <table class='table table-hover table-bordered'>
                <tr>
                  <th>{{"CODIGO" | translate}}</th>
                  <th>{{"NOMBRE" | translate}}</th>
                  <th>{{"NATURALEZA" | translate}}</th>
                  <th>{{"QUITAR" | translate}}</th>
                </tr>
                <tr ng-repeat="cu in conceptosEditar.e_cuentas">
                  <td>{{cu.Codigo}}</td>
                  <td>{{cu.Nombre}}</td>
                  <td>{{cu.Naturaleza}}</td>
                  <td><span class="badge badge-error" ng-click="conceptosEditar.quitar_cuentas($index)">x</span></td>
                </tr>
              </table>
            </div>
            <fieldset class="form-group">
              <small class="text-muted">{{"SELECCIONAR_CUENTAS_CONTABLES_CONCEPTO" | translate}}</small>
              <plan-cuentas filtro="filtro_padre" seleccion="conceptosEditar.cuenta_contable" recargar="conceptosEditar.recargar_arbol" planid="conceptosEditar.plan_maestro.Id" rdesc btnselnom="btnagregar"/>
            </fieldset>
          </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group col-md-5 col-md-offset-5">
            <div class="col-md-3">
              <button ng-click="conceptosEditar.editar_concepto()"  class="btn btn-success" > {{'BTN.CONFIRMAR' | translate}}</button>
            </div>
            <div class="col-md-2">
              <a href="#/conceptos/listado_conceptos" class="btn btn-danger">{{"BTN.CANCELAR" | translate}}</a>
            </div>
          </div>
        </div>


      <!--pre>{{conceptosEditar.e_afectaciones | json}}</pre -->

    </div>
  </div>
