<div class="panel panel-primary panel-body">
  <h3 class="page-header">
        {{"TIPOS_TRANSACCION" | translate}}
  </h3>
  <div class="panel-body">
    <div class="form-group" >
      <div class="mi-grid" id="mi-grid" ui-grid="listadoTipoTransaccion.tipoTransaccion" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>
    </div>
    <div class="form-group" ng-if="mostrar_direc">
        <proceso edges="aristas" nodes="estados" node="estado" nodeclick="estadoclick" eventclick="funcion(estado)" info="informacion"></proceso>
    </div>
  </div>
<div class="panel-footer" align="center">
    <button type="button" class="btn btn-outline btn-primary" ng-click="listadoTipoTransaccion.crearVersion=false;listadoTipoTransaccion.abrirModal('modalCrear')">{{"BTN.CREAR" | translate}}</button>
</div>
</div>
<div id="modalVer" class="modal fade shadow-box pre-scrollable" role="dialog" style="max-height: 75vh">
  <div class="modal-content col-md-10 col-md-offset-1 margin-modal">
    <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
        {{"DETALLE_TIPO_TRANSACCION"|translate}}
    </div>
      <div class="panel-body">
        <div class="panel panel-default">
        <div class="panel-heading">
          <legend class="text-primary" ng-click="d=!d">
            {{'VERSIONES' | translate}}
            <span class="fa fa-plus pull-right" ng-show="!d"></span>
            <span class="fa fa-minus pull-right" ng-show="d"></span>
          </legend>
        </div>
          <div class="panel-body" ng-if="d">
            <div class="form-group">
              <div class="mi-grid" id="mi-grid" ui-grid="listadoTipoTransaccion.versiones" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>
            </div>
            <div class="col-md-12" ng-if="listadoTipoTransaccion.versionSelec">
              <legend class="text-primary" ng-click="dtt=!dtt">
                {{'DETALLE_TIPO_TRANSACCION' | translate}}
                <span class="fa fa-plus pull-right" ng-show="!dtt"></span>
                <span class="fa fa-minus pull-right" ng-show="dtt"></span>
              </legend>
              <div class="col-md-12" ng-show="dtt">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'NOMBRE' | translate}}</label>
                      <input class="form-control" ng-model="listadoTipoTransaccion.versionSelec.DetalleTipoTransaccion.Nombre" type = "text" ng-disabled="listadoTipoTransaccion.versionDefinitiva"/>
                    </div>
                    <div class="form-group">
                      <label>{{'CLASE' | translate}}</label>
                      <select ng-model="listadoTipoTransaccion.versionSelec.DetalleTipoTransaccion.ClaseTransaccion" ng-options="i.Nombre for i in listadoTipoTransaccion.tipoConceptoTesoral track by i.Id" class="form-control" id="claseTipoTr" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required>
                        <option value="">{{'SELECCIONE'|translate}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'DESCRIPCION' | translate}}</label>
                      <textarea name="descripcionTT" class="form-control form" ng-model="listadoTipoTransaccion.versionSelec.DetalleTipoTransaccion.Descripcion" rows="4" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required>
                      </textarea>
                    </div>
                  </div>
              </div>
            </div>

              <div class="col-md-12" ng-if="listadoTipoTransaccion.versionSelec">
                <legend class="text-primary" ng-click="dv=!dv">
                  {{'DETALLE_VERSION' | translate}}
                  <span class="fa fa-plus pull-right" ng-show="!dv"></span>
                  <span class="fa fa-minus pull-right" ng-show="dv"></span>
                </legend>
                <div class="col-md-12" ng-show="dv">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'DESCRIPCION' | translate}}</label>
                      <textarea name="descripcion" class="form-control form" ng-model="listadoTipoTransaccion.versionSelec.Version.Descripcion" rows="4" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required>
                      </textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="col-md-4">
                          <md-input-container>
                            <label>{{'FECHA_INICIO' | translate}}</label>
                            <md-datepicker id="fecha_Inicio" ng-model="listadoTipoTransaccion.versionSelec.Version.FechaInicio" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required></md-datepicker>
                          </md-input-container>
                        </div>
                          <div class="col-md-4">
                            <md-input-container>
                              <label>{{'FECHA_FIN' | translate}}</label>
                              <md-datepicker ng-model="listadoTipoTransaccion.versionSelec.Version.FechaFin" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required></md-datepicker>
                            </md-input-container>
                          </div>
                          <div class="col-md-4">
                            <label>{{'DEFINITIVA' | translate}}</label>
                            <div class="col-md-12">
                              <md-checkbox aria-label="Definitiva" ng-model="listadoTipoTransaccion.versionSelec.Version.Definitiva" ng-disabled="listadoTipoTransaccion.versionDefinitiva" class="blue"></md-checkbox>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12"  align="center" ng-if="listadoTipoTransaccion.versionSelec">
                <button class="btn btn-outline btn-primary" ng-disabled="listadoTipoTransaccion.versionDefinitiva" ng-click="">{{"BTN.ACTUALIZAR"|translate}}</button>
              </div>
            </div>
            <div class="panel-footer"  align="center">
              <button class="btn btn-outline btn-primary" ng-click="listadoTipoTransaccion.crearVersion = true;listadoTipoTransaccion.abrirModal('modalCrearVersion')">+ {{"VERSION"|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalCrear" class="modal fade" role="dialog">
  <div class="modal-content col-md-10 col-md-offset-1 margin-modal">
      <div class="modal-header">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
            {{"INFORMACION_TIPO_TRANSACCION"|translate}}
        </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                  <label>{{'NOMBRE' | translate}}</label>
                  <input class="form-control" ng-model="listadoTipoTransaccion.tipoTr.Nombre" type = "text"/>
              </div>
              <div class="col-md-6">
                  <label>{{'DESCRIPCION' | translate}}</label>
                  <input class="form-control" ng-model="listadoTipoTransaccion.tipoTr.Descripcion" type = "text"/>
              </div>
              <div class="col-md-6">
                  <label>{{'CLASE' | translate}}</label>
                  <select ng-model="listadoTipoTransaccion.tipoTr.ClaseTransaccion" ng-options="i.Nombre for i in listadoTipoTransaccion.tipoConceptoTesoral" class="form-control" id="claseTipoTr" required>
                    <option value="">{{'SELECCIONE'|translate}}</option>
                  </select>
              </div>
              <div class="col-md-6">
                <div class="col-md-6">
                  <md-input-container>
                    <label>{{'FECHA_INICIO' | translate}}</label>
                      <md-datepicker id="fecha_Inicio" ng-model="listadoTipoTransaccion.tipoTr.FechaInicio" required></md-datepicker>
                  </md-input-container>
                    </div>
                    <div class="col-md-6">
                      <md-input-container>
                      <label>{{'FECHA_FIN' | translate}}</label>
                      <md-datepicker ng-model="listadoTipoTransaccion.tipoTr.FechaFin"required></md-datepicker>
                      </md-input-container>
                    </div>
              </div>
            </div>
          </div>
          <div class="panel-footer"  align="center">
            <button class="btn btn-outline btn-primary" ng-click="listadoTipoTransaccion.registrar()">{{"BTN.REGISTRAR"|translate}}</button>
          </div>
      </div>
  </div>
</div>

<div id="modalCrearVersion" class="modal fade" role="dialog">
  <div class="modal-content col-md-10 col-md-offset-1 margin-modal">
      <div class="modal-header">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
            {{"INFORMACION_TIPO_TRANSACCION"|translate}}
        </div>
          <div class="panel-body">
            <div class="col-md-12">
              <legend class="text-primary" ng-click="dtt=!dtt">
                {{'DETALLE_TIPO_TRANSACCION' | translate}}
                <span class="fa fa-plus pull-right" ng-show="!dtt"></span>
                <span class="fa fa-minus pull-right" ng-show="dtt"></span>
              </legend>
              <div class="col-md-12" ng-show="dtt">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'NOMBRE' | translate}}</label>
                      <input class="form-control" ng-model="listadoTipoTransaccion.tipoTr.Nombre" type = "text" ng-disabled="listadoTipoTransaccion.versionDefinitiva"/>
                    </div>
                    <div class="form-group">
                      <label>{{'CLASE' | translate}}</label>
                      <select ng-model="listadoTipoTransaccion.tipoTr.ClaseTransaccion" ng-options="i.Nombre for i in listadoTipoTransaccion.tipoConceptoTesoral track by i.Id" class="form-control" id="claseTipoTr" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required>
                        <option value="">{{'SELECCIONE'|translate}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'DESCRIPCION' | translate}}</label>
                      <textarea name="descripcionTT" class="form-control form" ng-model="listadoTipoTransaccion.tipoTr.Descripcion" rows="4" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required>
                      </textarea>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-md-12">
              <legend class="text-primary" ng-click="dv=!dv">
                {{'DETALLE_VERSION' | translate}}
                <span class="fa fa-plus pull-right" ng-show="!dv"></span>
                <span class="fa fa-minus pull-right" ng-show="dv"></span>
              </legend>
              <div class="col-md-12" ng-show="dv">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>{{'DESCRIPCION' | translate}}</label>
                    <textarea name="descripcion" class="form-control form" ng-model="listadoTipoTransaccion.versionTr.Descripcion" rows="4" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required>
                    </textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="col-md-4">
                        <md-input-container>
                          <label>{{'FECHA_INICIO' | translate}}</label>
                          <md-datepicker id="fecha_Inicio" ng-model="listadoTipoTransaccion.versionTr.FechaInicio" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required></md-datepicker>
                        </md-input-container>
                      </div>
                        <div class="col-md-4">
                          <md-input-container>
                            <label>{{'FECHA_FIN' | translate}}</label>
                            <md-datepicker ng-model="listadoTipoTransaccion.versionTr.FechaFin" ng-disabled="listadoTipoTransaccion.versionDefinitiva" required></md-datepicker>
                          </md-input-container>
                        </div>
                        <div class="col-md-4">
                          <label>{{'DEFINITIVA' | translate}}</label>
                          <div class="col-md-12">
                            <md-checkbox aria-label="Definitiva" ng-model="listadoTipoTransaccion.versionTr.Definitiva" ng-disabled="listadoTipoTransaccion.versionDefinitiva" class="blue"></md-checkbox>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer"  align="center">
            <button class="btn btn-outline btn-primary" ng-click="listadoTipoTransaccion.registrar()">{{"BTN.REGISTRAR"|translate}}</button>
          </div>
      </div>
  </div>
</div>
