<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'INGRESOS_SIN_SF' | translate }}</h2>

<div class="panel-body" >
  <div class="col-md-4">
  <div class="panel panel-default">
  <div class="panel-body">
<form name="datosOblig">
    <div class="form-group">
      <label for="unidadejecutora">{{'UNIDAD_EJECUTORA' | translate}}</label>
      <select class="form-control" ng-model="ingresosSinSitFnReg.unidadejecutora" ng-options="op as op.Nombre for op in ingresosSinSitFnReg.unidadesejecutoras" required>
        <option value="">{{'UNIDAD_EJECUTORA' | translate}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">{{'VIGENCIA'|translate}}</label>
      <select ng-model="ingresosSinSitFnReg.vigencia" ng-options="i for i in ingresosSinSitFnReg.anos" class="form-control" required>
        <option value="">{{'VIGENCIA'|translate}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">{{'VALOR'|translate}}</label>
      <input class="form-control input_right" type="text" ng-model="ingresosSinSitFnReg.valor" ui-money-mask="0" placeholder="$" required></input>
    </div>
</form>
  </div>
</div>
</div>
<div class="col-md-8">
    <rubros-consulta  botones="ingresosSinSitFnReg.botones" recargar="ingresosSinSitFnReg.recarga_arbol" ramasel="true" rubrosel="ingresosSinSitFnReg.rubroSeleccionado" filtro="ingresosSinSitFnReg.filtro_rubro"></rubros-consulta>
</div>
</div>
<div class="panel-footer">
  <div align="center">
    <button class="btn btn-outline btn-info" ng-click= "ingresosSinSitFnReg.registrar()">{{'BTN.REGISTRAR'|translate}}</button>
  </div>
</div>
</div>
