<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'INVERSIONES' | translate }}</h2>

<div class="panel-body" >
  <legend class="text-primary" ng-click="actaComprainv.abrir_panel('info_basica')">
    {{'TITULOS' | translate}}
    <span class="fa fa-plus pull-right" ng-show="actaComprainv.panel_abierto !== 'info_basica'"></span>
    <span class="fa fa-minus pull-right" ng-show="actaComprainv.panel_abierto === 'info_basica'"></span>
  </legend class="text-primary">
  <div ng-show="actaComprainv.panel_abierto === 'info_basica'" >
    <form name=formulario.datosOblig>
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-6">

            <div class="form-group">
              <label for="vendedor" class="control-label">{{'VENDEDOR'|translate}}</label>
              <select ng-model="actaComprainv.vendedor" ng-options="i.NombreBanco for i in actaComprainv.bancos track by i.Id" class="form-control" id="vendedor" required>
                <option value="">{{'SELECCIONAR'|translate}} {{'VENDEDOR'|translate}}</option>
              </select>
            </div>


            <div class="form-group">
              <label class="control-label">{{'TIPO'|translate}}</label>
              <select ng-model="actaComprainv.tipo" ng-options="i.Nombre for i in actaComprainv.titulos track by i.Id" class="form-control" id="tipo" required>
                <option value="">{{'SELECCIONAR'|translate}} {{'TIPO'|translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>{{'TRM' | translate}}</label>
              <input type="text" class="form-control input_left" ng-model="actaComprainv.trm" placeholder="{{'TRM' | translate}}" ui-money-mask="0" required/>
            </div>

            <div class="form-group">
              <label class="control-label">{{'VALOR_NOMINAL_SALDO'|translate}}</label>
              <input type="text" class="form-control input_left" ng-model="actaComprainv.ValorNomSaldo" placeholder="{{'VALOR_NOMINAL_SALDO' | translate}}" ui-money-mask="0" required/>
          </div>

          <div class="form-group">
            <label class="control-label">{{'VALOR_ACTUAL'|translate}}</label>
            <input type="text" class="form-control input_left" ng-model="actaComprainv.ValorActual" placeholder="{{'VALOR_ACTUAL'|translate}}" ui-money-mask="0" required/>
        </div>

          <div class="form-group">
            <label class="control-label" for="fechaCompra">{{'FECHA_COMPRA'|translate}}</label>
            <br>
            <md-datepicker ng-model="actaComprainv.fechaCompra" md-placeholder="{{'FECHA_COMPRA'|translate}}"></md-datepicker>
          </div>

          <div class="form-group">
            <label class="control-label" for="fechaVencimiento">{{'FECHA_VENCIMIENTO'|translate}}</label>
            <br>
            <md-datepicker ng-model="actaComprainv.fechaVencimiento" md-placeholder="{{'FECHA_VENCIMIENTO'|translate}}"></md-datepicker>
          </div>

          <div class="form-group">
            <label for="unidadejecutora">{{'UNIDAD_EJECUTORA' | translate}}</label>
            <select class="form-control" ng-model="actaComprainv.unidadejecutora" ng-options="op as op.Nombre for op in actaComprainv.unidadesejecutoras track by op.Id" required>
                          </select>
          </div>
        </div>

          <div class="col-md-6">


            <div class="form-group">
              <label for="emisor" class="control-label">{{'EMISOR'|translate}}</label>
              <select ng-model="actaComprainv.emisor" ng-options="i.NombreBanco for i in actaComprainv.bancos track by i.Id" class="form-control" required>
                <option value="">{{'SELECCIONAR'|translate}} {{'EMISOR'|translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="noperacion" class="control-label">{{'NUMERO_OPERACION'|translate}}</label>
                <input type="text" class="form-control input_left" ng-model="actaComprainv.NumOperacion" placeholder="{{'NUMERO_OPERACION'|translate}}" ui-number-mask="0" required/>
            </div>

            <div class="form-group">
              <label class="control-label">{{'TASA_NOMINAL'|translate}}</label>
              <input type="text" class="form-control input_left" ng-model="actaComprainv.tasaNominal" placeholder="{{'TASA'|translate}} {{'NOMINAL'|translate}}" ui-percentage-mask="4" required/>
            </div>
            <div class="form-group">
              <label class="control-label"> {{'VALOR_NOM_SALDO_MON_NAL'|translate}}</label>
              <input type="text" class="form-control input_left" ng-model="actaComprainv.ValorNomSaldoMonNal" placeholder="{{'VALOR_NOM_SALDO_MON_NAL'|translate}}" ui-money-mask="0" required/>
            </div>
            <div class="form-group">
              <label class="control-label">{{'VALOR_NETO_GIRAR'|translate}}</label>
              <input type="text" class="form-control input_left" ng-model="actaComprainv.ValorNetoGirar" placeholder="{{'VALOR_NETO_GIRAR'|translate}}" ui-money-mask="0" required/>
            </div>
            <div class="form-group">
              <label class="control-label" for="fechaRedencion">{{'FECHA_REDENCION'|translate}}</label>
              <br>
              <md-datepicker ng-model="actaComprainv.fechaRedencion" md-placeholder="{{'FECHA_REDENCION'|translate}}" required></md-datepicker>
            </div>

            <div class="form-group">
              <label class="control-label" for="fechaEmision">{{'FECHA_EMISION'|translate}}</label>
              <br>
              <md-datepicker ng-model="actaComprainv.fechaEmision" md-placeholder="{{'FECHA_EMISION'|translate}}" required></md-datepicker>
            </div>

            <div class="form-group">
              <label for="unidadejecutora">{{'VIGENCIA' | translate}}</label>
              <select class="form-control" ng-model="actaComprainv.vigencia" ng-options="i as i for i in actaComprainv.vigencias" required>
                <option value="">{{'SELECCIONAR_VIGENCIA'|translate}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <label for="observaciones">{{'OBSERVACIONES' | translate}}</label>
            <textarea name="observaciones" class="form-control" rows="4" cols="40" ng-model="actaComprainv.observaciones"  required></textarea>
          </div>

        </div>
      </div>
    </div>
  </form>
  </div>
</div>

  <div class="panel-body" >
    <legend class="text-primary" ng-click="actaComprainv.abrir_panel('concepto')">
      {{'CONCEPTOS' | translate}}
      <span class="fa fa-plus pull-right" ng-show="actaComprainv.panel_abierto !== 'concepto'"></span>
      <span class="fa fa-minus pull-right" ng-show="actaComprainv.panel_abierto === 'concepto'"></span>
    </legend class="text-primary">
    <div ng-if="actaComprainv.panel_abierto === 'concepto'" >

      <div class="col-md-12" form-group >
         <fieldset class="form-group">
        <arbol-conceptos filtro="actaComprainv.filtro_ingresos" seleccion="actaComprainv.concepto[0]" conceptosel="nodo" recargar="actaComprainv.recargar" rdesc > </arbol-conceptos>
       </fieldset>
      </div>


  </div>
</div>

<div class="panel-body" >
  <legend class="text-primary" ng-show="actaComprainv.concepto[0]" ng-click="actaComprainv.abrir_panel('afectacion')">
    {{'AFECTACION_PRESUPUESTAL' | translate}}
    <span class="fa fa-plus pull-right" ng-show="actaComprainv.panel_abierto !== 'afectacion'"></span>
    <span class="fa fa-minus pull-right" ng-show="actaComprainv.panel_abierto === 'afectacion'"></span>
  </legend class="text-primary">
    <div class="col-md-12" ng-if="actaComprainv.panel_abierto === 'afectacion'">
      <div class="row">
        <!--label for="afectacion">{{'AFECTACION_PRESUPUESTAL' | translate}}</label-->
        <div class="panel-default panel-body">
          <ul class="list-unstyled">
            <li><b>{{'RUBRO' | translate}}:</b> {{actaComprainv.concepto[0].Rubro.Codigo+" / "+actaComprainv.concepto[0].Rubro.Nombre}}
              <ul>
                <li>
                  <div class="col-md-4" style="width:148px">
                    <label for="valAfectacion">{{'VALOR_AFECTACION' | translate}}:</label>
                  </div>
                  <div class="col-md-4" style="width:200px">
                    <span class="form-control" style="height:25px">{{actaComprainv.ValorNetoGirar|currency}}</span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>



  <div class="panel-body" >
        <legend class="text-primary" ng-show="actaComprainv.concepto[0]"  ng-click="actaComprainv.abrir_panel('cuentas')">
          {{'CUENTAS_CONTABLES' | translate}}
          <span class="fa fa-plus pull-right" ng-show="actaComprainv.panel_abierto !== 'cuentas'"></span>
          <span class="fa fa-minus pull-right" ng-show="actaComprainv.panel_abierto === 'cuentas'"></span>
        </legend class="text-primary">

      <div class="col-sm-12" ng-if="actaComprainv.panel_abierto === 'cuentas'">
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li ng-class="{active: selected == c.Id}" ng-repeat="c in actaComprainv.concepto"><a href ng-click="actaComprainv.selected=c.Id" data-toggle="tab">
                                Concepto: [ {{c.Codigo}} ]  {{c.Nombre}}</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" ng-repeat="c in actaComprainv.concepto" ng-show="actaComprainv.selected==c.Id">
              <movimientos-contables conceptoid="c.Id" movimientos="actaComprainv.movs" monto="actaComprainv.ValorNetoGirar" editable validatemov="c.validado">
              </movimientos-contables>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="panel-body" ng-if='actaComprainv.pactoVenta'>
    <legend class="text-primary" ng-click="d=!d">
      {{'PACTO_VENTA'|translate}}
      <span class="fa fa-plus pull-right" ng-show="!d"></span>
      <span class="fa fa-minus pull-right" ng-show="d"></span>
    </legend class="text-primary">
    <div class="panel-body row" ng-show="d">
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label">{{'VALOR_RECOMPRA'|translate}}</label>
          <input type="text" class="form-control" ng-model="actaComprainv.valorRecompra" placeholder="{{'VALOR_RECOMPRA'|translate}}" ui-money-mask="0" required/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="comprador" class="control-label">{{'COMPRADOR'|translate}}</label>
          <select ng-model="actaComprainv.comprador" ng-options="i.NomProveedor for i in actaComprainv.terceros track by i.Id" class="form-control" required>
            <option value="">{{'SELECCIONAR'|translate}} {{'COMPRADOR'|translate}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label col-sm-4 pull-left" for="fechaVenta">{{'FECHA_VENTA'|translate}}</label>
          <md-datepicker ng-model="actaComprainv.fechaVenta" md-placeholder="{{'FECHA_VENTA'|translate}}"></md-datepicker>
        </div>
          <label class="control-label col-sm-4" for="fechaPacto">{{'FECHA_PACTO'|translate}}</label>
          <md-datepicker ng-model="actaComprainv.fechaPacto" md-placeholder="{{'FECHA_PACTO'|translate}}"></md-datepicker>
      </div>
    </div>
    </div>

    <div class="panel-footer">
      <div align="center">
        <button  class="btn btn-outline btn-info" ng-click="actaComprainv.registrarInversion()"> {{ 'BTN.REGISTRAR' | translate }} </button>
      </div>
    </div>

  </div>
