<div ng-show="!inputvisible">

  <div class="panel-body">
    <div ng-if="!refresh" ui-grid="d_opMultiSelectDetail.gridOptions_op_detail" ui-grid-selection></div>
    <br/>
    <div class="form-horizontal">
      <div class="form-group">
        <label ng-show=" d_opMultiSelectDetail.formaPago == 'AC'" class="control-label col-sm-2">{{'TOTAL' | translate}} {{'ABONO_CUENTA' | translate}}</label>
        <label ng-show=" d_opMultiSelectDetail.formaPago == 'CH'" class="control-label col-sm-2">{{'TOTAL' | translate}} {{'CHEQUE' | translate}}</label>
        <label ng-show=" d_opMultiSelectDetail.formaPago == 'EF'" class="control-label col-sm-2">{{'TOTAL' | translate}} {{'EFECTIVO' | translate}}</label>
        <label ng-show=" d_opMultiSelectDetail.formaPago == 'ND'" class="control-label col-sm-2">{{'TOTAL' | translate}} {{'NOTA_DEVITO' | translate}}</label>
        <div class="col-sm-10">
          <span class="form-control input_right" readonly>{{d_opMultiSelectDetail.total | currency:"$":2  }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="formapago" class="col-sm-2 control-label">{{'CUENTA_BANCARIA' | translate }}</label>
        <div class=" col-sm-10">
          <div ui-grid="d_opMultiSelectDetail.gridOptions_cuenta_bancaria" ui-grid-selection ui-grid-pagination></div>
        </div>
      </div>
    </div>
  </div>
  <div align="center">
    <a class="btn btn-info btn-outline" ng-click="d_opMultiSelectDetail.regresar()">
      {{ 'BTN.REGRESAR' | translate }}
    </a>
    <a class="btn btn-info btn-outline" ng-click="d_opMultiSelectDetail.confirmar()">
      {{ 'BTN.CONFIRMAR' | translate }}
    </a>
  </div>

</div>
