<div ng-show="outputvisible">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2">{{'TIPO' | translate}}</label>
      <div class="col-sm-4">
        <select ng-model="d_opMultiSelect.tipoOrdenPagoSelect" ng-options="i.CodigoAbreviacion for i in d_opMultiSelect.tipoOrdenPagoData" ng-change="d_opMultiSelect.consultar()" class="form-control" required>
          <option value="">Seleccionar Tipo OP</option>
        </select>
      </div>
      <label class="control-label col-sm-2">{{'FORMA_PAGO' | translate}}</label>
      <div class="col-sm-4">
        <select ng-model="d_opMultiSelect.formaPagoSelect" ng-options="i.Nombre for i in d_opMultiSelect.formaPagoData" ng-change="d_opMultiSelect.consultar()" class="form-control" required>
          <option value="">Seleccionar forma pago</option>
        </select>
      </div>
    </div>
  </div>

  <div class="panel-default">
    <div ng-if="!refresh" ui-grid="d_opMultiSelect.gridOptions_op" ui-grid-auto-resize ui-grid-selection></div>
  </div>

  <div align="center" class="panel-footer">
    <a class="btn btn-info btn-outline" ng-click="d_opMultiSelect.confirmar()">
      {{ 'BTN.CONFIRMAR' | translate }}
    </a>
  </div>
</div>
