<div ng-show="!inputvisible">

  <div class="panel-body">
    <div ng-if="!refresh" ui-grid="d_opMultiSelectDetail.gridOptions_op_detail" ui-grid-selection ui-grid-auto-resize></div>
    <br/>

    <div class="form-horizontal">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-sm-2">{{'NO_CRP' | translate}}</label>
          <div class="col-sm-4">
            <select ng-model="tipogiro" class="form-control" required>
          <option value="">Seleccionar Tipo Giro</option>
          <option value="TRANS_BANCARIA">TRANS. BANCARIA</option>
          <option value="CHEQUE">CHEQUE</option>
        </select>
          </div>
          <label class="control-label col-sm-2">{{'NO_CRP' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control">{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.NumeroRegistroPresupuestal}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">{{'VIGENCIA' | translate}}</label>
          <div class="col-sm-10">
            <span class="form-control">{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.Vigencia}}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-sm-3">{{'TOTAL' | translate}}</label>
          <div class="col-sm-9">
            <span class="form-control">{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.Vigencia}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div align="center">
    <a class="btn btn-info btn-outline" ng-click="d_opMultiSelect.confirmar()">
      OPERAR
    </a>
    <a class="btn btn-info btn-outline" ng-click="d_opMultiSelect.confirmar()">
      OPERAR
    </a>
  </div>

</div>
