<div ng-show="!inputvisible">

  <div class="panel-body">
    <div ng-if="!refresh" ui-grid="d_opMultiSelectDetail.gridOptions_op_detail" ui-grid-selection ui-grid-auto-resize></div>
    <br/>

    <div class="form-horizontal">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-sm-2">{{'TIPO' | translate}} {{'GIRO' | translate}}</label>
          <div class="col-sm-4">
            <select ng-model="tipogiro" class="form-control" required>
          <option value="">Seleccionar Tipo Giro</option>
          <option value="TRANS_BANCARIA">TRANS. BANCARIA</option>
          <option value="CHEQUE">CHEQUE</option>
        </select>
          </div>
          <label class="control-label col-sm-2">{{'TIPO' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control">{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.NumeroRegistroPresupuestal}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">{{'SUCURSAL' | translate}}</label>
          <div class="col-sm-10">
            <span class="form-control">{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.Vigencia}}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-sm-3">{{'TOTAL' | translate}} {{'ABONO_CUENTA' | translate}}</label>
          <div class="col-sm-9">
            <span class="form-control input_right">{{d_opMultiSelectDetail.total_abono_cuenta | currency:"$":2  }}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">{{'TOTAL' | translate}} {{'CHEQUE' | translate}}</label>
          <div class="col-sm-9">
            <span class="form-control input_right">{{d_opMultiSelectDetail.total_cheque | currency:"$":2  }}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">{{'TOTAL' | translate}} {{'EFECTIVO' | translate}}</label>
          <div class="col-sm-9">
            <span class="form-control input_right">{{d_opMultiSelectDetail.total_efectivo | currency:"$":2 }}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">{{'TOTAL' | translate}} {{'NOTA_DEVITO' | translate}}</label>
          <div class="col-sm-9">
            <span class="form-control input_right">{{d_opMultiSelectDetail.total_nota_debito | currency:"$":2 }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div align="center">
    <a class="btn btn-info btn-outline" ng-click="d_opMultiSelectDetail.regresar()">
      {{ 'BTN.REGRESAR' | translate }}
    </a>
    <a class="btn btn-info btn-outline" ng-click="d_opMultiSelectDetail.confirmar()">
      {{ 'BTN.CONFIRMAR' | translate }}
    </a>
  </div>

</div>
