<div class="row">
  <!--detalle Unidad Ejecutora-->
  <div>
      <div class="panel-heading" ng-click="panelUnidadEjecutora = !panelUnidadEjecutora">
          <legend class="text-primary">Detalle Unidad Ejecutora
            <span class="fa fa-plus pull-right" ng-click="info_ue=true" ng-show="!info_ue"></span>
            <span class="fa fa-minus pull-right" ng-click="info_ue=false" ng-show="info_ue"></span>
          </legend class="text-primary">
      </div>
      <div ng-show="panelUnidadEjecutora" class="panel-body">
        <table class="table">
          <tr>
            <th>Unidad Ejecutora</th>
            <td>{{d_opProveedorVerPorId.orden_pago[0].UnidadEjecutora.Nombre}}</td>
          </tr>
          <tr>
            <th>Unidad Ejecutora Descripción</th>
            <td>{{d_opProveedorVerPorId.orden_pago[0].UnidadEjecutora.Descripcion}}</td>
          </tr>
          <tr>
            <th>Entidad</th>
            <td>{{d_opProveedorVerPorId.orden_pago[0].UnidadEjecutora.Entidad.Nombre}}</td>
          </tr>
          <tr>
            <th>Entidad Código</th>
            <td>{{d_opProveedorVerPorId.orden_pago[0].UnidadEjecutora.Entidad.CodigoEntidad}}</td>
          </tr>
        </table>
      </div>
  </div>
  <!--detalle Proveedor-->
  <div>
      <div class="panel-heading" ng-click="panelProveedor = !panelProveedor">
          <legend class="text-primary">Detalle Proveedor
            <span class="fa fa-plus pull-right" ng-click="info_prov=true" ng-show="!info_prov"></span>
            <span class="fa fa-minus pull-right" ng-click="info_prov=false" ng-show="info_prov"></span>
          </legend class="text-primary">
      </div>
      <div ng-show="panelProveedor" class="panel-body"  >
        <table class="table">
          <tr>
            <th>Tipo Persona</th>
            <td>{{d_opProveedorVerPorId.proveedor[0].Tipopersona}}</td>
          </tr>
          <tr>
            <th>No. Documento</th>
            <td>{{d_opProveedorVerPorId.proveedor[0].NumDocumento}}</td>
          </tr>
          <tr>
            <th>Nombre</th>
            <td>{{d_opProveedorVerPorId.proveedor[0].NomProveedor}}</td>
          </tr>
          <tr>
            <th>Dirección</th>
            <td>{{d_opProveedorVerPorId.proveedor[0].Direccion}}</td>
          </tr>
          <tr>
            <th>Teléfono</th>
            <td>{{d_opProveedorVerPorId.tel_proveedor.IdTelefono.NumeroTel}}</td>
          </tr>
          <tr>
            <th>Cuenta Bancaria</th>
            <td>{{d_opProveedorVerPorId.proveedor[0].NumCuentaBancaria}}</td>
          </tr>
          <tr>
            <th>Sucursal</th>
            <td>{{d_opProveedorVerPorId.banco_proveedor.NombreBanco}}</td>
          </tr>
          <tr>
            <th>Tipo Cuenta</th>
            <td>{{d_opProveedorVerPorId.proveedor[0].TipoCuentaBancaria}}</td>
          </tr>
        </table>
      </div>
  </div>
  <!--Detalle RP-->
  <div>
      <div class="panel-heading" ng-click="panelRp = !panelRp">
          <legend class="text-primary">Detalle RP
            <span class="fa fa-plus pull-right" ng-click="info_rp=true" ng-show="!info_rp"></span>
            <span class="fa fa-minus pull-right" ng-click="info_rp=false" ng-show="info_rp"></span>
          </legend class="text-primary">
      </div>
      <div ng-show="panelRp" class="panel-body">
        <table class="table">
          <tr>
            <th>Vigencia</th>
            <td>{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Vigencia}}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Estado.Nombre}}</td>
          </tr>
          <tr>
            <th>No. RP</th>
            <td>{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.NumeroRegistroPresupuestal}}</td>
          </tr>
          <tr>
            <th>Responsable</th>
            <td>{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Responsable}}</td>
          </tr>
          <tr>
            <th>Valor RP</th>
            <td>{{d_opProveedorVerPorId.valor_total_rp | currency}}</td>
          </tr>
          <tr>
            <th>No. Disponibilidad Presupuestal</th>
            <td>{{d_opProveedorVerPorId.rp_detalle[0].DisponibilidadApropiacion.Disponibilidad.NumeroDisponibilidad}}</td>
          </tr>
          <tr>
            <th>Compromiso</th>
            <td>{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Compromiso.TipoCompromisoTesoral.Nombre}}</td>
          </tr>
          <tr>
            <th>Descripción Compromiso</th>
            <td>{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Compromiso.Objeto}}</td>
          </tr>
        </table>
      </div>
  </div>
  <!--Valor del Pago-->
  <div>
      <div class="panel-heading" ng-click="panelDetallePagoProveedor = !panelDetallePagoProveedor">
        <legend class="text-primary">Detalle del Pago
          <span class="fa fa-plus pull-right" ng-click="info_pago=true" ng-show="!info_pago"></span>
          <span class="fa fa-minus pull-right" ng-click="info_pago=false" ng-show="info_pago"></span>
        </legend class="text-primary">
      </div>
      <div ng-show="panelDetallePagoProveedor" class="panel-body"  >
        <table class="table">
          <tr>
            <th>Tipo Documento</th>
            <td> <input class="input_right" style="border: none;" ng-model="d_opProveedorVerPorId.orden_pago[0].TipoOrdenPago.Nombre" disabled="true"/></td>
          </tr>
          <tr>
            <th>Valor Base Retención</th>
            <td><input class="input_right" style="border: none;" ng-model="d_opProveedorVerPorId.orden_pago[0].ValorBase" ui-number-mask disabled="true"/></td>
          </tr>
          <tr>
            <th>% IVA</th>
            <td><input class="input_right" style="border: none;" ng-model="d_opProveedorVerPorId.orden_pago[0].Iva.Valor" ui-number-mask disabled="true"/></td>
          </tr>
          <tr>
            <th>Valor IVA</th>
            <td><input class="input_right" ng-model="d_opProveedorVerPorId.ValorIva" ui-number-mask disabled="true"/></td>
          </tr>
          <tr>
            <th>Valor Bruto</th>
            <td> <input  class="input_right" style="border: none;" ng-model="d_opProveedorVerPorId.ValorBruto" ui-number-mask disabled="true"/></td>
          </tr>
        </table>

      </div>
  </div>
  <!--detalle rubro-->
  <div>
      <div class="panel-heading" ng-click="panelDetalleRubro = !panelDetalleRubro">
          <legend class="text-primary">Detalle Rubro
            <span class="fa fa-plus pull-right" ng-click="info_rubro=true" ng-show="!info_rubro"></span>
            <span class="fa fa-minus pull-right" ng-click="info_rubro=false" ng-show="info_rubro"></span>
          </legend class="text-primary">
      </div>
      <div ng-show="panelDetalleRubro" class="panel-body">
        <table class="table">
          <thead>
            <th>Código</th>
            <th>Vigencia</th>
            <th>Descripción</th>
            <!--<th>Registro presupuestal</th>
            <th>Valor</th>
          <thead>
          <th>Saldo</th>-->
          <tbody ng-repeat="i in d_opProveedorVerPorId.rubros">
            <tr>
              <td>{{i.Codigo}}</td>
              <td>{{i.Vigencia}}</td>
              <td>{{i.Descripcion}}</td>
              <!--<td></td>
              <td></td>
              <td></td> -->
            </tr>
          </tbody>
        </table>

      </div>
  </div>

  <!--detalle concepto-->
  <div>
      <div class="panel-heading" ng-click="panelDetalleConceptos = !panelDetalleConceptos">
          <legend class="text-primary">Detalle de los Conceptos
            <span class="fa fa-plus pull-right" ng-click="info_concep=true" ng-show="!info_concep"></span>
            <span class="fa fa-minus pull-right" ng-click="info_concep=false" ng-show="info_concep"></span>
          </legend class="text-primary">
      </div>
      <div ng-show="panelDetalleConceptos" class="panel-body"  >
        <table class="table">
          <thead>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Rubro</th>
            <th>Afectacion</th>
          <thead>
          <tbody ng-repeat="i in d_opProveedorVerPorId.conceptos">
            <tr>
              <td>{{i.Concepto.Codigo}}</td>
              <td>{{i.Concepto.Nombre}}</td>
              <td>{{i.Concepto.Descripcion}}</td>
              <td>{{i.Concepto.TipoConcepto.Nombre}}</td>
              <td>{{i.Concepto.Rubro.Codigo}}</td>
              <td>{{i.Valor}}</td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
  <!--detalle Cuenta Contable-->
  <div>
      <div class="panel-heading" ng-click="panelDetalleCuentas = !panelDetalleCuentas">
          <legend class="text-primary">Detalle Cuentas Contables
            <span class="fa fa-plus pull-right" ng-click="info_movimientos=true" ng-show="!info_movimientos"></span>
            <span class="fa fa-minus pull-right" ng-click="info_movimientos=false" ng-show="info_movimientos"></span>
          </legend class="text-primary">
      </div>
      <div ng-show="panelDetalleCuentas" class="panel-body">
        <movimientos-contables-op-detalle codigodocumentoafectante="d_opProveedorVerPorId.orden_pago[0].Id">
        </movimientos-contables-op-detalle>
      </div>
  </div>

</div>
