<!--detalle Unidad Ejecutora-->
<legend class="text-primary" ng-click="panelUnidadEjecutora=!panelUnidadEjecutora">
  {{'UNIDAD_EJECUTORA' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelUnidadEjecutora"></span>
  <span class="fa fa-minus pull-right" ng-show="panelUnidadEjecutora"></span>
</legend class="text-primary">
<div ng-show="panelUnidadEjecutora" class="panel-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1">{{'UNIDAD_EJECUTORA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.orden_pago[0].UnidadEjecutora.Nombre}}</span>
      </div>
      <label class="control-label col-sm-1">{{'DESCRIPCION' | translate}}</label>
      <div class="col-sm-5">
        <textarea readonly class="form-control">{{d_opProveedorUpdatePorId.orden_pago[0].UnidadEjecutora.Descripcion}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'ENTIDAD' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.orden_pago[0].UnidadEjecutora.Entidad.Nombre}}</span>
      </div>
      <label class="control-label col-sm-1">{{'CODIGO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.orden_pago[0].UnidadEjecutora.Entidad.CodigoEntidad}}</span>
      </div>
    </div>
  </div>
</div>
<!--detalle Proveedor-->
<legend class="text-primary" ng-click="panelProveedor=!panelProveedor">
  {{'PROVEEDOR' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelProveedor"></span>
  <span class="fa fa-minus pull-right" ng-show="panelProveedor"></span>
</legend class="text-primary">
<div ng-show="panelProveedor" class="panel-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1">{{'TIPO_PERSONA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.proveedor[0].Tipopersona}}</span>
      </div>
      <label class="control-label col-sm-1">{{'NO_DOCUMENTO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.proveedor[0].NumDocumento}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'NOMBRE' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.proveedor[0].NomProveedor}}</span>
      </div>
      <label class="control-label col-sm-1">{{'DIRECCION' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.proveedor[0].Direccion}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'TELEFONO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.tel_proveedor.IdTelefono.NumeroTel}}</span>
      </div>
      <label class="control-label col-sm-1">{{'CUENTA_BANCARIA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.proveedor[0].NumCuentaBancaria}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'SUCURSAL' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.banco_proveedor.NombreBanco}}</span>
      </div>
      <label class="control-label col-sm-1">{{'TIPO_CUENTA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.proveedor[0].TipoCuentaBancaria}}</span>
      </div>
    </div>
  </div>
</div>
<!--Detalle RP-->
<legend class="text-primary" ng-click="panelRp=!panelRp">
  {{'REGISTRO_PRESUPUESTAL' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelRp"></span>
  <span class="fa fa-minus pull-right" ng-show="panelRp"></span>
</legend class="text-primary">
<div ng-show="panelRp" class="panel-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1">{{'VIGENCIA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.rp_detalle[0].RegistroPresupuestal.Vigencia}}</span>
      </div>
      <label class="control-label col-sm-1">{{'ESTADO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.rp_detalle[0].RegistroPresupuestal.Estado.Nombre}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'NO_CRP' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.rp_detalle[0].RegistroPresupuestal.NumeroRegistroPresupuestal}}</span>
      </div>
      <label class="control-label col-sm-1">{{'RESPONSABLE' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.rp_detalle[0].RegistroPresupuestal.Responsable}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'VALOR_CRP' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control input_right">{{d_opProveedorUpdatePorId.valor_total_rp | currency}}</span>
      </div>
      <label class="control-label col-sm-1">{{'NO_CDP' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.rp_detalle[0].DisponibilidadApropiacion.Disponibilidad.NumeroDisponibilidad}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'COMPROMISO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.rp_detalle[0].RegistroPresupuestal.Compromiso.TipoCompromisoTesoral.Nombre}}</span>
      </div>
      <label class="control-label col-sm-1">{{'DESCRIPCION_COMPROMISO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorUpdatePorId.rp_detalle[0].RegistroPresupuestal.Compromiso.Objeto}}</span>
      </div>
    </div>
  </div>
</div>
<!--detalle pago -->
<op-proveedor-detalle-pago
  tipoordenpago="d_opProveedorUpdatePorId.orden_pago[0].TipoOrdenPago"
  iva="d_opProveedorUpdatePorId.orden_pago[0].Iva"
  valorbase="d_opProveedorUpdatePorId.orden_pago[0].ValorBase">
</op-proveedor-detalle-pago>
<!--detalle rubro-->
<legend class="text-primary" ng-click="panelDetalleRubro=!panelDetalleRubro">
  {{'RUBRO' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelDetalleRubro"></span>
  <span class="fa fa-minus pull-right" ng-show="panelDetalleRubro"></span>
</legend class="text-primary">
<div ng-show="panelDetalleRubro" class="panel-body">
  <table class="table">
    <thead>
      <th>{{'CODIGO' | translate}}</th>
      <th>{{'VIGENCIA' | translate}}</th>
      <th>{{'DESCRIPCION' | translate}}</th>
      <tbody ng-repeat="i in d_opProveedorUpdatePorId.rubros">
        <tr>
          <td>{{i.Codigo}}</td>
          <td>{{i.Vigencia}}</td>
          <td>{{i.Descripcion}}</td>
        </tr>
      </tbody>
  </table>
</div>

<!--detalle concepto-->
<legend class="text-primary" ng-click="panelDetalleConceptos=!panelDetalleConceptos">
  {{'CONCEPTO' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelDetalleConceptos"></span>
  <span class="fa fa-minus pull-right" ng-show="panelDetalleConceptos"></span>
</legend class="text-primary">
<div ng-show="panelDetalleConceptos" class="panel-body">
  <table class="table">
    <thead>
      <th>{{'CODIGO' | translate}}</th>
      <th>{{'NOMBRE' | translate}}</th>
      <th>{{'DESCRIPCION' | translate}}</th>
      <th>{{'TIPO' | translate}}</th>
      <th>{{'RUBRO' | translate}}</th>
      <th>{{'AFECTACION' | translate}}</th>
      <thead>
        <tbody ng-repeat="i in d_opProveedorUpdatePorId.conceptos">
          <tr>
            <td>{{i.Concepto.Codigo}}</td>
            <td>{{i.Concepto.Nombre}}</td>
            <td>{{i.Concepto.Descripcion}}</td>
            <td>{{i.Concepto.TipoConcepto.Nombre}}</td>
            <td>{{i.Concepto.Rubro.Codigo}}</td>
            <td class="input_right">{{i.Valor | currency}}</td>
          </tr>
        </tbody>
  </table>
</div>
<!--detalle Cuenta Contable-->
<legend class="text-primary" ng-click="panelDetalleCuentas=!panelDetalleCuentas">
  {{'CUENTAS_CONTABLES' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelDetalleCuentas"></span>
  <span class="fa fa-minus pull-right" ng-show="panelDetalleCuentas"></span>
</legend class="text-primary">
<div ng-show="panelDetalleCuentas" class="panel-body">
  <movimientos-contables-op-detalle codigodocumentoafectante="d_opProveedorUpdatePorId.orden_pago[0].Id">
  </movimientos-contables-op-detalle>
</div>
