<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'OP_TITULO' | translate }} {{ 'NOMINA' | translate }} </h2>
  <div class="panel-body">
    <!-- Liquidaciones -->
    <liquidacion-ver-todas
      inputpestanaabierta="opHcCrear.PestanaAbiertaLiquidacion"
      ouputdatanominaselect="opHcCrear.DataNominaTitanSelect"
      ouputdataresumencarge="opHcCrear.DataHomologacion">
    </liquidacion-ver-todas>

    <detalle-para-op-masivo
      inputtiponomina="opHcCrear.tipoNominaDeLiquidacion"
      outputordenpago="opHcCrear.OrdenPago">
    </detalle-para-op-masivo>

  </div>
  <center><button class="btn btn-primary" ng-click="opHcCrear.registrarOpMasivo()">Registrar</button></center>

</div>
