<div class="panel panel-primary panel-body">
  <center>
    <h3 class="page-header">
        {{"CALENDARIO_TRIBUTARIO" | translate}}
        <select class="form-control form-control-inline" ng-model="gestionCalendario.vigencia_calendarios" ng-options="v as v for v in gestionCalendario.vigencias track by v" >
          <option value="">{{"TODOS" | translate}}</option>
        </select>
    </h3></center>
  <div class="panel-body">
    <div class="mi-grid" id="mi-grid"  ui-grid="gestionCalendario.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>
    <br>
  </div>

  <div>
    <center><button type="button" class="btn btn-outline btn-primary btn-sm" data-toggle="modal" data-target="#modalform" ng-click="editar=false">{{"BTN.AGREGAR" | translate}}</button></button>
    </center>
  </div>


  <div id="modalform" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ 'CALENDARIO_TRIBUTARIO' | translate }}</h3>
          </div>
          <div class="panel-body">

            <form class="row" name="formcalendario" ng-submit="formcalendario.$valid && gestionCalendario.crear_calendario()">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label>{{ 'DESCRIPCION' | translate }}*:</label>
                  <input type="text" class="form-control" placeholder="{{ 'DESCRIPCION' | translate }}" ng-model="gestionCalendario.nuevo_calendario.Descripcion" required>
                </fieldset>
              </div>

              <div class="col-md-12">

                <style>
                  .md-datepicker-calendar-pane {
                    z-index: 1200
                  }
                </style>
                <fieldset class="form-group col-md-4">
                  <label>{{ 'VIGENCIA' | translate }}*:</label>
                  <select class="form-control" ng-model="gestionCalendario.nuevo_calendario.Vigencia" ng-options="v as v for v in gestionCalendario.vigencias" required>
                    <option value="" selected disabled class="text-muted">--{{"SELECCIONAR_VIGENCIA" | translate}}--</option>
                  </select>
                </fieldset>

                <fieldset class="form-group col-md-4">
                  <label>{{ 'FECHA_INICIO' | translate }}*:</label>
                  <div class="input-group date" data-provide="datepicker">
                    <md-datepicker md-current-view="year" md-placeholder="Fecha" ng-model="gestionCalendario.nuevo_calendario.FechaInicio"  md-min-date="gestionCalendario.fechamin" md-max-date="gestionCalendario.fechamax" required></md-datepicker>
                  </div>
                </fieldset>

                <fieldset class="form-group col-md-4">
                  <label>{{ 'FECHA_FIN' | translate }}*:</label>
                  <div class="input-group date" data-provide="datepicker">
                    <md-datepicker md-current-view="year" md-placeholder="Fecha" ng-model="gestionCalendario.nuevo_calendario.FechaFin" md-min-date="gestionCalendario.nuevo_calendario.FechaInicio" md-max-date="gestionCalendario.fechamax" required></md-datepicker>
                  </div>
                </fieldset>
              </div>

              <div class="col-md-12">
                <br>
                <fieldset class="form-group col-md-6">
                  <label>{{ 'ENTIDAD' | translate }}*:</label><span> Universidad Distrital Francisco José de Caldas</span>
                </fieldset>

                <fieldset class="form-group col-md-6">
                  <label>{{ 'RESPONSABLE' | translate }}*:</label><span> JACQUELINE ORTIZ ARENAS (Jefe de Tesoreria)</span>
                </fieldset>

              </div>

              <center><button type="submit" class="btn btn-outline btn-primary">{{'BTN.CONFIRMAR' | translate}} </button></center>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>
