<div class="panel panel-primary panel-body">
  <h2 class="page-header" align="center">{{'GENERACION_PAC' | translate}}</h2>
  <div class="panel-body">
    <table>
      <tr>
        </td>
        <td class="col-md-2">
          <label for="tipo_ingreso">{{'FECHA_INICIO' | translate}}</label>
          <br>
          <md-datepicker ng-model="reportePac.fechaInicio" md-placeholder="{{'FECHA_INICIO' | translate}}" flex></md-datepicker>
        </td>
        <td class="col-md-2">
          <label for="tipo_ingreso">{{'FECHA_FINAL' | translate}}</label>
          <br>
          <md-datepicker ng-model="reportePac.fechaFin" md-placeholder="{{'FECHA_FINAL' | translate}}" flex></md-datepicker>
        </td>
        <td class="col-md-2">
          <br>
          <a type="button" name="button" ng-click="reportePac.generarReporte()" class="fa fa-paper-plane btn btn-info btn-outline" aria-hidden="true"></a>
        </td>
      </tr>
    </table>
    <br>
      <!--div class="col-md-12" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-auto-fit-columns ui-grid-pinning></div-->
        <table class="table table-bordered table-fixed">
          <thead>
            <tr>
              <th>Fuente</th><th>Rubro</th><th>Codigo</th><th>Tipo</th><th ng-repeat="data in gridOptions.data[0].reporte">{{data.mes}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in gridOptions.data">
              <td>{{data.fdescrip}}</td><td>{{data.descripcion}}</td><td>{{data.codigo}}</td><td>{{'EGRESOS' | translate}}</td><td ng-repeat="reporte in data.reporte">{{reporte.valores.valor|currency}}</td>
            </tr>
          </tbody>

        </table>



      <div class="col-md-4">
        <pre>{{reportePac.resumen|json}}</pre>
      </div>
  </div>

</div>
