<div class="panel panel-primary panel-body">
    <h2 class="page-header" align="center">{{'REGISTRO_SOLICITUD_MODIFICACION_PRES' | translate}}</h2>
    <div class="panel-body">
        <div class="row" >
            <legend class="text-primary" ng-click="b=!b">
                {{'DATOS_SOLICITUD_MODIFICACION_PRES' | translate}}
                <span class="fa fa-plus pull-right" ng-show="b"></span>
                <span class="fa fa-minus pull-right" ng-show="!b"></span>
            </legend>
            <div class="col-md-6 col-md-offset-3" ng-show="!b ">
                <div class="form-group">
                            <label for="descripcion">{{'DESCRIPCION' | translate}}</label>
                            <br>
                            <textarea name="descripcion" class="form-control" rows="4" cols="40" ng-model="rubroModificacionSolicitudRegistro.descripcion">
                    </textarea>
                        </div>
            </div>
        </div>
        <div class="row" >
            <legend class="text-primary" ng-click="a=!a">
                    {{'RUBROS_SOLICITUD_MODIFICACION_PRES' | translate}}
                    <span class="fa fa-plus pull-right" ng-show="!a"></span>
                    <span class="fa fa-minus pull-right" ng-show="a"></span>
            </legend>
            <div class="col-md-6" ng-show="a">
                <h4 class="text-primary">{{"CUENTA_CREDITO" | translate}}</h4>
                <apropiacion-consulta botones="rubroModificacionSolicitudRegistro.botones" botonespadre="rubroModificacionSolicitudRegistro.botonespadre" recargar="rubroModificacionSolicitudRegistro.recarga_arbol" ramasel="false" rubrosel="rubroModificacionSolicitudRegistro.rubroCuentaCreditosel" filtro="rubroModificacionSolicitudRegistro.filtro_rubro" vigencia="rubroModificacionSolicitudRegistro.Vigencia"></apropiacion-consulta>
            </div>
            <div class="col-md-6" ng-if="rubroModificacionSolicitudRegistro.tipoModificacion.CuentaContraCredito">
                <div  >
                    <h4 class="text-primary">{{"CUENTA_CONTRA_CREDITO" | translate}}</h4>
                <apropiacion-consulta botones="rubroModificacionSolicitudRegistro.botones" botonespadre="rubroModificacionSolicitudRegistro.botonespadre" recargar="rubroModificacionSolicitudRegistro.recarga_arbol" ramasel="false" rubrosel="rubroModificacionSolicitudRegistro.rubrosel" filtro="rubroModificacionSolicitudRegistro.filtro_rubro_contra_credito" vigencia="rubroModificacionSolicitudRegistro.Vigencia"></apropiacion-consulta>
                </div>
            </div>
            <hr>
            <div class="col-md-6 col-md-offset-3" ng-show="a && rubroModificacionSolicitudRegistro.rubroCuentaCreditosel">
                <div class="panel panel-info panel-body">
                    <div class="panel panel-heading">
                        <h4 class="text-center panel-title">{{"INFORMACION_RUBROS_MODIFICACION_PRES" | translate}}</h4>
                    </div>
                    <div >
                        <div class="form-group">
                        <label for="rubro">{{'CUENTA_CREDITO' | translate}} : </label>
                        <br>
                        <span name="rubro">{{rubroModificacionSolicitudRegistro.rubroCuentaCreditosel.Nombre}} / {{rubroModificacionSolicitudRegistro.rubroCuentaCreditosel.Codigo}}</span>
                        <hr>
                        <label for="rubro">{{'SALDO' | translate}} : </label>
                        <span name="rubro">{{rubroModificacionSolicitudRegistro.rubroCuentaCredito.InfoSaldo.saldo|currency}}</span>
                        <hr>
                        <label ng-if="rubroModificacionSolicitudRegistro.rubrosel" for="rubro">{{'CUENTA_CONTRA_CREDITO' | translate}} : </label>
                        <br>
                        <span ng-if="rubroModificacionSolicitudRegistro.rubrosel" name="rubro">{{rubroModificacionSolicitudRegistro.rubrosel.Nombre}} / {{rubroModificacionSolicitudRegistro.rubrosel.Codigo}}</span>
                        <hr ng-if="rubroModificacionSolicitudRegistro.rubrosel">
                        <label ng-if="rubroModificacionSolicitudRegistro.rubrosel" for="rubro">{{'SALDO' | translate}} : </label>
                        <span ng-if="rubroModificacionSolicitudRegistro.rubrosel" name="rubro">{{rubroModificacionSolicitudRegistro.rubro.InfoSaldo.saldo|currency}}</span>
                        <hr ng-if="rubroModificacionSolicitudRegistro.rubrosel">
                        <label for="unidadejecutora">{{'TIPO_MODIFICACION' | translate}} :</label>
                        <select class="form-control" ng-model="rubroModificacionSolicitudRegistro.tipoModificacion" ng-options="o as o.Nombre for o in rubroModificacionSolicitudRegistro.tiposModificaciones">
                        </select>
                        <hr>
                        <label for="valor_mod">{{'VALOR' | translate}} : </label>
                        <br>
                        <input type="valor_mod" name="valor_mod" class="form-control" ng-model="rubroModificacionSolicitudRegistro.valor" ui-money-mask="0">
                        <hr>
                    </div>
                    <div class="form-group text-center">
                        <a type="button" class="btn btn-outline btn-success" ng-click="rubroModificacionSolicitudRegistro.agregarRubro()"> {{"AGREGAR" | translate}} </a>
                    </div>
                    </div>
                </div>
            </div>
            
            <!--pre>
                {{rubroModificacionSolicitudRegistro.rubrosel | json}}
            </pre-->
        </div>
        <hr>
        <div class="row panel panel-info" ng-show="rubroModificacionSolicitudRegistro.modificaciones.length">
            <h4 class="text-center text-primary">{{"RUBROS_AFECTADOS_MOVIMIENTO" | translate}}</h4>
            <hr>
            <div ng-repeat="data in rubroModificacionSolicitudRegistro.modificaciones track by $index" class="form-group col-md-6 col-md-offset-3">
                <label for="CuentaCredito">{{'CUENTA_CREDITO' | translate}} : </label>
                <span name="CuentaCredito">{{data.CuentaCredito.Rubro.Nombre}} / {{data.CuentaCredito.Rubro.Codigo}}</span>
                <br>
                <label ng-if="data.TipoMovimientoApropiacion.CuentaContraCredito"  for="CuentaContraCredito">{{'CUENTA_CONTRA_CREDITO' | translate}} : </label>
                <span ng-if="data.TipoMovimientoApropiacion.CuentaContraCredito"  name="CuentaContraCredito">{{data.CuentaContraCredito.Rubro.Nombre}} / {{data.CuentaContraCredito.Rubro.Codigo}}</span>
                <br ng-if="data.TipoMovimientoApropiacion.CuentaContraCredito" >
                <label for="TipoMov">{{'TIPO_MODIFICACION' | translate}} : </label>
                <span name="TipoMov">{{data.TipoMovimientoApropiacion.Nombre}}</span>
                <br>
                <label for="Valor">{{'VALOR' | translate}} : </label>
                <span name="Valor">{{data.Valor | currency}}</span>
                <br>
                <a type="button" class="btn btn-outline btn-danger" ng-click="rubroModificacionSolicitudRegistro.quitarModificacion($index)"> {{"QUITAR" | translate}} </a>
                <hr>
            </div>
        </div>
         <div class="form-group text-center" ng-if="rubroModificacionSolicitudRegistro.modificaciones.length != 0 && rubroModificacionSolicitudRegistro.descripcion">
                <a type="button" class="btn btn-outline btn-success" ng-click="rubroModificacionSolicitudRegistro.registrarModificacion()"> {{"REGISTRAR" | translate}} </a>
         </div>
         <div class="text-center alert alert-danger col-md-6 col-md-offset-3" ng-if="rubroModificacionSolicitudRegistro.modificaciones.length == 0 || rubroModificacionSolicitudRegistro.descripcion.length == 0 ">
             {{'E_MODP001' | translate}}
         </div>
    </div>
</div>