<div class="panel panel-primary panel-body">
  
  <div class="panel-body">
    <div class="col-md-6">
      <div class="panel panel-default">

            <rubros-consulta botones="rubroRegistro.botones" recargar="rubroRegistro.recarga_arbol" ramasel="true" rubrosel="rubroRegistro.padre" filtro="rubroRegistro.filtro_rubro"></rubros-consulta>
            <!--div ui-grid="rubroRegistro.gridOptions" ui-grid-tree-view ui-grid-auto-resize ui-grid-resize-columns class="myGrid"></div-->

      </div>
    </div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{ 'REGISTRO_RUBRO' | translate }}</div>
    </div>
    <div class="panel-body">
      <form>
        <div class="row">
          <input class="form-control" name="ultimo_registro" type="hidden" ng-model="rubroRegistro.ultimo_registro" disabled="true">
          <div class="col-md-4">
            <label for="input_codigo_padre" class="col-form-label">{{ 'CODIGO_PADRE' | translate }}</label>
          </div>
          <div class="col-md-7">
            <input class="form-control" name="input_codigo_padre" type="text" ng-model="rubroRegistro.padre.Codigo" disabled="true">
          </div>

          <input name="input_id_padre" type="hidden" ng-model="rubroRegistro.id_padre" disabled="true">
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label for="input_codigo" class="col-form-label">{{ 'CODIGO' | translate }}</label>
          </div>
          <div class="col-md-7">
            <input class="form-control" name="input_codigo" type="text" ng-model="rubroRegistro.codigo_hijo" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label for="input_codigo" class="col-form-label">{{ 'NOMBRE' | translate }}</label>
          </div>
          <div class="col-md-7">
            <input class="form-control" name="input_codigo" type="text" ng-model="rubroRegistro.nombre_hijo" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label for="input_descripcion" class="col-form-label">{{ 'DESCRIPCION' | translate }}</label>
          </div>
          <div class="col-md-7">
            <textarea class="form-control" name="input_descripcion" ng-model="rubroRegistro.descripcion_hijo" ></textarea>
          </div>
          <br>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label for="input_tipo_plan" class="col-form-label">{{ 'UNIDAD_EJECUTORA' | translate }}</label>
          </div>
          <div class="col-md-7">
            <input class="form-control" name="input_tipo_plan" ng-model="rubroRegistro.padre.UnidadEjecutora" ></input>
          </div>
        </div>
        <br>
        <!-- <div class="row">
          <div class="col-md-4">
            <label for="entidadSelect" class=" col-form-label">{{ 'ENTIDAD' | translate }}</label>
          </div>
          <div class="col-md-7">
            <select class="form-control" name="entidadSelect" ng-model="rubroRegistro.selectEntidad">
                  <option ng-repeat="option in rubroRegistro.entidadOptions" value="{{option.Id}}">{{option.Nombre}}</option>
            </select>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-4">
            <label for="check_productos" class="col-form-label">{{ 'PRODUCTOS' | translate }}</label>
          </div>
          <div class="col-md-7">
              <input type="checkbox" class="form-check-input" id="check_productos" ng-model="rubroRegistro.chkProducto">
          </div>
          <br>
        </div>
        <br>
        <div class="row" ng-if="rubroRegistro.chkProducto">
          <hr>
          <h4 class="text-center text-info">{{ 'LISTA_PRODUCTOS' | translate }}</h4>
          <br>
          <div ui-grid="rubroRegistro.gridOptionsProductos" ui-grid-pagination ui-grid-selection ui-grid-cellnav class="myGrid"></div>
          <br>
          <h4 class="text-center text-info" ng-if="rubroRegistro.ProdutoRubro[0]">{{ 'PRODUCTOS_SELECCIONADOS' | translate }}</h4>
          <br>
          <div ng-repeat="rbRel in rubroRegistro.ProdutoRubro">
              <div class="col-md-4">
                <b> {{rbRel.Producto.Nombre}} </b>
              </div>
              <div class="col-md-4">
                 <label class="control-label" for="txtValor">{{'VALOR_DISTRIBUCION' | translate}} (%)</label>
              </div>
              <div class="col-md-4">
                <input class="number" id="txtMotivo" name="txtMotivo" ng-model="rbRel.ValorDistribucion"></input>
              </div>
              <br>
              <hr>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-6">
          <div class="col-md-6">
            <button ng-click='rubroRegistro.quitar_padre()' class="btn btn-outline btn-warning btn-md btn-block">{{ 'BTN.LIMPIAR' | translate }}</button>
          </div>
          <div class="col-md-6">
              <button ng-click='rubroRegistro.registrar_rubro()' class="btn btn-outline btn-primary btn-md btn-block">{{ 'BTN.REGISTRAR' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</div>
</div>
