<div class="row jumbotron">
    <div  class="col-sm-5 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Registro de Rubro</h2>
          </div>
          <div class="panel-body">
            <form>
               <div class="form-group row">
              <label for="select_vigencia" class="col-sm-3 col-form-label">Vigencia </label>
              <select name="select_vigencia" id="select_vigencia" ng-model="rubroRegistro.selectVigencia" ng-change= 'rubroRegistro.actualiza_rubros()'>
                <option selected disabled>Seleccione...</option>
                <option ng-repeat="option in rubroRegistro.years" value="{{option}}">{{option}}</option>
              </select>
            </div>
            <div class="form-group row">
              <input name="ultimo_registro" type="hidden" ng-model="rubroRegistro.ultimo_registro" disabled="true">
              <label for="input_codigo_padre" class="col-sm-3 col-form-label">Código del rubro padre</label>
              <input name="input_codigo_padre" type="text" ng-model="rubroRegistro.codigo_padre" disabled="true">
              <input name="input_id_padre" type="hidden" ng-model="rubroRegistro.id_padre" disabled="true" >
            </div>
            <div class="form-group row">
              <label for="input_codigo" class="col-sm-3 col-form-label">Código</label>
              <input name="input_codigo" type="text" ng-model="rubroRegistro.codigo_hijo" placeholder="Código">
            </div>
            <div class="form-group row">
              <label for="input_descripcion" class="col-sm-3 col-form-label">Descripción</label>
              <textarea name="input_descripcion" ng-model="rubroRegistro.descripcion_hijo"  placeholder="Descripción"></textarea>

            </div>
             <div class="form-group row">
              <label for="input_tipo_plan" class="col-sm-3 col-form-label">Tipo de Plan</label>
              <textarea name="input_tipo_plan" ng-model="rubroRegistro.tipo_plan_hijo"  placeholder="Plan"></textarea>

            </div>
            <div class="form-group row">
              <label for="entidadSelect" class="col-sm-3 col-form-label">Entidad</label>
              <select name="entidadSelect" ng-model="rubroRegistro.selectEntidad">
                <option ng-repeat="option in rubroRegistro.entidadOptions" value="{{option.Id}}">{{option.Nombre}}</option>
              </select>
            </div>
              <button ng-click='rubroRegistro.quitar_padre()' class="btn btn-primary">Quitar Padre</button>
              <button ng-click='rubroRegistro.registrar_rubro()' class="btn btn-primary">Registrar</button>

           </form>
          </div>
        </div>

    </div>
    <div  ng-if="rubroRegistro.selectVigencia"class="text-center col-sm-7">

        <div class="panel panel-default" >
          <div class="panel-heading">
            <h2>Plan de Cuentas</h2>
          </div>
          <div class="panel-body">
            <div class="col-md-12">
              <div  ui-grid="rubroRegistro.gridOptions" ui-grid-tree-view ui-grid-auto-resize ui-grid-resize-columns class="myGrid"></div>
            </div>

          </div>
        </div>

    </div>

</div>
