<div class="panel panel-primary panel-body">
 
      <h2 class="page-header" align="center">{{"PLANEACION_APROBACION_INICIAL" | translate}}</h2>

  <div class="panel-body col-md-6">
     <apropiacion-consulta botones="rubroApropiacionPlaneacion.botones" botonespadre="rubroApropiacionPlaneacion.botonespadre" recargar="rubroApropiacionPlaneacion.recarga_arbol" ramasel="false" rubrosel="rubroApropiacionPlaneacion.rubro" filtro="rubroApropiacionPlaneacion.filtro_rubro" vigencia="rubroApropiacionPlaneacion.Vigencia"></apropiacion-consulta>
  </div>
  <div class="panel-body  col-md-6">
    <div class="panel panel-info panel-body">
        <div class="panel panel-heading">
            <h4 class="text-center panel-title">{{"CONSULTA_APROBACION_INICIAL" | translate}}</h4>
        </div>
    </div>
   </div>
</div>
