<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'APROBACION_PRESUPUESTO' | translate }}</h2>
  <div class="panel-body">
    <div ng-controller='RubroRubroApropiacionAprobacionCtrl'>
      <div ui-grid="rubroApropiacionAprobacion.gridOptions" ui-grid-selection ui-grid-cellNav ui-grid-tree-view class="myGrid"></div>
    </div>
  </div>
  <div class="panel-footer" align="center" >
      <button class="btn btn-outline btn-success ng-binding" ng-click="rubroApropiacionAprobacion.aprobar_celdas_editadas()" >
        {{ 'BTN.APROBAR' | translate }}
      </button>
  </div>
</div>
