<div class="panel panel-primary panel-body">

  <h3 class="page-header">
        {{"SUCURSALES" | translate}}
  </h3>

  <div class="panel-body">
    <div>
      <div class="mi-grid" id="mi-grid" ui-grid="gestionSucursales.Sucursales" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>
    </div>
    <br>
  </div>

  <div>
    <center><button type="button" class="btn btn-outline btn-primary btn-sm" ng-click="gestionSucursales.mostrar_modal_agregar_sucursal()">{{"AGREGAR_SUCURSAL" | translate}}</button></button>
    </center>
  </div>


  <div id="modal_editar_sucursal" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ 'EDITAR_SUCURSAL' | translate }}</h3>
          </div>
          <div div class="panel-body">


              <div class="col-md-12">

                <fieldset class="form-group col-md-6">
                  <label>{{ 'NOMBRE' | translate }}:</label>
                  <span class="form-control"> {{gestionSucursales.NombreSucursal}}</span>
                </fieldset>

                <fieldset class="form-group col-md-6">
                  <label>{{ 'DIRECCION' | translate }}:</label>
                  <span class="form-control"> {{gestionSucursales.Direccion}}</span>
                </fieldset>
              </div>

              <div class="col-md-12">
                <fieldset class="form-group col-md-6">
                  <label>{{ 'TELEFONO' | translate }}:</label>
                  <span class="form-control"> {{gestionSucursales.Telefono}}</span>
                </fieldset>

                <fieldset class="form-group col-md-6">
                  <label>{{ 'PAIS' | translate }}:</label>
                  <span class="form-control"> {{gestionSucursales.Paisl}}</span>
                </fieldset>
              </div>

              <div class="col-md-12">
              <fieldset class="form-group col-md-6">
                <label>{{ 'DEPARTAMENTO' | translate }}:</label>
                <span class="form-control"> {{gestionSucursales.Departamento}}</span>
             </fieldset>

              <fieldset class="form-group col-md-6">
                <label>{{ 'CIUDAD' | translate }}:</label>
                <span class="form-control"> {{gestionSucursales.Ciudad}}</span>
              </fieldset>
            </div>

              <center><button ng-click="gestionSucursales.editar_sucursal()" class="btn btn-outline btn-primary">{{'BTN.EDITAR' | translate}} </button></center>


          </div>


        </div>
      </div>
    </div>

  </div>

  <div id="modal_agregar_sucursal" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ 'AGREGAR_SUCURSAL' | translate }}</h3>
          </div>
          <div div class="panel-body">


              <div class="col-md-12">
              <form name="formplan" ng-submit="formplan.$valid">
                <fieldset class="form-group col-md-6">
                  <label>{{ 'NOMBRE' | translate }}:</label>
                  <input type="text" class="form-control" placeholder="{{NOMBRE | translate}}" ng-model="gestionSucursales.NombreSucursal" required>
                </fieldset>

                <fieldset class="form-group col-md-6">
                  <label>{{ 'DIRECCION' | translate }}:</label>
                  <input type="text" class="form-control" placeholder="{{DIRECCION | translate}}" ng-model="gestionSucursales.Direccion" required>
                  </fieldset>
              </div>

              <div class="col-md-12">
                <fieldset class="form-group col-md-6">
                  <label>{{ 'TELEFONO' | translate }}:</label>
                  <input type="number" class="form-control" placeholder="{{TELEFONO | translate}}" ng-model="gestionSucursales.Telefono" required>

                </fieldset>

                <fieldset class="form-group col-md-6">
                  <label>{{ 'PAIS' | translate }}:</label>
                  <select class="form-control" ng-model="gestionSucursales.selectPaises" required>
                    <option selected disabled>{{'SELECCIONE' | translate}}</option>
                    <option ng-repeat="tpais in gestionSucursales.Paises"  value="{{tpais}}">{{tpais.Nombre}}</option>
                  </select>
                </fieldset>
              </div>

              <div class="col-md-12">
              <fieldset class="form-group col-md-6">
                <label>{{ 'DEPARTAMENTO' | translate }}:</label>
                <select class="form-control" ng-model="gestionSucursales.selectDepartamento" required>
                  <option selected disabled>{{'SELECCIONE' | translate}}</option>
                  <option ng-repeat="tdep in gestionSucursales.Departamentos"  value="{{tdep}}">{{tdep.Nombre}}</option>
                </select>
             </fieldset>

              <fieldset class="form-group col-md-6">
                <label>{{ 'CIUDAD' | translate }}:</label>
                <select class="form-control" ng-model="gestionSucursales.selectCiudad" required>
                  <option selected disabled>{{'SELECCIONE' | translate}}</option>
                  <option ng-repeat="tciudad in gestionSucursales.Ciudades"  value="{{tciudad}}">{{tciudad.Nombre}}</option>
                </select>
              </fieldset>
            </div>

              <center><button ng-click="gestionSucursales.agregar_sucursal()" class="btn btn-outline btn-primary">{{'BTN.AGREGAR' | translate}} </button></center>

            </form>

          </div>


        </div>
      </div>
    </div>

  </div>


</div>
