<div class="panel panel-primary panel-body">

  <h3 class="page-header">
        {{"BANCOS" | translate}}
  </h3>

  <div class="panel-body">
    <div>
      <div class="mi-grid" id="mi-grid" ui-grid="gestionBancos.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>
    </div>
    <br>
  </div>


  <div class="row">
    <div align="center">
        <button type="button" class="btn btn-outline btn-primary btn-sm" ng-click="gestionBancos.gestionar_sucursales()">{{"GESTIONAR_SUCURSALES" | translate}}</button></button>
       <button type="button" class="btn btn-outline btn-primary btn-sm" ng-click="gestionBancos.gestionar_sucursales()">{{"GESTIONAR_CUENTAS_BANCARIAS" | translate}}</button></button>
      </div>
  </div>



  <div id="modal_sucursal" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ 'SUCURSAL' | translate }}</h3>
          </div>
          <div ng-show = "gestionBancos.tieneSucursal" div class="panel-body">


              <div class="col-md-12">

                <fieldset class="form-group col-md-6">
                  <label>{{ 'NOMBRE' | translate }}:</label>
                  <span class="form-control"> {{gestionBancos.NombreSucursal}}</span>
                </fieldset>

                <fieldset class="form-group col-md-6">
                  <label>{{ 'DIRECCION' | translate }}:</label>
                  <span class="form-control"> {{gestionBancos.Direccion}}</span>
                </fieldset>
              </div>

              <div class="col-md-12">
                <fieldset class="form-group col-md-6">
                  <label>{{ 'TELEFONO' | translate }}:</label>
                  <span class="form-control"> {{gestionBancos.Telefono}}</span>
                </fieldset>

                <fieldset class="form-group col-md-6">
                  <label>{{ 'PAIS' | translate }}:</label>
                  <span class="form-control"> {{gestionBancos.Paisl}}</span>
                </fieldset>
              </div>

              <fieldset class="form-group col-md-6">
                <label>{{ 'DEPARTAMENTO' | translate }}:</label>
                <span class="form-control"> {{gestionBancos.Departamento}}</span>
             </fieldset>

              <fieldset class="form-group col-md-6">
                <label>{{ 'CIUDAD' | translate }}:</label>
                <span class="form-control"> {{gestionBancos.Ciudad}}</span>
              </fieldset>

              <center><button ng-click="gestionBancos.desvincular_sucursal()" class="btn btn-outline btn-primary">{{'BTN.DESVINCULAR' | translate}} </button></center>


          </div>
          <br>
          <div ng-show = "!gestionBancos.tieneSucursal">
            <center><button ng-click="gestionBancos.mostrar_sucursales()" class="btn btn-outline btn-primary">{{'BTN.MOSTRAR_SUCURSALES' | translate}} </button></center>

            <div ng-show = "gestionBancos.ver_grid_sucursales">
              <br>
              <legend class="text-primary" align="center">{{'SUCURSALES_REGISTRADAS' | translate }}</legend>
              <div class="row">
                  <div class="col-md-12">
                    <div ui-grid="gestionBancos.Sucursales" ui-grid-selection ui-grid-auto-resize ui-grid-pagination class="myGrid"></div>
                  </div>
              </div>
              <br>
              <center><button ng-click="gestionBancos.vincular_sucursal()" class="btn btn-outline btn-primary">{{'BTN.VINCULAR' | translate}} </button></center>
            </div>
         </div>

        </div>
      </div>
    </div>

  </div>


  <div id="modalbanco" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
      </div>
      <div class="modal-body">
        <ver-banco idbanco="id_banco" />
      </div>
    </div>
  </div>

</div>
