<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'OP_TITULO' | translate }}</h2>

    <!--Proveedor -->
    <pv-listar
      inputpestanaabierta="opCrear.PestanaAbierta"
      outputproveedor="opCrear.Proveedor">
    </pv-listar>

    <!--RP-->
    <rp-por-proveedor-listar
      inputpestanaabierta="opCrear.PestanaAbierta"
      inputbeneficiaroid="opCrear.Proveedor.Id"
      outputrpselect="opCrear.OrdenPago.RegistroPresupuestal">
    </rp-por-proveedor-listar>

    <!--detalle pago -->
    <op-proveedor-detalle-pago
      inputpestanaabierta="opCrear.PestanaAbierta"
      inputproveedor="opCrear.Proveedor.NumDocumento"
      outputsubtipoordenpago="opCrear.OrdenPago.SubTipoOrdenPago"
      outputformapago="opCrear.OrdenPago.FormaPago"
      outputentradaalmacen = "opCrear.OrdenPago.EntradaAlmacen"
      outputvigencia="opCrear.OrdenPago.Vigencia"
      outputvalorbase="opCrear.OrdenPago.ValorBase">
    </op-proveedor-detalle-pago>

    <!--Rubros-->
    <rubros-por-rp-seleccion-multiple
      inputpestanaabierta="opCrear.PestanaAbierta"
      inputrpid="opCrear.OrdenPago.RegistroPresupuestal.Id"
      outputconceptos="opCrear.RubrosObjIds">
    </rubros-por-rp-seleccion-multiple>

    <!--Concepto-->
    <!-- <conceptos-por-rubros-op
      rubroidsobj="opCrear.RubrosObjIds"
      conceptosoutput="opCrear.Concepto"
      inputpestanaabierta="opCrear.PestanaAbierta">
    </conceptos-por-rubros-op> -->

    <!--Cuentas contables -->
    <legend class="text-primary" ng-click="a=!a">
      {{'CUENTAS_CONTABLES' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!a"></span>
      <span class="fa fa-minus pull-right" ng-show="a"></span>
    </legend class="text-primary">
    <div class="panel-body row" ng-show="a">
      <div class=" col-sm-12">
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li ng-class="{active: selected == c.Id}" ng-repeat="c in opCrear.Concepto"><a href ng-click="opCrear.selected=c.Id" data-toggle="tab">Concepto: [ {{c.Codigo}} ]  {{c.Nombre}}</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" ng-repeat="c in opCrear.Concepto" ng-show="opCrear.selected==c.Id">
              <movimientos-contables conceptoid="c.Id" movimientos="c.movs" monto="c.Afectacion" editable validatemov="c.validado" impydesc>
              </movimientos-contables>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Boton Crear Orden Pago Proveedor -->
    <center><button class="btn btn-primary" ng-click="opCrear.registrarOpProveedor()">Registrar</button></center>
</div>
