<center>
    <a class="ver" ng-click="load_row(row,'ver')" data-toggle="modal" data-target="#modalVer">
        <i class="fa fa-eye fa-lg  faa-shake animated-hover" aria-hidden="true" data-toggle="tooltip" title="{{'BTN.VER' | translate }}"></i>
    </a>
    <a class="editar" ng-click="load_row(row,'edit');" data-toggle="modal" data-target="#myModal">
        <i data-toggle="tooltip" title="{{'BTN.EDITAR' | translate }}" class="fa fa-pencil fa-lg  faa-shake animated-hover" aria-hidden="true"></i>
    </a>
    <a class="configuracion" ng-click="load_row(row,'config');" data-toggle="modal" data-target="#modalConf">
        <i data-toggle="tooltip" title="{{'BTN.CONFIGURAR' | translate }}" class="fa fa-cog fa-lg faa-spin animated-hover" aria-hidden="true"></i>
    </a>
    <a class="borrar" ng-click="load_row(row,'delete');">
        <i data-toggle="tooltip" title="{{'BTN.BORRAR' | translate }}" class="fa fa-trash fa-lg  faa-shake animated-hover" aria-hidden="true"></i>
    </a>
</center>