<div class="panel panel-primary panel-body">
  <h2 class="page-header" align="center">{{'LISTA_RP_ANULACION' | translate}}</h2>
    <div class="panel-body">
      <div ui-grid="rpAnulacion.gridOptions" ui-grid-selection class="myGrid"></div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" >&times</button><br>
    </div>
    <div class="panel panel-default" ng-repeat="item in rpAnulacion.detalle">
      <div class="panel-heading">
          <h3 class="page-header">Registro Presupuestal No {{item.NumeroRegistroPresupuestal}} de {{item.Vigencia}}</h3>
          <div align="right">Fecha de Registro: {{item.FechaMovimiento |  date:"yyyy-MM-dd":"UTC"}}</div>
      </div>
    <div class="panel-body">
      <div class="col-md-10 col-md-offset-1 " >
        <table class="table text-justify " >
          <tr>
            <th>{{'CDP_NUMERO' | translate}}: </th><td>{{item.Disponibilidad.NumeroDisponibilidad}}</td>
          </tr>
          <tr>
            <th>{{'NECESIDAD_NO' | translate}}: </th><td>{{rpAnulacion.Necesidad.Numero}}</td>
          </tr>
          <tr>
            <th>{{'ESTADO' | translate}}: </th><td>{{item.Estado.Nombre}}</td>
          </tr>
          <tr>
            <th>{{'BENEFECIARIO' | translate}}: </th> <td>{{item.Beneficiario.NomProveedor}}</td>
          </tr>
          <tr>
            <th>{{'TIPO_PERSONA' | translate}}: </th> <td>{{item.Beneficiario.Tipopersona}}</td>
          </tr>
          <tr>
            <th>{{'NO_DOCUMENTO' | translate}}: </th> <td>{{item.Beneficiario.NumDocumento}}</td>
          </tr>
          <tr>
            <th>{{'COMPROMISO' | translate}}: </th> <td>{{item.Compromiso.Id+" / "+item.Compromiso.Objeto}}</td>
          </tr>
          <tr>
            <th>{{'MODALIDAD_DE_SELECCION' | translate}}: </th> <td>{{rpAnulacion.Necesidad.ModalidadSeleccion.Id+" / "+rpAnulacion.Necesidad.ModalidadSeleccion.Nombre}}</td>
          </tr>
          <tr>
            <th>{{'OBJETO_CONTRACTUAL' | translate}}: </th> <td>{{rpAnulacion.Necesidad.Objeto}}</td>
          </tr>
        </table>
        <hr>
        <h4><b>Afectación Presupuestal</b></h4>
        <fuente-financiacion-rp rp="item.Id" apropiacion="apropiaciones" resumen="rpAnulacion.rubros_afectados"/>
      </div>
    </div>
    </div>

        <form class="form-ctrl">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  Anulación de RP
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <label>Motivo de la Anulación</label>
                  </div>
                  <div class="col-md-8">
                       <textarea class="form-control" id="txtMotivo" name="txtMotivo" ng-model="rpAnulacion.motivo"></textarea>
                  </div>
                </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label>Tipo de Anulación</label>
                </div>
                <div class="col-md-8">
                  <select id="slcTipoAnulacion" name="slcTipoAnulacion" class="form-control" ng-model="rpAnulacion.tipoAnulacion">
                      <option value="P">Parcial</option>
                      <option value="T">Total</option>
                   </select>
                 </div>
              </div>
              <br>
              <!-- Text input-->
              <div ng-hide="rpAnulacion.tipoAnulacion == 'T'" class="row">
                <div class="col-md-4 ">
                  <label>{{'SELECCION_RUBRO' | translate}}</label>
                </div>
                <div class="col-md-8">
                   <select class="selectpicker" ng-model="rpAnulacion.Rubro_sel" ng-options="o as o.Apropiacion.Rubro.Descripcion+'/'+o.FuenteFinanciamiento.Codigo +'/'+o.FuenteFinanciamiento.Descripcion for o in rpAnulacion.rubros_afectados" >
                   </select>
                </div>
              </div>
              <br>
              <div ng-hide="rpAnulacion.tipoAnulacion == 'T' " class="row">
                <div class="col-md-4">
                  <label class="control-label" for="txtValor">{{'VALOR' | translate}}</label>
                </div>
                <div class="col-md-8">
                  <input id="txtValor" name="txtValor" type="text" placeholder="Valor que desea anular" class="form-control" required="" ng-model="rpAnulacion.Valor" ui-money-mask="0">
                </div>
              </div>
              </div>
              <!-- Button (Double) -->
              <br>
              <div class="row">
                <div class="col-md-6 col-md-offset-6">
                  <div class="col-md-6">
                    <button  id="btnAnular" name="btnAnular" class="btn btn-outline btn-warning btn-md btn-block"  ng-click="rpAnulacion.anular()" >Anular</button>
                  </div>
                </div>
              </div>

           </div>
        </form>
     </div>

    <!--<div class="panel panel-default">
        <div class="panel-heading">
          Rubros para este RP
        </div>
          <div ui-grid="rpConsulta.gridOptions_rubros" ui-grid-selection ui-grid-auto-resize ng-style="rpConsulta.gridHeight" class="myGrid"></div>
    </div>-->
  </div>
</div>
