<br>
<div class="col-md-12 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Lista de RP</h2>
    </div>
    <div class="panel-body">
      <div ui-grid="rpConsulta.gridOptions" ui-grid-selection class="myGrid"></div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-4">
          <label>Información del RP</label>
        </div>
        <div class="col-md-offset-7 col-md-1">
          <button type="button" class="btn btn-outline btn-danger btn-md " data-dismiss="modal">&times</button>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
       Detalle del RP
    </div>
    <div class="panel-body">
      <div class="col-md-10 col-md-offset-1 " ng-repeat="item in rpConsulta.detalle">
        <table class="table text-justify " >
          <tr>
            <th>Consecutivo del RP: </th><td>{{item.NumeroRegistroPresupuestal}}</td>
          </tr>
          <tr>
            <th>Consecutivo del CDP: </th><td>{{item.Disponibilidad.NumeroDisponibilidad}}</td>
          </tr>
          <tr>
            <th>Consecutivo de la Necesidad: </th><td>{{rpConsulta.Necesidad.Numero}}</td>
          </tr>
          <tr>
            <th>Fecha de Registro: </th><td>{{item.FechaMovimiento |  date:"yyyy-MM-dd":"+0900"}}</td>
          </tr>
          <tr>
            <th>Estado: </th><td>{{item.Estado.Nombre}}</td>
          </tr>
          <tr>
            <th>Beneficiario: </th> <td>{{item.Beneficiario.NomProveedor}}</td>
          </tr>
          <tr>
            <th>Tipo de Persona: </th> <td>{{item.Beneficiario.Tipopersona}}</td>
          </tr>
          <tr>
            <th>No. Documento: </th> <td>{{item.Beneficiario.NumDocumento}}</td>
          </tr>
          <tr>
            <th>Objeto del Contrato: </th> <td>{{rpConsulta.Necesidad.Objeto}}</td>
          </tr>
          <tr>
            <th>Compromiso: </th> <td>{{item.Compromiso.TipoCompromisoTesoral.Nombre}}</td>
          </tr>
          <tr>
            <th>No De Compromiso: </th> <td>{{item.Compromiso.Id}}</td>
          </tr>
          <tr>
            <th>Descripción Compromiso: </th> <td>{{item.Compromiso.Objeto}}</td>
          </tr>
        </table>
        <hr>
        <h4><b>Afectación Presupuestal</b></h4>
        <fuente-financiacion-rp rp="item.Id" apropiacion="apropiaciones" />
      </div>
    </div>
    </div>
    <!--<div class="panel panel-default">
        <div class="panel-heading">
          Rubros para este RP
        </div>
          <div ui-grid="rpConsulta.gridOptions_rubros" ui-grid-selection ui-grid-auto-resize ng-style="rpConsulta.gridHeight" class="myGrid"></div>
    </div>-->
  </div>
</div>
