<div class="panel panel-primary panel-body">
  <h2 class="page-header" align="center">{{'CARGUE_MASIVO_RP' | translate}}</h2>
    <div class="panel-body">
      <div class="form-group col-md-8 col-md-offset-2">
        <table >
      <tr>
        <td class="col-md-2">
          <label for="select_vigencia" class="col-form-label">{{'VIGENCIA' | translate}} </label>
          <input type="text" name="select_vigencia" disabled="true" ng-model="rpCargueMasivo.Vigencia" class="form-control">
        </td>
        <td class="col-md-2">
          <label for="tipo_ingreso">{{'FECHA_INICIO' | translate}}</label>
          <br>
          <md-datepicker ng-model="rpCargueMasivo.fechaInicio" md-placeholder="{{'FECHA_INICIO' | translate}}" flex md-current-view="year"  md-min-date="rpCargueMasivo.fechamin" md-max-date="rpCargueMasivo.fechamax"></md-datepicker>
        </td>
        <td class="col-md-2">
          <label for="tipo_ingreso">{{'FECHA_FINAL' | translate}}</label>
          <br>
          <md-datepicker ng-model="rpCargueMasivo.fechaFin" md-placeholder="{{'FECHA_FINAL' | translate}}" flex md-current-view="year"  md-min-date="rpCargueMasivo.fechamin" md-max-date="rpCargueMasivo.fechamax"></md-datepicker>
        </td>
      </tr>
    </table>
    <br>
    <table >
      <tr>
        <td class="col-md-2">
          <label for="select_dependencia" class="col-form-label">{{'TIPO_DEPENDENCIA_SOLICITANTE' | translate}} </label>
          <select class="form-control" name="select_dependencia" id="select_dependencia" ng-model="rpCargueMasivo.TipoDependencia" ng-model-options="{ updateOn: 'default', debounce: { default: 500} }">
              <option ng-repeat="option in rpCargueMasivo.TiposDependencias" value="{{option.Id}}">{{option.Nombre}}</option>
        </select> 
        </td>
        <td class="col-md-2">
          <label for="select_dependencia" class="col-form-label">{{'DEPENDENCIA_SOLICITANTE' | translate}} </label>
          <select class="form-control" name="select_dependencia" id="select_dependencia" ng-model="rpCargueMasivo.Dependencia" ng-model-options="{ updateOn: 'default', debounce: { default: 500} }">
              <option ng-repeat="option in rpCargueMasivo.Dependencias" value="{{option.Id}}">{{option.Nombre}}</option>
        </select> 
        </td>
        <td class="col-md-2">

          <label for="select_tipo_necesidad" class="col-form-label"> {{'TIPO_NECESIDAD' | translate}} </label>
          <select class="form-control" name="select_tipo_necesidad" id="select_tipo_necesidad" ng-model="rpCargueMasivo.tipoNecesidad" ng-model-options="{ updateOn: 'default', debounce: { default: 500} }">
              <option ng-repeat="option in rpCargueMasivo.tiposNecesidad" value="{{option.CodigoAbreviacion}}">{{option.Nombre}}</option>
        </select> 
        </td>
        <td class="col-md-2">
          <br>
          <a type="button" name="button" ng-click="rpCargueMasivo.cargarSolicitudesMasivas()" class="fa fa-filter btn btn-info btn-outline" aria-hidden="true"></a>
        </td>
      </tr>
    </table>
    </div>
    <hr>
        <div class="form-group col-md-8 col-md-offset-2" ng-if="rpCargueMasivo.gridOptions.data">
            <div ui-grid="rpCargueMasivo.gridOptions" ui-grid-selection ui-grid-pagination  class="myGrid"></div>  
             <h4 class="text-info">{{'RESUMEN_AFECTACION_PRESUPUESTAL' | translate}}</h4>
             <ul class="list-unstyled" ng-repeat="item in rpCargueMasivo.resumenCargue">
            <hr class="hr-primary">
            <li><b>{{'RUBRO' | translate}}:</b> {{item.Apropiacion.Rubro.Codigo+" / "+item.Apropiacion.Rubro.Nombre}}
              <ul>
                <li ng-show="item.FuenteFinanciamiento.Id !== 0"><b>{{'FUENTES_AFECTADAS' | translate}}:</b>
                  <ul>
                    <li>{{item.FuenteFinanciacion.Codigo + " / "+item.FuenteFinanciacion.Descripcion + " "}}
                      <ul>
                        <li><b>{{'VALOR_AFECTACION' | translate}}:</b> {{" "+item.Valor|currency}}</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li ng-show="item.FuenteFinanciamiento.Id === 0"><b>{{'VALOR_AFECTACION_FUNCIONAMIENTO' | translate}}:</b>
                  <ul >
                    <li>{{'VALOR_AFECTACION' | translate}}:</b> {{" "+item.Valor|currency}}</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <center ng-show="rpCargueMasivo.aprovarMasivo">
            <button class="btn btn-success btn-outline" ng-click="rpCargueMasivo.RegistrarMasivo()" ng-disabled="rpCargueMasivo.cargandoMasivo">{{ 'BTN.APROBAR' | translate }}</button>
         </center>
        </div>

         
</div>
</div>

<div id="myModal" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" >&times</button><br>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="page-header">Solicitud de Registro Presupuestal No {{rpCargueMasivo.data.Id}} de {{rpCargueMasivo.data.Vigencia}}</h3>
        <div align="right">Fecha de Solicitud: {{rpCargueMasivo.data.FechaSolicitud | date:"yyyy-MM-dd":"UTC"}}</div>
      </div>
      <div class="panel-body">
        <table class="table ">
          <tr>
            <th>CDP No: </th>
            <td>{{rpCargueMasivo.data.DatosDisponibilidad.NumeroDisponibilidad}}</td>
          </tr>
          <tr>
            <th>Necesidad No: </th>
            <td>{{rpCargueMasivo.data.DatosDisponibilidad.DatosNecesidad.Numero}}</td>
          </tr>
          <tr>
            <th>Beneficiario: </th>
            <td>{{rpCargueMasivo.data.DatosProveedor.NomProveedor}}</td>
          </tr>
          <tr>
            <th>Tipo Persona: </th>
            <td>{{rpCargueMasivo.data.DatosProveedor.Tipopersona}}</td>
          </tr>
          <tr>
            <th>No. Documento: </th>
            <td>{{rpCargueMasivo.data.DatosProveedor.NumDocumento}}</td>
          </tr>
          <tr>
            <th>Compromiso: </th>
            <td>{{rpCargueMasivo.data.InfoCompromiso.Id+" / "+rpCargueMasivo.data.InfoCompromiso.Objeto}}</td>
          </tr>
          <tr>
            <th>Modalidad de selección: </th>
            <td>{{rpCargueMasivo.data.DatosDisponibilidad.DatosNecesidad.ModalidadSeleccion.Id+" / "+rpCargueMasivo.data.DatosDisponibilidad.DatosNecesidad.ModalidadSeleccion.Nombre}}</td>
          </tr>
          <tr>
            <th>Objeto: </th>
            <td>{{rpCargueMasivo.data.DatosDisponibilidad.DatosNecesidad.Objeto}}</td>
          </tr>
        </table>
        <hr>
        
        <h4 class="text-info">Afectación Presupuestal</h4>
        <fuente-financiacion-solicitud-rp solrp="rpCargueMasivo.data.Id" apropiacion="apropiaciones" afectacion="afectacion">
        </fuente-financiacion-solicitud-rp>
          <hr>
          <center ng-if="!rpCargueMasivo.data.Expedida">
            <button class="btn btn-danger btn-outline" ng-click="rpCargueMasivo.Rechazar()" >{{ 'BTN.RECHAZAR' | translate }}</button>
          </center>
      </div>
    </div>
  </div>
</div>
