<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'OP_TITULO' | translate }} {{ 'SEGUDIDAD_SOCIAL' | translate }}</h2>
  <div class="panel-body">
    <!--unidad ejecutora -->
    <ue-listar
      unidaejecutora="opSeguridadSocialCrear.OrdenPago.UnidadEjecutora"
      inputpestanaabierta="opSeguridadSocialCrear.PestanaAbierta">
    </ue-listar>

    <!-- Necesidad -->
    <necesida-listar
      inputpestanaabierta="opSeguridadSocialCrear.PestanaAbierta"
      outputnecesidad="opSeguridadSocialCrear.NecesidadId">
    </necesida-listar>
    {{opSeguridadSocialCrear.NecesidadId}}
    <!-- Detalle Financiero -->
    <legend class="text-primary" ng-click="opSeguridadSocialCrear.PestanaAbierta=!opSeguridadSocialCrear.PestanaAbierta">
      {{'DETALLE' | translate}} {{'FINANCIERO' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!opSeguridadSocialCrear.PestanaAbierta"></span>
      <span class="fa fa-minus pull-right" ng-show="opSeguridadSocialCrear.PestanaAbierta"></span>
    </legend class="text-primary">
    <div ng-show="opSeguridadSocialCrear.PestanaAbierta" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NO_CRP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.NumeroRegistroPresupuestal}}</span>
          </div>
          <label class="control-label col-sm-1">{{'VIGENCIA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Vigencia}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'RESPONSABLE' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Responsable}}</span>
          </div>
          <label class="control-label col-sm-1">{{'ESTADO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Estado.Nombre}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'COMPROMISO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Compromiso.TipoCompromisoTesoral.Nombre}}</span>
          </div>
          <label class="control-label col-sm-1">{{'DESCRIPCION_COMPROMISO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{d_opProveedorVerPorId.rp_detalle[0].RegistroPresupuestal.Compromiso.Objeto}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'VALOR_CRP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control input_right">{{d_opProveedorVerPorId.valor_total_rp | currency}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NO_CDP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{d_opProveedorVerPorId.rp_detalle[0].DisponibilidadApropiacion.Disponibilidad.NumeroDisponibilidad}}</span>
          </div>
          <label class="control-label col-sm-1">{{'ESTADO' | translate}} {{'CDP' | translate}}</label>
          <div class="col-sm-5">
            <textarea class="form-control" rows="2" readonly> {{d_opProveedorVerPorId.rp_detalle[0].DisponibilidadApropiacion.Disponibilidad.Estado.Descripcion}} </textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NECESIDAD_NO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control input_right">{{d_opProveedorVerPorId.solicitud.SolicitudDisponibilidad.Necesidad.Numero}}</span>
          </div>
          <label class="control-label col-sm-1">{{'OBJETO' | translate}}  {{'NECESIDAD' | translate}} </label>
          <div class="col-sm-5">
            <textarea class="form-control" rows="2" readonly> {{d_opProveedorVerPorId.solicitud.SolicitudDisponibilidad.Necesidad.Objeto}} </textarea>
          </div>
        </div>
      </div>
    </div>




    <!-- Seguridad Social Data -->
    <legend class="text-primary" ng-click="opSeguridadSocialCrear.PestanaAbierta=!opSeguridadSocialCrear.PestanaAbierta">
      {{'SEGUDIDAD_SOCIAL' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!opSeguridadSocialCrear.PestanaAbierta"></span>
      <span class="fa fa-minus pull-right" ng-show="opSeguridadSocialCrear.PestanaAbierta"></span>
    </legend class="text-primary">
    <div class="panel-body row" ng-show="opSeguridadSocialCrear.PestanaAbierta">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{'SEGUDIDAD_SOCIAL' | translate}}
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">{{'MES' | translate}}</label>
              <div class="col-sm-4">
                <select ng-model="opSeguridadSocialCrear.dataLiquidacionConsulta.Mes" class="form-control" required>
                    <option value="">{{'BTN.SELECCIONAR' | translate }} {{'MES' | translate }}</option>
                    <option value="01">{{'MES_ENERO' | translate }}</option>
                    <option value="02">{{'MES_FEBRERO' | translate }}</option>
                    <option value="03">{{'MES_MARZO' | translate }}</option>
                    <option value="04">{{'MES_ABRIL' | translate }}</option>
                    <option value="05">{{'MES_MAYO' | translate }}</option>
                    <option value="06">{{'MES_JUNION' | translate }}</option>
                    <option value="07">{{'MES_JULIO' | translate }}</option>
                    <option value="08">{{'MES_AGOSTO' | translate }}</option>
                    <option value="09">{{'MES_SEPTIEMBRE' | translate }}</option>
                    <option value="10">{{'MES_OCTUBRE' | translate }}</option>
                    <option value="11">{{'MES_NOBIEMBRE' | translate }}</option>
                    <option value="12">{{'MES_DICIEMBRE' | translate }}</option>
                  </select>
              </div>
              <label class="col-sm-2 control-label">{{'VIGENCIA' | translate }}</label>
              <div class="col-sm-4">
                <input ng-model="opSeguridadSocialCrear.OrdenPago.Vigencia" type="text" class="form-control input_right" disabled/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
