<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'OP_TITULO' | translate }} {{ 'SEGUDIDAD_SOCIAL' | translate }}</h2>
  <div class="panel-body">
    <!--liquidacion -->
    <liquidacion-ss
    inputpestanaabierta="opSeguridadSocialCrear.PestanaAbierta"
    ouputdatanominaselect="opSeguridadSocialCrear.dataSeguridadSocialSelect"
    outputerrorop="opSeguridadSocialCrear.errorOpMasivo"
    outputdataopss="opSeguridadSocialCrear.allDataOpSs">
    </liquidacion-ss>

    <!-- Registro Presupuestal -->
    <legend class="text-primary" ng-click="panelRp=!panelRp">
      {{'REGISTRO_PRESUPUESTAL' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!panelRp"></span>
      <span class="fa fa-minus pull-right" ng-show="panelRp"></span>
    </legend class="text-primary">
    <div ng-show="panelRp" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NO_CRP' | translate}}</label>
          <div class="col-sm-3">
            <span class="form-control">{{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.NumeroRegistroPresupuestal}}</span>
          </div>
          <label class="control-label col-sm-1">{{'VIGENCIA' | translate}} {{'CRP' | translate}}</label>
          <div class="col-sm-3">
            <span class="form-control">{{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.Vigencia}}</span>
          </div>
          <label class="control-label col-sm-1">{{'ESTADO' | translate}} {{'CRP' | translate}}</label>
          <div class="col-sm-3">
            <span class="form-control">{{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.Estado.Nombre}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'RESPONSABLE' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.Responsable}}</span>
          </div>
          <label class="control-label col-sm-1">{{'VALOR_CRP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control input_right">{{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.Valor | currency}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'COMPROMISO' | translate}}</label>
          <div class="col-sm-11">
            <span class="form-control">{{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.Compromiso.TipoCompromisoTesoral.Nombre}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'DESCRIPCION_COMPROMISO' | translate}}</label>
          <div class="col-sm-11">
            <textarea class="form-control" rows="2" readonly> {{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.Compromiso.Objeto}} </textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NO_CDP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.RegistroPresupuestalDisponibilidadApropiacion[0].DisponibilidadApropiacion.Disponibilidad.NumeroDisponibilidad}}</span>
          </div>
          <label class="control-label col-sm-1">{{'ESTADO' | translate}} {{'CDP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.allDataOpSs.DetalleCargueOp[0].RegistroPresupuestal.RegistroPresupuestalDisponibilidadApropiacion[0].DisponibilidadApropiacion.Disponibilidad.Estado.Nombre}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NECESIDAD_NO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.solicitud.SolicitudDisponibilidad.Necesidad.Numero}}</span>
          </div>
          <label class="control-label col-sm-1">{{'OBJETO' | translate}}  {{'NECESIDAD' | translate}} </label>
          <div class="col-sm-5">
            <textarea class="form-control" rows="2" readonly> {{opSeguridadSocialCrear.solicitud.SolicitudDisponibilidad.Necesidad.Objeto}} </textarea>
          </div>
        </div>
      </div>
    </div>

    <!--detalle Proveedor-->
    <legend class="text-primary" ng-click="panelProveedor=!panelProveedor">
      {{'PROVEEDOR' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!panelProveedor"></span>
      <span class="fa fa-minus pull-right" ng-show="panelProveedor"></span>
    </legend class="text-primary">
    <div ng-show="panelProveedor" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">{{'TIPO_PERSONA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.proveedor.Tipopersona}}</span>
          </div>
          <label class="control-label col-sm-1">{{'NO_DOCUMENTO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.proveedor.NumDocumento}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NOMBRE' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.proveedor.NomProveedor}}</span>
          </div>
          <label class="control-label col-sm-1">{{'DIRECCION' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.proveedor.Direccion}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'TELEFONO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.proveedor.tel.IdTelefono.NumeroTel}}</span>
          </div>
          <label class="control-label col-sm-1">{{'CUENTA_BANCARIA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.proveedor.NumCuentaBancaria}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'SUCURSAL' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.proveedor.banco.NombreBanco}}</span>
          </div>
          <label class="control-label col-sm-1">{{'TIPO_CUENTA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opSeguridadSocialCrear.proveedor.TipoCuentaBancaria}}</span>
          </div>
        </div>
      </div>
    </div>

    <detalle-para-op-masivo
      inputtiponomina="opSeguridadSocialCrear.tipoNominaDeLiquidacion"
      outputordenpago="opSeguridadSocialCrear.OrdenPago">
    </detalle-para-op-masivo>

  <center><button class="btn btn-primary" ng-click="opSeguridadSocialCrear.registrarOpSS()">Registrar</button></center>
</div>
