<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'OP_TITULO' | translate }} {{ 'SEGUDIDAD_SOCIAL' | translate }}</h2>
  <div class="panel-body">
    <!--unidad ejecutora -->
    <ue-listar
      unidaejecutora="opSeguridadSocialCrear.OrdenPago.UnidadEjecutora"
      inputpestanaabierta="opSeguridadSocialCrear.PestanaAbierta">
    </ue-listar>

    <!-- Necesidad -->
    <necesida-listar
      inputpestanaabierta="opSeguridadSocialCrear.PestanaAbierta">
    </necesida-listar>

  </div>
</div>
