<br>
<div class="panel panel-default">
    <div class="panel-heading">
        reportes/reportes_spago.
    </div>
    <div class="panel-body">
        <p>
          <div id="frame">

          </div>
          <!--<iframe src="%3Ciframe%20id%20=%20%22sbi-docexec-iframe-0%22%20%20src%20=%20%22https://intelligentia.udistrital.edu.co:8443/SpagoBI/servlet/AdapterHTTP?ACTION_NAME=EXECUTE_DOCUMENT_ACTION&NEW_SESSION=TRUE&IGNORE_SUBOBJECTS_VIEWPOINTS_SNAPSHOTS=true&OBJECT_LABEL=RteControlNomina&ROLE=%2Fspagobi%2Fuser%2Fadmin&TOOLBAR_VISIBLE=false&SLIDERS_VISIBLE=false%22%20%3E%3C/iframe%3E" id="reporte"></iframe>-->
        </p>
    </div>
    <div class="panel-footer">
        Panel Footer
    </div>
</div>
