<br>
<div class="col-md-6">
  <div class="panel panel-default">
      <div class="panel-heading">
          CATEGORIA IVA
      </div>
      <div class="panel-body">
        <div id="grid1" ui-grid="gridIvaCategoria" class="grid"></div>
        <!--operations-->
        <div id="operaciones1" ng-show="escritura">
          <center><a class="btn btn-primary" ng-click="ver_crear_categoria = !ver_crear_categoria; ver_actualizar_categoria=false">Crear</a></center>
          <div class="row line" ng-show="ver_crear_categoria">
            <form>
              <h4>Agregar Categoria</h4>
              <label class="col-sm-2 control-label">Nombe</label>
              <div class="col-sm-7">
                <input  type="text" class="form-control" ng-model="nueva_categoria.Nombre" required>
              </div>
              <button class="btn btn-primary" ng-click="agregar_categoria()">Agregar</button>
            </form>
          </div>
          <div class="row line" ng-show="ver_actualizar_categoria">
            <h4>Editar Categoria</h4>
            <label class="col-sm-2 control-label">Valor</label>
            <div class="col-sm-7">
              <input  type="text" class="form-control" ng-model="actualizar_categoria.Nombre">
            </div>
            <button class="btn btn-primary" ng-click="actualiza_categoria()">Editar</button>
          </div>
        </div>

      </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
      <div class="panel-heading">
          IVA
      </div>
      <div class="panel-body">
        <!--<pre> {{d_iva.iva | json}} </pre>-->
        <div ng-if="!refresh" id="grid2" ui-grid="gridIva" class="grid"></div>

        <div id="operaciones2" ng-show="escritura">
          <center><a class="btn btn-primary" ng-show="boton_crear_iva" ng-click="ver_crear_iva = !ver_crear_iva; ver_actualizar_iva=false">crear</a></center>
          <div class="row line" ng-show="ver_crear_iva">
            <form>
              <h4>Agregar Iva</h4>
              <label class="col-sm-2 control-label">Valor</label>
              <div class="col-sm-7">
                <input  type="number" class="form-control" ng-model="nuevo_iva.Valor"  min="0" max="99" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" required>
              </div>
              <button class="btn btn-primary" ng-click="agregar_iva()">Agregar</button>
            </form>
          </div>
          <div class="row line" ng-show="ver_actualizar_iva">
            <h4>Editar Iva</h4>
            <label class="col-sm-2 control-label">Valor</label>
            <div class="col-sm-7">
              <input  type="number" class="form-control" ng-model="actualizar_iva.Valor"  min="0" max="99" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
            </div>
            <button class="btn btn-primary" ng-click="actualiza_iva()">Editar</button>
          </div>
        </div>
      </div>

      </div>
  </div>
</div>
