<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading" ng-click="panelUnidadEjecutora = !panelUnidadEjecutora">
            <h4>Seleccione Unidad Ejecutora <span style="float:right;" class="glyphicon glyphicon-collapse-down"></span></h4>

        </div>
        <div ng-show="panelUnidadEjecutora" class="panel-body"  >
          <div ui-grid="d_ueListar.gridOptions_unidad_ejecutora" ui-grid-selection ui-grid-auto-resize></div>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading" ng-click="panelUnidadEjecutora = !panelUnidadEjecutora">
            <h4>Detalle Unidad Ejecutora <span style="float:right;" class="glyphicon glyphicon-collapse-down"></span></h4>
        </div>
        <div ng-show="panelUnidadEjecutora" class="panel-body"  >
          <table class="table">
            <tr>
              <th>Unidad Ejecutora</th>
              <td>{{unidaejecutora.Nombre}}</td>
            </tr>
            <tr>
              <th>Unidad Ejecutora Descripción</th>
              <td>{{unidaejecutora.Descripcion}}</td>
            </tr>
            <tr>
              <th>Entidad</th>
              <td>{{unidaejecutora.Entidad.Nombre}}</td>
            </tr>
            <tr>
              <th>Entidad Codigo</th>
              <td>{{unidaejecutora.Entidad.CodigoEntidad}}</td>
            </tr>
          </table>

        </div>
    </div>
  </div>

</div>
