<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ '' | translate }}</h2>
  <div class="panel-body" >
    <div class="col-md-6">
        <rubros-consulta  botones="homologacionRubroCrear.botones" recargar="homologacionRubroCrear.recarga_arbol" ramasel="true" rubrosel="homologacionRubroCrear.rubroSeleccionado" filtro="homologacionRubroCrear.filtro_rubro"></rubros-consulta>
    </div>
    <div class="col-md-6">
      <homologacion-rubro-entidad><homologacion-rubro-entidad>
    </div>
  </div>
</div>
