<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'OP_TITULO' | translate }} {{ 'NOMINA' | translate }}  {{ 'PLANTA' | translate }}</h2>
  <div class="panel-body">
    <!--detalle Unidad Ejecutora-->
    <legend class="text-primary" ng-click="opPlantaCrear.PestanaAbierta=!opPlantaCrear.PestanaAbierta">
      {{'UNIDAD_EJECUTORA' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!opPlantaCrear.PestanaAbierta"></span>
      <span class="fa fa-minus pull-right" ng-show="opPlantaCrear.PestanaAbierta"></span>
    </legend class="text-primary">
    <div ng-show="opPlantaCrear.PestanaAbierta" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">{{'UNIDAD_EJECUTORA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaCrear.OrdenPago.UnidadEjecutora.Nombre}}</span>
          </div>
          <label class="control-label col-sm-1">{{'DESCRIPCION' | translate}}</label>
          <div class="col-sm-5">
            <textarea readonly class="form-control">{{opPlantaCrear.OrdenPago.UnidadEjecutora.Descripcion}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'ENTIDAD' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaCrear.OrdenPago.UnidadEjecutora.Entidad.Nombre}}</span>
          </div>
          <label class="control-label col-sm-1">{{'CODIGO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaCrear.OrdenPago.UnidadEjecutora.Entidad.CodigoEntidad}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Necesidad -->
    <necesida-listar
      inputpestanaabierta="opPlantaCrear.PestanaAbierta"
      outputnecesidad="opPlantaCrear.Necesidad"
      outputvalortotalrp="opPlantaCrear.OrdenPago.ValorBase"
      outputregistropresupuestal="opPlantaCrear.OrdenPago.RegistroPresupuestal"
      outputsubtipoordenpago="opPlantaCrear.OrdenPago.SubTipoOrdenPago"
      outputnecesidadprocesoexterno="opPlantaCrear.NecesidadProcesoExterno">
    </necesida-listar>

    <!--Valor del Pago-->
    <legend class="text-primary" ng-click="opPlantaCrear.PestanaAbiertaDetallePago=!opPlantaCrear.PestanaAbiertaDetallePago">
      {{'DETALLE_OP' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!opPlantaCrear.PestanaAbiertaDetallePago"></span>
      <span class="fa fa-minus pull-right" ng-show="opPlantaCrear.PestanaAbiertaDetallePago"></span>
    </legend class="text-primary">
    <div ng-show="opPlantaCrear.PestanaAbiertaDetallePago" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="formapago" class="col-sm-2 control-label">{{'FORMA_PAGO' | translate }}</label>
          <div class="col-sm-4">
            <select ng-model="opPlantaCrear.OrdenPago.FormaPago" ng-options="i.Nombre for i in opPlantaCrear.formaPagos" class="form-control" required>
              <option value="">Seleccionar Forma de Pago</option>
            </select>
          </div>
          <label class="control-label col-sm-2">{{'UNIDAD_EJECUTORA' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">{{opPlantaCrear.OrdenPago.UnidadEjecutora.Nombre}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">{{'TIPO_DOCUMENTO' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">{{opPlantaCrear.OrdenPago.SubTipoOrdenPago.Nombre}}</span>
          </div>
          <label class="control-label col-sm-2">{{'VALOR_BASE_RETENCION' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">{{opPlantaCrear.OrdenPago.ValorBase  | currency:"$":0 }}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">{{'ELABORADO_POR' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">1</span>
          </div>
          <label class="control-label col-sm-2">{{'VIGENCIA' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">{{opPlantaCrear.OrdenPago.Vigencia}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <pre>{{opPlantaCrear.Necesidad|json}}</pre> -->

    <!--Rubros y conceptos homologado-->
    <op-nomina-rubros-homologado-por-rp
      inputpestanaabierta="false"
      inputprocesoexternoid="opPlantaCrear.NecesidadProcesoExterno.ProcesoExterno">
    </op-nomina-rubros-homologado-por-rp>

    <!-- Liquidaciones -->
    <liquidacion-ver-todas
      inputpestanaabierta="opPlantaCrear.PestanaAbiertaLiquidacion"
      inputnecesidad="opPlantaCrear.Necesidad"
      ouputpreliquidacion="opPlantaCrear.OrdenPago.Liquidacion">
    </liquidacion-ver-todas>
    <!-- Boton add -->
    <center><button class="btn btn-primary" ng-click="opPlantaCrear.addOpPlantaCrear()">Registrar</button></center>
  </div>
</div>
