<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'DETALLE_ORDEN_PAGO' | translate }} {{ 'NOMINA' | translate }} No. {{opPlantaVerPorId.ordenPagoPlantaId}}</h2>
  <div class="panel-body">

    <!--detalle Unidad Ejecutora-->
    <legend class="text-primary" ng-click="panelUnidadEjecutora=!panelUnidadEjecutora">
      {{'UNIDAD_EJECUTORA' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!panelUnidadEjecutora"></span>
      <span class="fa fa-minus pull-right" ng-show="panelUnidadEjecutora"></span>
    </legend class="text-primary">
    <div ng-show="panelUnidadEjecutora" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">{{'UNIDAD_EJECUTORA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.OrdenPago.UnidadEjecutora.Nombre}}</span>
          </div>
          <label class="control-label col-sm-1">{{'DESCRIPCION' | translate}}</label>
          <div class="col-sm-5">
            <textarea readonly class="form-control">{{opPlantaVerPorId.OrdenPago.UnidadEjecutora.Descripcion}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'ENTIDAD' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.OrdenPago.UnidadEjecutora.Entidad.Nombre}}</span>
          </div>
          <label class="control-label col-sm-1">{{'CODIGO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.OrdenPago.UnidadEjecutora.Entidad.CodigoEntidad}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
