<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'OP_TITULO' | translate }} {{ 'NOMINA' | translate }}  {{ 'PLANTA' | translate }}</h2>
  <div class="panel-body">

    <!-- Necesidad -->
    <necesida-listar
      inputpestanaabierta="opPlantaCrear.PestanaAbierta"
      outputnecesidad="opPlantaCrear.Necesidad"
      outputvalortotalrp="opPlantaCrear.OrdenPago.ValorBase"
      outputregistropresupuestal="opPlantaCrear.OrdenPago.RegistroPresupuestal"
      outputsubtipoordenpago="opPlantaCrear.OrdenPago.SubTipoOrdenPago">
    </necesida-listar>

    <!--Valor del Pago-->
    <legend class="text-primary" ng-click="opPlantaCrear.PestanaAbiertaDetallePago=!opPlantaCrear.PestanaAbiertaDetallePago">
      {{'DETALLE_OP' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!opPlantaCrear.PestanaAbiertaDetallePago"></span>
      <span class="fa fa-minus pull-right" ng-show="opPlantaCrear.PestanaAbiertaDetallePago"></span>
    </legend class="text-primary">
    <div ng-show="opPlantaCrear.PestanaAbiertaDetallePago" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="formapago" class="col-sm-2 control-label">{{'FORMA_PAGO' | translate }}</label>
          <div class="col-sm-4">
            <select ng-model="opPlantaCrear.OrdenPago.FormaPago" ng-options="i.Nombre for i in opPlantaCrear.formaPagos" class="form-control" required>
              <option value="">Seleccionar Forma de Pago</option>
            </select>
          </div>
          <label class="control-label col-sm-2">{{'UNIDAD_EJECUTORA' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">{{opPlantaCrear.OrdenPago.UnidadEjecutora.Nombre}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">{{'TIPO_DOCUMENTO' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">{{opPlantaCrear.OrdenPago.SubTipoOrdenPago.Nombre}}</span>
          </div>
          <label class="control-label col-sm-2">{{'VALOR_BASE_RETENCION' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">{{opPlantaCrear.OrdenPago.ValorBase  | currency:"$":0 }}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">{{'ELABORADO_POR' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">1</span>
          </div>
          <label class="control-label col-sm-2">{{'VIGENCIA' | translate}}</label>
          <div class="col-sm-4">
            <span class="form-control input_right">{{opPlantaCrear.OrdenPago.Vigencia}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <pre>{{opPlantaCrear.Necesidad|json}}</pre> -->

    <!-- Liquidaciones -->
    <liquidacion-ver-todas
      inputpestanaabierta="opPlantaCrear.PestanaAbiertaLiquidacion"
      inputnecesidad="opPlantaCrear.Necesidad"
      ouputpreliquidacion="opPlantaCrear.Preliquidacion">
    </liquidacion-ver-todas>
    <!-- Boton add -->
    <center><button class="btn btn-primary" ng-click="opPlantaCrear.addOpPlantaCrear()">Registrar</button></center>
  </div>
</div>
