<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'DETALLE_ORDEN_PAGO' | translate }} {{ 'NOMINA' | translate }}  {{ 'PLANTA' | translate }} No. {{opPlantaVerPorId.OrdenPago.Consecutivo}}</h2>
  <div class="panel-body">
    <!--detalle Unidad Ejecutora-->
    <legend class="text-primary" ng-click="panelUnidadEjecutora=!panelUnidadEjecutora">
      {{'UNIDAD_EJECUTORA' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!panelUnidadEjecutora"></span>
      <span class="fa fa-minus pull-right" ng-show="panelUnidadEjecutora"></span>
    </legend class="text-primary">
    <div ng-show="panelUnidadEjecutora" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">{{'UNIDAD_EJECUTORA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.OrdenPago.UnidadEjecutora.Nombre}}</span>
          </div>
          <label class="control-label col-sm-1">{{'DESCRIPCION' | translate}}</label>
          <div class="col-sm-5">
            <textarea readonly class="form-control">{{opPlantaVerPorId.OrdenPago.UnidadEjecutora.Descripcion}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'ENTIDAD' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.OrdenPago.UnidadEjecutora.Entidad.Nombre}}</span>
          </div>
          <label class="control-label col-sm-1">{{'CODIGO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.OrdenPago.UnidadEjecutora.Entidad.CodigoEntidad}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--detalle Proveedor-->
    <legend class="text-primary" ng-click="panelProveedor=!panelProveedor">
      {{'PROVEEDOR' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!panelProveedor"></span>
      <span class="fa fa-minus pull-right" ng-show="panelProveedor"></span>
    </legend class="text-primary">
    <div ng-show="panelProveedor" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">{{'TIPO_PERSONA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.proveedor.Tipopersona}}</span>
          </div>
          <label class="control-label col-sm-1">{{'NO_DOCUMENTO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.proveedor.NumDocumento}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NOMBRE' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.proveedor.NomProveedor}}</span>
          </div>
          <label class="control-label col-sm-1">{{'DIRECCION' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.proveedor.Direccion}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'TELEFONO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.tel_proveedor.IdTelefono.NumeroTel}}</span>
          </div>
          <label class="control-label col-sm-1">{{'CUENTA_BANCARIA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.proveedor.NumCuentaBancaria}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'SUCURSAL' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.banco_proveedor.NombreBanco}}</span>
          </div>
          <label class="control-label col-sm-1">{{'TIPO_CUENTA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.proveedor.TipoCuentaBancaria}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--Detalle Registro Presupuestal (RP)-->
    <legend class="text-primary" ng-click="panelRp=!panelRp">
      {{'REGISTRO_PRESUPUESTAL' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!panelRp"></span>
      <span class="fa fa-minus pull-right" ng-show="panelRp"></span>
    </legend class="text-primary">
    <div ng-show="panelRp" class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NO_CRP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.rp_detalle.RegistroPresupuestal.NumeroRegistroPresupuestal}}</span>
          </div>
          <label class="control-label col-sm-1">{{'VIGENCIA' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.rp_detalle.RegistroPresupuestal.Vigencia}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'RESPONSABLE' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.rp_detalle.RegistroPresupuestal.Responsable}}</span>
          </div>
          <label class="control-label col-sm-1">{{'ESTADO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.rp_detalle.RegistroPresupuestal.Estado.Nombre}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'COMPROMISO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.rp_detalle.RegistroPresupuestal.Compromiso.TipoCompromisoTesoral.Nombre}}</span>
          </div>
          <label class="control-label col-sm-1">{{'DESCRIPCION_COMPROMISO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.rp_detalle.RegistroPresupuestal.Compromiso.Objeto}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'VALOR_CRP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control input_right">{{opPlantaVerPorId.valor_total_rp | currency}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NO_CDP' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.rp_detalle.DisponibilidadApropiacion.Disponibilidad.NumeroDisponibilidad}}</span>
          </div>
          <label class="control-label col-sm-1">{{'ESTADO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.rp_detalle.DisponibilidadApropiacion.Disponibilidad.Estado.Nombre}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">{{'NECESIDAD_NO' | translate}}</label>
          <div class="col-sm-5">
            <span class="form-control">{{opPlantaVerPorId.solicitud.SolicitudDisponibilidad.Necesidad.Numero}}</span>
          </div>
          <label class="control-label col-sm-1">{{'OBJETO' | translate}}  {{'NECESIDAD' | translate}} </label>
          <div class="col-sm-5">
            <textarea class="form-control" rows="2" readonly> {{opPlantaVerPorId.solicitud.SolicitudDisponibilidad.Necesidad.Objeto}} </textarea>
          </div>
        </div>
      </div>
    </div>
    <!--Detall Orden de Pago-->
    <legend class="text-primary" ng-click="panelDetallePagoProveedor=!panelDetallePagoProveedor">
      {{'DETALLE_OP' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!panelDetallePagoProveedor"></span>
      <span class="fa fa-minus pull-right" ng-show="panelDetallePagoProveedor"></span>
    </legend class="text-primary">
    <div ng-show="panelDetallePagoProveedor" class="panel-body">
      <div class="form-horizontal">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2">{{'TIPO_DOCUMENTO' | translate}}</label>
            <div class="col-sm-4">
              <span class="form-control input_right">{{opPlantaVerPorId.OrdenPago.SubTipoOrdenPago.Nombre}}</span>
            </div>
            <label class="control-label col-sm-2">{{'FORMA_PAGO' | translate}}</label>
            <div class="col-sm-4">
              <span class="form-control input_right">{{opPlantaVerPorId.OrdenPago.FormaPago.Nombre}}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">{{'ENTRADA_ALMACEN' | translate}}</label>
            <div class="col-sm-4">
              <span class="form-control input_right">{{d_opProveedorVerPorId.entrada.Consecutivo}} - {{d_opProveedorVerPorId.entrada.TipoContrato.Descripcion}}</span>
            </div>
            <label class="control-label col-sm-2">{{'VALOR_BRUTO' | translate}}</label>
            <div class="col-sm-4">
              <span class="form-control input_right">{{opPlantaVerPorId.OrdenPago.ValorBase  | currency:"$":0 }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">{{'ELABORADO_POR' | translate}}</label>
            <div class="col-sm-4">
              <span class="form-control input_right">{{opPlantaVerPorId.OrdenPago.OrdenPagoEstadoOrdenPago[0].Usuario }}</span>
            </div>
            <label class="control-label col-sm-2">{{'VIGENCIA' | translate}}</label>
            <div class="col-sm-4">
              <span class="form-control input_right">{{opPlantaVerPorId.OrdenPago.Vigencia}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Detalle Concepto-->
    <detalle-concepto-op-planta
      inputidordenpago="opPlantaVerPorId.OrdenPago.Id"
      inputpestanaabierta="pestana_abierta">
    </detalle-concepto-op-planta>
    <!--detalle Cuenta Contable-->
    <legend class="text-primary" ng-click="panelDetalleCuentas=!panelDetalleCuentas">
      {{'CUENTAS_CONTABLES' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!panelDetalleCuentas"></span>
      <span class="fa fa-minus pull-right" ng-show="panelDetalleCuentas"></span>
    </legend class="text-primary">
    <div ng-show="panelDetalleCuentas" class="panel-body">
      <movimientos-contables-op-detalle codigodocumentoafectante="opPlantaVerPorId.OrdenPago.Id">
      </movimientos-contables-op-detalle>
    </div>
  </div>
</div>
