<div class="panel panel-default">
  <div class="panel-heading">
    Listado de Planes de Cuentas
  </div>
  <div class="panel-body">
    <div class="input-group pull-left" >
      <div class="input-group-addon">Rows</div>
      <input  ng-model="n_rows" type="number" style="width:4em" ng-change="auto_gridHeight(n_rows)" min="1" max="10" />
    </div>
    <br><br>
    <div style="height: {{gridHeight}}px" ui-grid="d_listaPlanesCuentas.gridOptions" ui-grid-auto-resize ui-grid-selection class="grid"></div>
        <div align="right">
          <br>
          <button class="btn btn-outline btn-info" type="button" >Ver</button>
          <button ng-show="bsel" class="btn btn-outline btn-primary" type="button" ng-click="d_listaPlanesCuentas.seleccionar_plan()">Seleccionar</button>
          <button ng-show="bcancelsel" class="btn btn-outline btn-danger" type="button" ng-click="d_listaPlanesCuentas.cancelar_seleccion()">Cancelar</button>
        </div>
  </div>

</div>
