<div class="panel panel-default shadow-box" ng-show="showmovs">

  <div class="panel-heading">

    <div class="row">
      <div class="col-md-8">
        <span style="color: black panel-title"> {{d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Codigo}}:
         {{d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Nombre}} </span>
         <a href="" class="ver" data-toggle="modal" data-target="#modalConceptos{{d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Codigo}}">
             <i class="fa fa-eye fa-lg  faa-shake animated-hover" aria-hidden="true" title="{{'BTN.VER' | translate }}"></i>
         </a>
      </div>

      <div class="col-md-4">
        <div class="pull-right">
          <span for="montomovimiento">{{"VALOR" | translate}}</span>
          <input class="text-success form-control form-control-inline" id="montomovimiento" type="text" ng-model="monto" ng-disabled="!editable" style="height: 25px" ui-money-mask="0">
        </div>
      </div>

    </div>
  </div>

  <div class="mi-grid" ui-grid="d_movimientosContables.gridOptionsMovimientos" ui-grid-auto-resize ui-grid-edit ui-grid-cellnav ></div>
  <div  ng-if="d_movimientosContables.gridOptionsMovsAcreedores.data.length > 0" ui-grid="d_movimientosContables.gridOptionsMovsAcreedores" ui-grid-auto-resize ui-grid-edit ui-grid-cellnav ></div>
  <div ng-show="show_descs">
    <center><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalDescuentos{{conceptoid}}">{{"IMPUESTOS_DESCUENTOS" | translate}}</button></center>
  </div>
  <div ng-show="show_selcuent">
    <center><button type="button" ng-click="d_movimientosContables.cargar_plan_maestro()" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalSeleccionCuentas">{{"SELECCION_CUENTAS" | translate}}</button></center>
  </div>

  <div id="modalSeleccionCuentas" class="modal fade">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" style="margin-top:5px; margin-bottom:0px">&times</button><br>
      <div class="modal-body">
        <legend>{{"SELECCIONAR_CUENTA_CONTABLE" | translate}}</legend>
          <plan-cuentas filtro="filtro_padre" cuentasel="d_movimientosContables.padre" recargar="d_movimientosContables.recargar_arbol" planid="d_movimientosContables.plan_maestro.Id" rdesc btnselnom="d_movimientosContables.btnselec" />
        <div class="form-group">
          <center><button type="button" class="btn btn-primary btn-outline" ng-click="d_movimientosContables.agregar_cuenta(d_movimientosContables.padre)">{{"AGREGAR" | translate}}</button></center>
        </div>
      </div>

    </div>
  </div>

  <div id="modalDescuentos{{conceptoid}}" class="modal fade">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">

      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" style="margin-top:5px; margin-bottom:0px">&times</button><br>

      <div class="modal-body">
        <legend>{{"SELECCIONAR_DESCUENTOS" | translate}}</legend>
        <ver-descuentos seldesc="cuen" /><br>
        <div class="form-group">
          <centeR><button type="button" class="btn btn-primary btn-outline" ng-click="d_movimientosContables.agregar_descuento(cuen)">{{"AGREGAR" | translate}}</button></center>
        </div>

        <div>
          <legend>{{"CUENTAS_CONTABLES" | translate}}:</legend>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{"CUENTAS_SELECCIONADAS" | translate}}</h3>
            </div>
            <div class="mi-grid" id="mi-grid" ui-grid="d_movimientosContables.gridOptionsDescuentos" ui-grid-cellnav ui-grid-auto-resize ui-grid-edit ></div><br>
          </div>
        </div>

        <div class="form-group">
          <center><button type="button" class="btn btn-success btn-outline" name="button" data-dismiss="modal">{{"FINALIZAR" | translate}}</button></center>
        </div>
      </div>
    </div>
  </div>
  <div id="modalEndosar" class="modal fade">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 15%">

      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" style="margin-top:5px; margin-bottom:0px">&times</button><br>

      <div class="modal-body">
        <legend>{{"ENDOSAR_A_TERCERO" | translate}}</legend>
        <div class="panel panel-default panel-body">
            <form name="end_form" ng-submit="end_form.$valid && d_movimientosContables.asignar_endoso(d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual])" focus-on-field validate>
              <div class="row">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label for="val_endoso_op" class="col-sm-2 control-label ng-binding">{{ 'VALOR' | translate }}*:</label>
                  <div class="col-sm-4">
                    <input class="form-control input_right" ng-model="d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual].ValorInicialEndoso " ui-money-mask="0" ng-required="true"></input>
                  </div>
                  <label for="val_endoso_max" class="col-sm-2 control-label ng-binding">{{ 'VALOR_MAXIMO' | translate }}:</label>
                  <div class="col-sm-4">
                    <input class="form-control input_right" ng-model="d_movimientosContables.ValorMaximo" ui-money-mask="0" ng-required="true" disabled></input>
                  </div>
                </fieldset>
              </div>
              </div>
              <div class="row">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label for="no_documento" class="col-sm-2 control-label ng-binding">{{ 'DOCUMENTO' | translate }}*:</label>
                  <div class="col-sm-4">
                    <input class="form-control input_right" ng-model="d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual].proveedor.NumDocumento" ng-required="true" disabled ></input>
                  </div>
                  <label for="nombre_tercero" class="col-sm-2 control-label ng-binding">{{ 'NOMBRE' | translate }}:</label>
                  <div class="col-sm-4">
                    <input class="form-control" ng-model="d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual].proveedor.NomProveedor" ng-required="true" disabled></input>
                  </div>
                </fieldset>
              </div>
              </div>
              <div class="row">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label for="no_documento" class="col-sm-2 control-label ng-binding">{{ 'CUENTA_BANCARIA' | translate }}*:</label>
                  <div class="col-sm-4">
                    <input class="form-control input_right" ng-model="d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual].CuentaContable.CuentaBancaria.NumeroCuenta" ng-required="true" disabled ></input>
                  </div>
                  <label for="nombre_tercero" class="col-sm-2 control-label ng-binding">{{ 'BANCO' | translate }}/{{ 'SUCURSAL' | translate }}:</label>
                  <div class="col-sm-4">
                    <input class="form-control" ng-model="d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual].CuentaContable.CuentaBancaria.Nombre" ng-required="true" disabled></input>
                  </div>
                </fieldset>
                <label for="forma_pago" class="col-sm-2 control-label">{{'FORMA_PAGO' | translate }}</label>
                <div class="col-sm-4">
                  <select ng-model="d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual].FormaPago" ng-options="i.Nombre for i in d_movimientosContables.formaPagos" class="form-control" required>
                    <option value="">Seleccionar Forma de Pago</option>
                  </select>
                </div>
              </div>
              </div>
              <br>
              <div class="row">
               <div class="form-group" ng-if="d_movimientosContables.validar_endoso(d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual])">
                <center><button ng-click="d_movimientosContables.asignar_endoso(d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual])" class="btn btn-info btn-outline shadow-box" name="button" data-dismiss="modal">{{"BTN.CONFIRMAR" | translate}}</button></center>
              </div>
              <div class="text-center alert alert-danger col-md-6 col-md-offset-3" ng-if="!d_movimientosContables.validar_endoso(d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual])">
               {{'E_EDO001' | translate}}
             </div>
              </div>


            </form>
        </div>
      </div>
    </div>
  </div>
  <div id="modalAddValorBase" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 15%">

      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" style="margin-top:5px; margin-bottom:0px">&times</button><br>

      <div class="modal-body">
        <legend>{{'VALOR_BASE_RETENCION' | translate}}</legend>
        <div class="panel panel-info panel-body">
            <form name="end_form" ng-submit="end_form.$valid && d_movimientosContables.asignar_valor_base(d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual])" focus-on-field validate>
              <div class="row">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <label for="val_base_impuesto_op" class="col-sm-2 control-label ng-binding">{{ 'VALOR' | translate }}*:</label>
                  <div class="col-sm-12">
                    <input class="form-control input_right" ng-model="d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual].ValorBase" ui-money-mask="0" ng-required="true"></input>
                  </div>
                </fieldset>
              </div>
              </div>
              <br>
              <div class="row">
               <div class="form-group" ng-if="d_movimientosContables.validar_valor_base(d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual])">
                <center><button ng-click="d_movimientosContables.asignar_valor_base(d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual])" class="btn btn-info btn-outline shadow-box" name="button" data-dismiss="modal">{{"BTN.CONFIRMAR" | translate}}</button></center>
              </div>
              <div class="text-center alert alert-danger col-md-6 col-md-offset-3" ng-if="!d_movimientosContables.validar_valor_base(d_movimientosContables.gridOptionsMovimientos.data[d_movimientosContables.posactual])">
               {{'E_VBO001' | translate}}
             </div>
              </div>


            </form>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer" align="center">
    <div ng-show="validatemov" class=" text-success">
      <span class="glyphicon glyphicon-ok-circle fa-3x" aria-hidden="true"></span>
      <br><small>{{"PRINCIPIO_PARTIDA_DOBLE_CUMPLE" | translate}}</small>
    </div>

    <div ng-show="!validatemov" class="text-danger ">
      <span class="glyphicon glyphicon-ban-circle fa-3x" aria-hidden="true"></span>
      <br><small>{{"PRINCIPIO_PARTIDA_DOBLE_ADVERTENCIA" | translate}}</small>
    </div>
  </div>

  <div id="modalConceptos{{d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Codigo}}" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
      <div class="modal-header">
        <button type="button" class=" btn-xs close" data-dismiss="modal">&times</button>
      </div>
      <div class="modal-body" ng-if="d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Codigo!=undefined">
        <ver-concepto codigoconcepto="d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Codigo" />
      </div>
    </div>

  </div>

</div>
