<div ng-show="!panel">
<legend class="text-primary" ng-click="inputpestanaabierta=!inputpestanaabierta">
  {{'CUENTAS_CONTABLES' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!inputpestanaabierta"></span>
  <span class="fa fa-minus pull-right" ng-show="inputpestanaabierta"></span>
</legend class="text-primary">

<div class = "panel-body" ng-show="inputpestanaabierta">
  <div class="col-md-12 form-group ">
  <div class="panel panel-default shadow-box">
    <div ui-grid="d_movimientosContablesOpDetalle.gridOptions_movimientos"  ui-grid-auto-resize ui-grid-selection ui-grid-pagination>
      <div class="watermark" ng-show="!d_movimientosContablesOpDetalle.hayData">{{'NO_DATA'| translate}}</div>
      <div class="watermark" ng-show="d_movimientosContablesOpDetalle.cargando">{{'CARGANDO'| translate}}<i class="fa fa-spin fa-spinner"></i></div>
    </div>
  </div>
</div>
</div>
</div>


<div ng-show="panel" >

<div class = "panel-body">
  <div class="col-md-12 form-group ">
  <div class="panel panel-default shadow-box">
    <div ui-grid="d_movimientosContablesOpDetalle.gridOptions_movimientos"  ui-grid-auto-resize ui-grid-pagination ui-grid-selection class="myGrid">
      <div class="watermark" ng-show="!d_movimientosContablesOpDetalle.hayData">{{'NO_DATA'| translate}}</div>
      <div class="watermark" ng-show="d_movimientosContablesOpDetalle.cargando">{{'CARGANDO'| translate}}<i class="fa fa-spin fa-spinner"></i></div>
    </div>
  </div>
</div>
</div>
</div>
