<div class="panel panel-default" ng-show="showmovs">
  <div class="panel-heading">

    <div class="row">
      <div class="col-md-8">
        <span style="color: black panel-title"> {{"CONCEPTO" | translate}}: [ {{d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Codigo}} ]
         {{d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Nombre}} </span> //
        <span>{{"RUBRO" | translate}}: [ {{d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Rubro.Codigo}} ]
          {{d_movimientosContables.gridOptionsMovimientos.data[0].Concepto.Rubro.Descripcion}}</span>
      </div>

      <div class="col-md-4">
        <div class="pull-right">
          <span for="montomovimiento">{{"VALOR" | translate}}</span>
          <input class="text-success" id="montomovimiento" type="text" ng-model="monto" ng-disabled="!editable" style="height: 25px" ui-money-mask="0">
        </div>
      </div>

    </div>
  </div>

  <div style="height: {{gridHeight}}px; " ui-grid="d_movimientosContables.gridOptionsMovimientos" ui-grid-auto-resize ui-grid-edit ui-grid-cellnav class="table"></div>
  <div ng-show="d_movimientosContables.gridOptionsMovsAcreedores.data.length > 0" style="height: {{grid2Height}}px; " ui-grid="d_movimientosContables.gridOptionsMovsAcreedores" ui-grid-auto-resize ui-grid-edit ui-grid-cellnav class="table"></div>

  <div class="panel-footer" align="center">
    <div ng-show="validatemov" class=" text-success">
      <span class="glyphicon glyphicon-ok-circle fa-3x" aria-hidden="true"></span>
      <br><small>{{"PRINCIPIO_PARTIDA_DOBLE_CUMPLE" | translate}}</small>
    </div>

    <div ng-show="!validatemov" class="text-danger ">
      <span class="glyphicon glyphicon-ban-circle fa-3x" aria-hidden="true"></span>
      <br><small>{{"PRINCIPIO_PARTIDA_DOBLE_ADVERTENCIA" | translate}}</small>
    </div>
  </div>
</div>
