<div class="panel panel-success panel-body">
  <div class="panel panel-heading">
    <h4 class="text-center panel-title">{{d_planCuentas.plan.Nombre}} <i class="fa fa-refresh pull-right faa-spin animated-hover" aria-hidden="true" ng-click="d_planCuentas.cargar_arbol()"></i></h4>
  </div>
  <div class="row">

    <treecontrol class="tree-classic" tree-model="arbol" options="d_planCuentas.treeOptions" on-selection="showSelected(node, $path);showc=true" selected-node="cuentasel" order-by="'Codigo'" reverse-order="{{false}}" >
      <span class="text-success">{{node.Codigo}}:</span>  {{node.Nombre}}
    </treecontrol>
    <br>

    <style>
      div.sticky {
        position: sticky;
        bottom: 0;
        right: 1;
      }
    </style>

    <div class="panel panel-success panel-body row sticky" ng-show="cuentasel!=undefined && showc && !vista_resumen">
      <span class="pull-right text-danger" ng-click="cuentasel=undefined">X</span>
      <h2 class="text-success">{{cuentasel.Nombre}}</h2>
      <p class="text-muted text-justify ">{{cuentasel.Descripcion | limitTo:370}} ...</p>
      <dl>
        <dt>{{"CODIGO" | translate}}: {{cuentasel.Codigo}}</dt>
        <dd>- {{"CLASIFICACION" | translate}} : {{cuentasel.NivelClasificacion.Nombre}}</dd>
        <dd>- {{"NATURALEZA" | translate}} : {{cuentasel.Naturaleza | date:'d-MMMM-yyyy'}}</dd>

      </dl>
      <div class="col-md-3 col-md-offset-6">
        <button type="button" class="btn btn-outline btn-primary btn-sm btn-block" data-toggle="modal" data-target="#modalCuentas">{{"BTN.VER" | translate}}</button>
      </div>

      <div class="col-md-3">
        <input class="btn btn-outline btn-success btn-sm btn-block" ng-click="d_planCuentas.seleccionar_cuenta(cuentasel)" value="{{'BTN.SELECCIONAR' | translate}}">
      </div>
    </div>

  </div>

  <div>
    <center><button ng-show="seleccion!=undefined || cuentasel!=undefined;" class="btn btn-success btn-outline" ng-click="seleccion=undefined; cuentasel=undefined; showc=false">{{"BTN.CANCELAR" | translate}}</button></center>
  </div>

  <div id="modalCuentas" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="modal-body" ng-if="cuentasel.Codigo!=undefined">
        <ver-cuenta-contable codigocuenta="cuentasel.Codigo" />
      </div>
    </div>

  </div>


</div>
