<legend class="text-primary" ng-click="a=!a">
  {{'LIQUIDACION' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!a"></span>
  <span class="fa fa-minus pull-right" ng-show="a"></span>
</legend class="text-primary">
<div class="panel-body row" ng-show="a">
  <div class="form-horizontal">
    <div class="form-group">
      <label for="tipo_documento" class="col-sm-1 control-label">{{'TIPO' | translate }} {{'NOMINA' | translate }}</label>
      <div class="col-sm-3">
        <select ng-model="nominaSelect" ng-options="i.Descripcion for i in d_liquidacionVerTodas.nomina" ng-change="d_liquidacionVerTodas.consultar()" class="form-control" required>
        <option value="">Seleccionar Nómina</option>
      </select>
      </div>
      <label for="formapago" class="col-sm-1 control-label">{{'MES' | translate }}</label>
      <div class="col-sm-3">
        <select ng-model="mesSelect" class="form-control" ng-change="d_liquidacionVerTodas.consultar()" required>
        <option value="">Seleccionar Mes</option>
        <option value="1"> {{'MES_ENERO' | translate }} </option>
        <option value="2"> {{'MES_FEBRERO' | translate }} </option>
        <option value="3"> {{'MES_MARZO' | translate }} </option>
        <option value="4"> {{'MES_ABRIL' | translate }} </option>
        <option value="5"> {{'MES_MAYO' | translate }} </option>
        <option value="6"> {{'MES_JUNION' | translate }} </option>
        <option value="7"> {{'MES_JULIO' | translate }} </option>
        <option value="8"> {{'MES_AGOSTO' | translate }} </option>
        <option value="9"> {{'MES_SEPTIEMBRE' | translate }} </option>
        <option value="10"> {{'MES_OCTUBRE' | translate }} </option>
        <option value="11"> {{'MES_NOBIEMBRE' | translate }} </option>
        <option value="12"> {{'MES_DICIEMBRE' | translate }} </option>
      </select>
      </div>
      <label class="col-sm-1 control-label">{{'ANO' | translate }}</label>
      <div class="col-sm-3">
        <select ng-model="anoSelect" class="form-control" ng-change="d_liquidacionVerTodas.consultar()" required>
        <option ng-repeat="option in d_liquidacionVerTodas.years" value="{{option}}">{{option}}</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default" >
      <div ui-grid="d_liquidacionVerTodas.gridOptionsPreliquidacionPersonas" ui-grid-selection ui-grid-auto-resize ui-grid-pagination>
        
          <div class="watermark" ng-show="!d_liquidacionVerTodas.hayData">{{'NO_DATA'| translate}}</div>
          <div class="watermark" ng-show="d_liquidacionVerTodas.cargando">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div ng-show="mostrar">
      <div class="panel panel-default">
        <div ng-if="!refresh" ui-grid="d_liquidacionVerTodas.gridOptionsConceptos" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
      </div>
      <div class="panel panel-default">
        <div ng-if="!refresh" ui-grid="d_liquidacionVerTodas.gridOptionsMovimientosContables" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="mostraDetalleError">
      <p><b>{{ errorPersona | translate }}</b></p>
    </div>
  </div>
</div>


<legend class="text-primary" ng-click="b=!b">
  {{'RESUMEN' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!b"></span>
  <span class="fa fa-minus pull-right" ng-show="b"></span>
</legend class="text-primary">
<div class="panel-body row" ng-show="b">
  <div class="col-md-6">
    <h4><b>Contable</b></h4>
    <div ng-if="!refresh" ui-grid="d_liquidacionVerTodas.gridOptionsResumenMovimientosContables" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
  </div>
  <div class="col-md-6">
    <h4><b>Presupuestal</b></h4>
    <div ng-if="!refresh" ui-grid="d_liquidacionVerTodas.gridOptionsResumenConceptos" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
  </div>
</div>
