<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{'CONSULTA_RELACIONES_DEVOL'|translate}}</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'SELECCIONAR'|translate}} {{'RELACION_DEVOLUCION'|translate}}</h3>
        </div>
        <div ui-grid="devolucionesconsultaRelacion.gridOrdenes" ui-grid-auto-resize ui-grid-pagination>
          <div class="watermark" ng-show="!devolucionesconsultaRelacion.hayData">{{'NO_DATA'| translate}}</div>
          <div class="watermark" ng-show="devolucionesconsultaRelacion.cargando">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>
        </div>
    </div>
    <div ng-if="mostrar_direc">
        <procesol edges="aristas" nodes="estados" node="estado" nodeclick="estadoclick" eventclick="funcion(estado)"  info="informacion"></procesol>
    </div>

    <div class="panel-footer">
      <div align="center">
        <a ng-href="#/devoluciones/orden"  class="btn btn-info btn-outline">
           {{ 'BTN.CREAR_ORDEN_DEVOLUCION' | translate }} </a>
           <a ng-href="#/devoluciones/relacion"  class="btn btn-info btn-outline">
              {{ 'BTN.CREAR_RELACION_DEVOLUCION' | translate }} </a>
      </div>
    </div>
</div>
