<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'ORDEN_DEVOLUCION' | translate }} {{'TRIBUTARIA'|translate}}</h2>
<div class="panel-body" >
    <legend class="text-primary" ng-click="devolucionesnoTributaria.infOrdenPago=!devolucionesnoTributaria.infOrdenPago">
    {{'ORDEN_DE_PAGO'|translate}}
    <span class="fa fa-plus pull-right" ng-show="!devolucionesnoTributaria.infOrdenPago"></span>
    <span class="fa fa-minus pull-right" ng-show="devolucionesnoTributaria.infOrdenPago"></span>
  </legend>

  <div ng-if="devolucionesnoTributaria.infOrdenPago">
    <div ui-grid="devolucionesnoTributaria.gridOrdenesDePago" ui-grid-auto-resize ui-grid-pagination></div>
 </div>
 </div>
 <div class="panel-body">
   <legend class="text-primary" ng-click="d=!d">
     {{'CUENTAS_ASOCIADAS' | translate}}
     <span class="fa fa-plus pull-right" ng-show="!d"></span>
     <span class="fa fa-minus pull-right" ng-show="d"></span>
   </legend>
   <div class="panel-body row" ng-show="d">
       <div ui-grid="devolucionesnoTributaria.gridCuentasAsociadas" ui-grid-auto-resize ui-grid-pagination ui-grid-edit ui-grid-cellnav></div>
   </div>
 </div>
<div class="panel-body" >
  <legend class="text-primary" ng-click="devolucionesnoTributaria.infDevol=!devolucionesnoTributaria.infDevol">
    {{'DEVOLUCION'|translate}}
    <span class="fa fa-plus pull-right" ng-show="!devolucionesnoTributaria.infDevol"></span>
    <span class="fa fa-minus pull-right" ng-show="devolucionesnoTributaria.infDevol"></span>
  </legend>
  <div ng-show="devolucionesnoTributaria.infDevol">

    <div class="col-md-6">
        <div class="panel panel-default panel-body">
          <div class="panel panel-heading">
            <h4 class="text-left panel-title"><span>{{'SOLICITANTE' | translate}}</span></h4>
          </div>
          <form name="datosSolicitante">
            <div class="col-md-6">
              <div class="form-group">
              <label for="tipodoc" class="control-label">{{'TIPO_DOCUMENTO'|translate}}</label>
              <select ng-model="devolucionesnoTributaria.tipoDocSoli" ng-options="i.ValorParametro for i in devolucionesnoTributaria.tiposdoc" class="form-control" id="tipoDocSoli" required>
                <option value="">{{'SELECCIONAR_TIPO_DOCUMENTO'|translate}}</option>
              </select>
            </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="numdoc" class="control-label" style="display:block" >{{'NO_DOCUMENTO'|translate}}</label>
                  <div style="display:inline-block">
                    <input type="text" class="form-control input_left" ng-model="devolucionesnoTributaria.numdocSoli" placeholder="{{'NO_DOCUMENTO'|translate}}" ui-number-mask="0" required/>
                  </div>
                    <button type="button" ng-click="devolucionesnoTributaria.consultaPagos()" class="fa fa-search btn btn-info btn-outline" ></button>
                </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="numdoc" class="control-label">{{'NOMBRE'|translate}}</label>
                <div ng-if="!devolucionesnoTributaria.cargando_sol">
                  <span class="form-control">{{devolucionesnoTributaria.nombreSolicitante}}</span>
                </div>
                <div  ng-if="devolucionesnoTributaria.cargando_sol">
                  <span class="form-control">{{'CARGANDO' | translate}} <i class="fa fa-spin fa-spinner"></i> </span>
               </div>

              </div>

          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
        <form name="datosDocumento">
                  <div class="panel panel-default panel-body">
                    <div class="panel panel-heading">
                      <h4 class="text-center panel-title"><span>{{'INFORMACION_DOCUMENTO_ING'|translate}}</span><br ng-show="!vtitle" /></h4>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="tipoDocumento">{{'TIPO_DOCUMENTO'|translate}}</label>
                        <select class="form-control" ng-model="devolucionesnoTributaria.documentoSelec" ng-options="op as op.Nombre for op in devolucionesnoTributaria.documentos" required>
                          <option value="">{{'TIPO_DOCUMENTO' | translate}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="fechaDocumento">{{'FECHA_DOCUMENTO'|translate}}</label>
                        <br>
                        <md-datepicker ng-model="devolucionesnoTributaria.fechaDocumento" md-placeholder="{{'FECHA_DOCUMENTO'|translate}}"></md-datepicker>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="numeroDocumento">{{'NUMERO'|translate}}</label>
                          <input type="text" class="form-control input_left" ng-model="devolucionesnoTributaria.numDocDevol" placeholder="{{'NUMERO'|translate}}" ui-number-mask="0" required/>
                      </div>

                    </div>
                  </div>
            </form>
    </div>



    <div class="col-md-6">
      <form name="datosDevolucion">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-6">

            <div class="form-group">
              <label for="formaPago" class="control-label">{{'FORMA_PAGO'|translate}}</label>
              <select ng-model="devolucionesnoTributaria.formaPago" ng-options="i.Nombre for i in devolucionesnoTributaria.formasPago" class="form-control" id="formaPago" required>
                <option value="">{{'SELECCIONAR_FORMA_PAGO'|translate}}</option>
              </select>
            </div>


            <div class="form-group">
              <label for="noperacion" class="control-label">{{'TIPO_CUENTA'|translate}}</label>
              <select ng-model="devolucionesnoTributaria.tipocuenta" ng-options="i.Nombre for i in devolucionesnoTributaria.tiposCuenta" class="form-control" required>
                <option value="">{{'SELECCIONAR_TIPO_CUENTA'|translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>{{'VALOR_SOLICITADO'|translate}}</label>
              <input type="text" class="form-control input_left" ng-model="devolucionesnoTributaria.valorSolicitado" placeholder="{{'VALOR_SOLICITADO'|translate}}" ui-number-mask="0" required disabled>
            </div>

          <div class="form-group">
            <label for="unidadejecutora">{{'UNIDAD_EJECUTORA' | translate}}</label>
            <select class="form-control" ng-model="devolucionesnoTributaria.unidadejecutora" ng-options="op as op.Nombre for op in devolucionesnoTributaria.unidadesejecutoras" required>
              <option value="">{{'UNIDAD_EJECUTORA' | translate}}</option>
                          </select>
          </div>
        </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="banco" class="control-label">{{'BANCO'|translate}}</label>
              <select ng-model="devolucionesnoTributaria.banco" ng-options="i.NombrePerfilEntidad for i in devolucionesnoTributaria.bancos" class="form-control" required>
                <option value="">{{'BANCO'|translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label">{{'CUENTA'|translate}}</label>
              <input type="text" class="form-control input_left" ng-model="devolucionesnoTributaria.numeroCuenta" placeholder="{{'CUENTA'|translate}}" ui-number-mask="0" required/>
            </div>

            <div class="form-group">
              <label class="control-label">{{'SOPORTE'|translate}}</label>
              <select ng-model="devolucionesnoTributaria.soporte" ng-options="i.Nombre for i in devolucionesnoTributaria.actas" class="form-control" required>
                <option value="">{{'SOPORTE'|translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label">{{'VIGENCIA'|translate}}</label>
              <select ng-model="devolucionesnoTributaria.vigencia" ng-options="i for i in devolucionesnoTributaria.anos" class="form-control" required>
                <option value="">{{'VIGENCIA'|translate}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-12">
            <label for="observaciones">{{'OBSERVACIONES' | translate}}</label>
            <textarea name="observaciones" class="form-control" rows="4" cols="40" ng-model="devolucionesnoTributaria.observaciones"></textarea>
          </div>
        </div>
      </div>
      </form>
    </div>

    <div class="col-md-6">
      <div class="col-md-12">
        <arbol-conceptos filtro="devolucionesnoTributaria.filtro_ingresos" seleccion="concepto" conceptosel="nodo" multiselect="true"> </arbol-conceptos>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row" ng-show="concepto.length > 0">
        <div class="panel-default panel-body">
          <div class="panel panel-heading">
            <h4 class="text-left panel-title"><span>{{'AFECTACION_PRESUPUESTAL' | translate}}</span></h4>
          </div>
          <div class="col-md-6">
          <ul class="list-unstyled" ng-repeat="con in concepto track by con.Id">
            <li><b>{{'RUBRO' | translate}}:</b> {{con.Rubro.Codigo + " / "+ con.Rubro.Nombre }}
              <ul>
                <li>
                  <div class="col-md-4" style="width:148px">
                    <label for="valAfectacion">{{'VALOR_AFECTACION' | translate}}:</label>
                  </div>
                  <div class="col-md-4" style="width:200px">
                    <input class="form-control" id="total" type="text" ng-model="con.valorAfectacion" ui-money-mask="0" placeholder="{{'VALOR_AFECTACION' | translate}}" style="height:25px">
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div ng-show= "devolucionesnoTributaria.validaDevolPr" class="col-md-6 text-success" align="center">
          <span class="glyphicon glyphicon-ok-circle fa-3x" aria-hidden="true"></span>
          <br><small>{{"TOTAL_DEVOLUCION_RUBRO" | translate}}</small>
        </div>

        <div ng-show= "!devolucionesnoTributaria.validaDevolPr" class="col-md-6 text-danger" align="center">
          <span class="glyphicon glyphicon glyphicon-remove-circle fa-3x" aria-hidden="true"></span>
          <br><small>{{"TOTAL_DEVOLUCION_RUBRO_ADVERTENCIA" | translate}}</small>
        </div>


        </div>
      </div>
    </div>
</div>
</div>

  <div class="panel-body" ng-show="concepto.length > 0">
    <legend class="text-primary" ng-click="c=!c">
      {{'CUENTAS_CONTABLES' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!c"></span>
      <span class="fa fa-minus pull-right" ng-show="c"></span>
    </legend class="text-primary">
    <div class="panel-body row" ng-show="c">
      <div class="col-sm-12">
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li ng-class="{active: selected == c.Id}" ng-repeat="c in concepto"><a href ng-click="devolucionesnoTributaria.selected=c.Id" data-toggle="tab">
                                Concepto: [ {{c.Codigo}} ]  {{c.Nombre}}</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" ng-repeat="c in concepto" ng-if="devolucionesnoTributaria.selected==c.Id">
              <movimientos-contables conceptoid="c.Id" movimientos="c.movimientos" monto="c.valorAfectacion" editable validatemov="c.validado">
              </movimientos-contables>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="panel-footer">
      <div align="center">
        <button  class="btn btn-outline btn-info" ng-click="devolucionesnoTributaria.crearDevolucion()"> {{ 'BTN.REGISTRAR' | translate }} </button>
      </div>
    </div>

  </div>



  <div id="modalCuentas" class="modal fade col-md-12" role="dialog">
    <div class="modal-content col-md-offset-1 col-md-10">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="devolucionesnoTributaria.pestOpen=false">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="page-header">{{'SELECCIONAR_CUENTA_CONTABLE'|translate}}</h3>
            </div>
            <div class="panel-body">
              <movimientos-contables-op-detalle codigodocumentoafectante="devolucionesnoTributaria.Op.Id" selection="devolucionesnoTributaria.seleccionMov" inputpestanaabierta="devolucionesnoTributaria.pestOpen" cuentaselecc="devolucionesnoTributaria.cuentasAsociadas" devolt>
              </movimientos-contables-op-detalle>
            </div>
            <div class="panel-footer">
              <div align="center">
                <button  class="btn btn-outline btn-info" ng-click="devolucionesnoTributaria.aceptar()"> {{ 'BTN.SELECCIONAR' | translate }} </button>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
