<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'ORDEN_DEVOLUCION' | translate }}</h2>

<div class="panel-body" >
  <legend class="text-primary">
    {{'DEVOLUCION'|translate}}
  </legend class="text-primary">
  <div>

    <form name="datosSolicitante">
    <div class=col-md-6>
        <div class="panel panel-default panel-body">
            <div class="panel panel-heading">
            <h4 class="text-left panel-title"><span>{{'SOLICITANTE' | translate}}</span></h4>
          </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="tipodoc" class="control-label">{{'TIPO_DOCUMENTO'|translate}}</label>
              <select ng-model="ordendevolucion.tipoDocSoli" ng-options="i.ValorParametro for i in ordendevolucion.tiposdoc" class="form-control" id="tipoDocSoli" required>
                <option value="">{{'SELECCIONAR_TIPO_DOCUMENTO'|translate}}</option>
              </select>
            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="numdoc" class="control-label" style="display:block">{{'NO_DOCUMENTO'|translate}}</label>
                  <div style="display:inline-block">
                    <input type="text" class="form-control input_left"  ng-model="ordendevolucion.numdocSoli" placeholder="{{'NO_DOCUMENTO'|translate}}" ui-number-mask="0" required/>
                </div>
                <button type="button" ng-click="" class="fa fa-search btn btn-info btn-outline" ></button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="numdoc" class="control-label">{{'NOMBRE'|translate}}</label>
                <div ng-if="!ordendevolucion.cargando_sol">
                <span class="form-control" >{{ordendevolucion.nombreSolicitante}}</span>
               </div>
               <div  ng-if="ordendevolucion.cargando_sol">
               <span class="form-control">{{'CARGANDO' | translate}} <i class="fa fa-spin fa-spinner"></i> </span>
              </div>
              </div>
          </div>


      </div>
    </div>
  </form>

  <form name="datosBeneficiario">
    <div class=col-md-6>
        <div class="panel panel-default panel-body">
            <div class="panel panel-heading">
            <h4 class="text-left panel-title"><span>{{'BENEFECIARIO' | translate}}</span></h4>
          </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="tipodoc" class="control-label">{{'TIPO_DOCUMENTO'|translate}}</label>
              <select ng-model="ordendevolucion.tipoDocBen" ng-options="i.ValorParametro for i in ordendevolucion.tiposdoc" class="form-control" required>
                <option value="">{{'SELECCIONAR_TIPO_DOCUMENTO'|translate}}</option>
              </select>
            </div>
            </div>
            <div class="col-md-6">
              <form >
              <div class="form-group">
                <label for="numdoc" class="control-label">{{'NO_DOCUMENTO'|translate}}</label>
                <input type="text" class="form-control input_left" ng-model="ordendevolucion.numdocBeneficiario" placeholder="{{'NO_DOCUMENTO'|translate}}" ui-number-mask="0" required/>
              </div>
              </form>
            </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="numdoc" class="control-label">{{'NOMBRE'|translate}}</label>
              <div  ng-if="!ordendevolucion.cargando_ben">
              <span class="form-control">{{ordendevolucion.nombreBeneficiario}}</span>
            </div>
            <div ng-if="ordendevolucion.cargando_ben">
              <span class="form-control">{{'CARGANDO' | translate}} <i class="fa fa-spin fa-spinner"></i> </span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </form>

    <form name="datosOblig">
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-6">

            <div class="form-group">
              <label for="formaPago" class="control-label">{{'FORMA_PAGO'|translate}}</label>
              <select ng-model="ordendevolucion.formaPago" ng-options="i.Nombre for i in ordendevolucion.formasPago" class="form-control" id="formaPago" required>
                <option value="">{{'SELECCIONAR_FORMA_PAGO'|translate}}</option>
              </select>
            </div>


            <div class="form-group">
              <label for="noperacion" class="control-label">{{'TIPO_CUENTA'|translate}}</label>
              <select ng-model="ordendevolucion.tipocuenta" ng-options="i.Nombre for i in ordendevolucion.tiposCuenta" class="form-control" required>
                <option value="">{{'SELECCIONAR_TIPO_CUENTA'|translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>{{'VALOR_SOLICITADO'|translate}}</label>
              <input type="text" class="form-control input_left" ng-model="ordendevolucion.valorSolicitado" placeholder="{{'VALOR_SOLICITADO'|translate}}" ui-number-mask="0" required/>
            </div>

          <div class="form-group">
            <label for="unidadejecutora">{{'UNIDAD_EJECUTORA' | translate}}</label>
            <select class="form-control" ng-model="ordendevolucion.unidadejecutora" ng-options="op as op.Nombre for op in ordendevolucion.unidadesejecutoras">
              <option value="">{{'UNIDAD_EJECUTORA' | translate}}</option>
                          </select>
          </div>

          <div class="form-group">
            <label for="unidadejecutora">{{'RAZON_DEVOLUCION' | translate}}</label>
            <select class="form-control" ng-model="ordendevolucion.razonDevolucion" ng-options="op as op.Nombre for op in ordendevolucion.razonesDevolucion" required>
              <option value="">{{'RAZON_DEVOLUCION' | translate}}</option>
            </select>
          </div>
        </div>

          <div class="col-md-6">


            <div class="form-group">
              <label for="banco" class="control-label">{{'BANCO'|translate}}</label>
              <select ng-model="ordendevolucion.banco" ng-options="i.InformacionPersonaJuridicaId.NomProveedor for i in ordendevolucion.bancos" class="form-control" required>
                <option value="">{{'BANCO'|translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label">{{'CUENTA'|translate}}</label>
              <input type="text" class="form-control input_left" ng-model="ordendevolucion.numeroCuenta" placeholder="{{'CUENTA'|translate}}" ui-number-mask="0" required/>
            </div>

            <div class="form-group">
              <label class="control-label">{{'SOPORTE'|translate}}</label>
              <select ng-model="ordendevolucion.soporte" ng-options="i.Nombre for i in ordendevolucion.actas" class="form-control" required>
                <option value="">{{'SOPORTE'|translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label">{{'VIGENCIA'|translate}}</label>
              <select ng-model="ordendevolucion.vigencia" ng-options="i for i in ordendevolucion.anos" class="form-control" required>
                <option value="">{{'VIGENCIA'|translate}}</option>
              </select>
            </div>


          </div>

          <div class="col-md-12">
            <label for="observaciones">{{'OBSERVACIONES' | translate}}</label>
            <textarea name="observaciones" class="form-control" rows="4" cols="40" ng-model="ordendevolucion.observaciones"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
<div class="col-md-6">
    <div class="col-md-12">
      <div class="form-group">
        <arbol-conceptos filtro="ordendevolucion.filtro_ingresos" seleccion="ordendevolucion.concepto[0]" conceptosel="nodo" recargar="ordendevolucion.recargar" rdesc > </arbol-conceptos>
      </div>
    </div>
</div>

    <div class="col-md-12">
      <div class="row" ng-show="ordendevolucion.concepto[0]">
        <div class="panel-default panel-body">
          <div class="panel panel-heading">
            <h4 class="text-left panel-title"><span>{{'AFECTACION_PRESUPUESTAL' | translate}}</span></h4>
          </div>
          <ul class="list-unstyled">
            <li><b>{{'RUBRO' | translate}}:</b> {{ordendevolucion.concepto[0].Rubro.Codigo+" / "+ordendevolucion.concepto[0].Rubro.Nombre}}
              <ul>
                <li>
                  <div class="col-md-4" style="width:148px">
                    <label for="valAfectacion">{{'VALOR_AFECTACION' | translate}}:</label>
                  </div>
                  <div class="col-md-4" style="width:200px">
                    <input class="form-control" id="total" type="text" ng-model="ordendevolucion.valorSolicitado" ui-money-mask="0" placeholder="{{'VALOR_AFECTACION' | translate}}" ng-disabled="true" style="height:25px">
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

</div>

</div>

<div class="panel-body" ng-if="ordendevolucion.carreras.length > 0">
  <legend class="text-primary" ng-click="ordendevolucion.changeStatePagos()">
    {{'PAGOS_REALIZADOS'|translate}}
    <span class="fa fa-plus pull-right" ng-show="!ordendevolucion.pagos"></span>
    <span class="fa fa-minus pull-right" ng-show="ordendevolucion.pagos"></span>
  </legend class="text-primary">
  <div ng-if="ordendevolucion.pagos">
    <div class="col-sm-12">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li ng-class="{active: selected == carrera}" ng-repeat="carrera in ordendevolucion.carreras"><a href ng-click="ordendevolucion.setSelectedCar(carrera)" data-toggle="tabCar">
                            <b>  Carrera: [ {{carrera.Cod_Carrera}} ]  {{carrera.Carrera}}</b> Facultad: {{carrera.Facultad}}</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active">
            <devol-pagos-academica inforecibos="ordendevolucion.selectedcar" valorsolicitado="ordendevolucion.valorSolicitado" ng-if="ordendevolucion.seleccion">
            </devol-pagos-academica>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="panel-body" ng-show="ordendevolucion.concepto[0]">
    <legend class="text-primary" ng-click="c=!c">
      {{'CUENTAS_CONTABLES' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!c"></span>
      <span class="fa fa-minus pull-right" ng-show="c"></span>
    </legend class="text-primary">
    <div class="panel-body row" ng-if="c">
      <div class="col-sm-12">
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li ng-class="{active: selected == c.Id}" ng-repeat="c in ordendevolucion.concepto"><a href ng-click="ordendevolucion.selected=c.Id" data-toggle="tab">
                                {{'CONCEPTO' | translate}}: [ {{c.Codigo}} ]  {{c.Nombre}}</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" ng-repeat="c in ordendevolucion.concepto" ng-show="ordendevolucion.selected==c.Id">
              <movimientos-contables conceptoid="c.Id" movimientos="ordendevolucion.movs" monto="ordendevolucion.valorSolicitado" editable validatemov="c.validado">
              </movimientos-contables>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="panel-footer">
      <div align="center">
        <button  class="btn btn-outline btn-info" ng-click="ordendevolucion.crearSolicitud()"> {{ 'BTN.REGISTRAR' | translate }} </button>
      </div>
    </div>

  </div>
