<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'RELACION_DEVOLUCION' | translate }}</h2>
  <div class="panel-body" >
    <legend class="text-primary" ng-click="devolucionesrelacion.infDevol=!devolucionesrelacion.infDevol">
      {{ 'ORDEN_DEVOLUCION' | translate }}
      <span class="fa fa-plus pull-right" ng-show="!devolucionesrelacion.infDevol"></span>
      <span class="fa fa-minus pull-right" ng-show="devolucionesrelacion.infDevol"></span>
    </legend class="text-primary">
    <div ng-if="devolucionesrelacion.infDevol">
      <div ui-grid="devolucionesrelacion.gridOrdenes" ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
    </div>
  </div>
  <div class="panel-body" >
    <legend class="text-primary" ng-click="devolucionesrelacion.infRela=!devolucionesrelacion.infRela">
      {{ 'INFORMACION_RELACION' | translate }}
      <span class="fa fa-plus pull-right" ng-show="!devolucionesrelacion.infRela"></span>
      <span class="fa fa-minus pull-right" ng-show="devolucionesrelacion.infRela"></span>
    </legend class="text-primary">
  <div ng-show = "devolucionesrelacion.infRela">
    <div class = "col-md-4">
      <div class="form-group">
        <label for="unidadejecutora">{{'UNIDAD_EJECUTORA' | translate}}</label>
        <select class="form-control" ng-model="devolucionesrelacion.unidadejecutora" ng-options="op as op.Nombre for op in devolucionesrelacion.unidadesejecutoras">
          <option value="">{{'UNIDAD_EJECUTORA' | translate}}</option>
                    </select>
      </div>
      <div class="form-group">
        <label for="observaciones">{{'OBSERVACIONES' | translate}}</label>
        <textarea name="observaciones" class="form-control" rows="4" cols="40" ng-model="devolucionesrelacion.observaciones"></textarea>
      </div>
    </div>

    <div class = "col-md-4">
      <div class="form-group">
      <label class="control-label">{{'VIGENCIA'|translate}}</label>
      <select ng-model="devolucionesrelacion.vigencia" ng-options="i for i in devolucionesrelacion.anos" class="form-control" required>
        <option value="">{{'VIGENCIA'|translate}}</option>
      </select>
    </div>
    </div>

<div class = "col-md-4">
    <div class="form-group">
      <label>{{'VALOR_TOTAL'|translate}}</label>
      <input type="text" class="form-control input_left" ng-model=devolucionesrelacion.valorTotal ui-number-mask="0" ng-readonly="true"></span>
    </div>
    </div>

  </div>
</div>
<div class="panel-footer">
  <div align="center">
    <button  class="btn btn-outline btn-info" ng-click="devolucionesrelacion.insertarOrden()"> {{ 'BTN.REGISTRAR' | translate }} </button>
  </div>
</div>
</div>
