<div class="panel panel-success panel-body">
    <div class="panel panel-heading">
      <h4 class="text-center panel-title">{{"CONSULTA_APROBACION_INICIAL" | translate}}<i class="fa fa-refresh pull-right faa-spin animated-hover" aria-hidden="true" ng-click="d_apropiacionConsulta.cargar_arbol()"></i></h4>
    </div>
    
    <div class="row ">
      <center>  
      <form class="form-group" name="myF">
        <label for="myI"> {{'BUSCAR' | translate}}: </label>
        <input type="text" name="myI" debounce-state  ng-model="filtro" placeholder="Busque Por Código"  ng-model-options="{ updateOn: 'default blur', debounce: { default: 800, blur: 3000 } }"> <i class="fa fa-spinner faa-spin animated" aria-hidden="true" ng-if="myF.myI.$debouncing"></i>
      </form>
    </center>
      <h4 class="text-info">{{"VIGENCIA" | translate}} : {{vigencia}}</h4>
      <hr>
      <div class="pre-scrollable">
          <treecontrol class="tree-classic" tree-model="arbol" options="d_apropiacionConsulta.treeOptions"selected-node="rubrosel" order-by="'Codigo'" reverse-order="{{false}}" on-node-toggle="d_apropiacionConsulta.onSelectNode(node,expanded)"filter-expression="filtro" expanded-nodes="d_apropiacionConsulta.expandedNodes">
              <span class="text-success">{{node.Codigo }}:</span> {{node.Nombre | limitTo:50}} - 
              <btn-registro ng-if="node.Hijos == null" funcion="d_apropiacionConsulta.arbol_operacion(node,operacion)" grupobotones="botones" fila="node"></btn-registro>
              <btn-registro ng-if="node.Hijos != null" funcion="d_apropiacionConsulta.arbol_operacion(node,operacion)" grupobotones="botonespadre" fila="node"></btn-registro>
            </treecontrol>
      </div>
    </div>
  </div>
  
  <div id="myModalapr" class="modal fade col-md-12" role="dialog">
    <div class="modal-content col-md-offset-1 col-md-10">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" >&times</button><br>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="page-header">{{'APROPIACION' | translate}} :  {{d_apropiacionConsulta.apropiacionsel.Nombre}} / {{d_apropiacionConsulta.apropiacionsel.Codigo}}</h3>
          <div ng-if="d_apropiacionConsulta.apropiacionsel.Apropiacion != null" align="right">{{'VIGENCIA' | translate}}:{{d_apropiacionConsulta.apropiacionsel.Vigencia}}</div>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>{{'DESCRIPCION' | translate}}: </th>
              <td>{{d_apropiacionConsulta.apropiacionsel.Descripcion}}</td>
            </tr>
          </table>
          <hr>
          <ul  ng-if="d_apropiacionConsulta.apropiacionsel.Apropiacion != null">
            <li><b>{{'INFORMACION_SALDO_APROPIACION'|translate}}</b>
              <ul>
                <li><b>{{'APROPIACION_INICIAL'|translate}}</b> : {{d_apropiacionConsulta.apropiacionsel.ApropiacionInicial | currency}}</li>  
                <!--li><b>{{'TOTAL_COMPROMETIDO'|translate}}</b> : {{d_apropiacionConsulta.apropiacionsel.Apropiacion.InfoSaldo.comprometido | currency}}
                  <ul>
                    <li><b>{{'TOTAL_REDUCCIONES'|translate}}</b> : {{d_apropiacionConsulta.apropiacionsel.Apropiacion.InfoSaldo.reducciones | currency}}</li>
                  </ul>
                </li> 
                <li><b>{{'TOTAL_ADICIONES'|translate}}</b> : {{d_apropiacionConsulta.apropiacionsel.Apropiacion.InfoSaldo.adiciones | currency}}</li>                  
                <li><b>{{'TOTAL_TRASLADOS'|translate}}</b> : {{d_apropiacionConsulta.apropiacionsel.Apropiacion.InfoSaldo.traslados | currency}}</li>
                <li><b>{{'TOTAL_ANULADO'|translate}}</b> : {{d_apropiacionConsulta.apropiacionsel.Apropiacion.InfoSaldo.comprometido_anulado | currency}}</li>                                                  
                <li><b>{{'SALDO'|translate}}</b> : {{d_apropiacionConsulta.apropiacionsel.Apropiacion.InfoSaldo.saldo | currency}}</li-->
              </ul>
            </li>
            </ul>
            <div ng-if="d_apropiacionConsulta.gridOptions.data.length != 0">
              <hr>
              <h4 class="text-info">{{'MOVIMIENTOS'|translate}}</h4>
              <div ui-grid="d_apropiacionConsulta.gridOptions" ui-grid-auto-fit-columns ui-grid-pagination ui-grid-auto-resize class="myGrid"></div>
                
              </div>
            <div ng-if="d_apropiacionConsulta.apropiacionsel.Apropiacion == null" class="alert alert-danger">
              {{'E_AP001'|translate}}
            </div>
        </div>
      </div>
    </div>
  </div>


  <div id="ModalEdicionApr" class="modal fade col-md-12" role="dialog">
      <div class="modal-content col-md-offset-1 col-md-10">
        <div class="modal-header">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" >&times</button><br>        
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="page-header">{{'APROPIACION' | translate}} :  {{d_apropiacionConsulta.apropiacionsel.Nombre}} / {{d_apropiacionConsulta.apropiacionsel.Codigo}}</h3>
              <div  align="right">{{'VIGENCIA' | translate}}:{{vigencia}}</div>
            </div>
            <div class="panel-body">
                <div ng-if="d_apropiacionConsulta.apropiacionsel.Apropiacion != null;d_apropiacionConsulta.apropiacionsel.Apropiacion.Estado.Id == 1" class="alert alert-danger">
                    {{'E_AP002'|translate}}
                  </div>
                <div ng-if="d_apropiacionConsulta.apropiacionsel.Apropiacion == null" class="col-md-6 col-md-offset-3">
                    <label for="valor">{{'APROPIACION_INICIAL'|translate}} : </label><input id="valor" name="valor" type="text" ui-money-mask="0"  class="form-control input-md-6" required="true" ng-model="d_apropiacionConsulta.ValorAsignado">
                    <br>
                    <center>
                      <button class="btn btn-outline btn-success" ng-click="d_apropiacionConsulta.RegistrarApr()">{{'BTN.REGISTRAR'|translate}}</button>
                    </center>
                  </div>
                  <div ng-if="d_apropiacionConsulta.apropiacionsel.Apropiacion != null;d_apropiacionConsulta.apropiacionsel.Apropiacion.Estado.Id == 2" class="col-md-6 col-md-offset-3" >
                    <label for="valor">{{'APROPIACION_INICIAL'|translate}} : </label><input id="valor" name="valor" type="text" ui-money-mask="0"  class="form-control input-md-6" required="true" ng-model="d_apropiacionConsulta.apropiacionsel.Apropiacion.Valor">
                    <br>
                    <center>
                      <button class="btn btn-outline btn-success" ng-click="d_apropiacionConsulta.ActualizarApr()">{{'BTN.ACTUALIZAR'|translate}}</button>
                    </center>
                    </div>
            </div>
        </div>
      </div>
  </div>
