<ul class="list-unstyled" ng-repeat="item in fuenteFinanciacionRp.resumen_afectacion_presupuestal">
  <hr class="hr-primary">
  <li><b>{{'RUBRO' | translate}}:</b> {{item[0].Apropiacion.Rubro.Codigo+" / "+item[0].Apropiacion.Rubro.Descripcion}}
    <ul>
      <li ng-show="item[0].FuenteFinanciamiento"><b>{{'FUENTES_AFECTADAS' | translate}}:</b>
        <ul ng-repeat="fuente in item">
          <li>{{fuente.FuenteFinanciamiento.Codigo + " / "+fuente.FuenteFinanciamiento.Descripcion + " "}}
            <ul>
              <li><b>{{'VALOR_AFECTACION' | translate}}:</b> {{" "+fuente.Valor|currency}}</li>
              <li><b>{{'TOTAL_COMPROMETIDO' | translate}}:</b> {{" "+fuente.Comprometido|currency}}</li>
              <li><b>{{'TOTAL_ANULADO' | translate}}:</b> {{" "+fuente.Anulado|currency}}</li>
              <li><b>{{'SALDO' | translate}}:</b> {{" "+fuente.Saldo|currency}}</li>
            </ul>
          </li>
        </ul>
      </li>
      <li ng-show="!item[0].FuenteFinanciamiento"><b>Valor de la Afectación (Funcionamiento):</b>
        <ul ng-repeat="fuente in item">
          <li><b>{{'VALOR_AFECTACION' | translate}}:</b> {{" "+fuente.Valor|currency}}</li>
          <li><b>{{'TOTAL_COMPROMETIDO' | translate}}:</b> {{" "+fuente.Comprometido|currency}}</li>
          <li><b>{{'TOTAL_ANULADO' | translate}}:</b> {{" "+fuente.Anulado|currency}}</li>
          <li><b>{{'SALDO' | translate}}:</b> {{" "+fuente.Saldo|currency}}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
