<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center"> {{ 'GIROS' | translate }}</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'GIROS' | translate }}</h3>
    </div>
    <div class="panel-default">
      <div ng-if="!refresh" ui-grid="opGirosViewAll.gridGiros" ui-grid-auto-resize ui-grid-selection></div>
    </div>
  </div>

  <div class="panel-footer">
    <div align="center">
      <a ng-href="#/orden_pago/giros/giros_crear" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-outline">
        {{ 'BTN.CREAR' | translate }}
      </a>

    </div>
  </div>

</div>
