<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'GIROS' | translate }} {{ 'NO' | translate }} {{girosVerPorId.giroId}} </h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'GIROS' | translate }} {{ 'NO' | translate }} {{girosVerPorId.giroId}}</h3>
    </div>
    <div ng-if="!refresh" ui-grid="girosVerPorId.gridOptions_op_detail" ui-grid-auto-resize ui-grid-selection ui-grid-pagination></div>
    <br/>
    <div class="form-horizontal">
      <div class="form-group">
        <label ng-show=" girosVerPorId.FormaPago.CodigoAbreviacion == 'AC'" class="control-label col-sm-2">{{'TOTAL' | translate}} {{'ABONO_CUENTA' | translate}}</label>
        <label ng-show=" girosVerPorId.FormaPago.CodigoAbreviacion == 'CH'" class="control-label col-sm-2">{{'TOTAL' | translate}} {{'CHEQUE' | translate}}</label>
        <label ng-show=" girosVerPorId.FormaPago.CodigoAbreviacion == 'EF'" class="control-label col-sm-2">{{'TOTAL' | translate}} {{'EFECTIVO' | translate}}</label>
        <label ng-show=" girosVerPorId.FormaPago.CodigoAbreviacion == 'ND'" class="control-label col-sm-2">{{'TOTAL' | translate}} {{'NOTA_DEVITO' | translate}}</label>
        <div class="col-sm-10">
          <span class="form-control input_right" readonly>{{girosVerPorId.ValorTotal  | currency:"$":2  }}</span>
        </div>
      </div>
      <div class="form-group">
        <label ng-show=" girosVerPorId.ValorTotalCuentasEspeciales != 0 " class="control-label col-sm-2">{{'TOTAL' | translate}} {{'IMPUESTOS_DESCUENTOS' | translate}}</label>
        <div class="col-sm-10">
          <span class="form-control input_right" readonly>{{girosVerPorId.ValorTotalCuentasEspeciales  | currency:"$":2  }}</span>
        </div>
      </div>
    <div class="form-group">
        <label for="formapago" class="col-sm-2 control-label">{{'CUENTA_BANCARIA' | translate }}</label>
        <div class=" col-sm-10">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th> {{ 'NUMERO' | translate }} </th>
                <th>{{ 'TIPO' | translate }} </th>
                <th>{{ 'SUCURSAL' | translate }} </th>
                <th>{{ 'BANCO' | translate }} </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{girosVerPorId.giros.CuentaBancaria.NumeroCuenta}}</td>
                <td>{{girosVerPorId.giros.CuentaBancaria.TipoCuentaBancaria.Nombre}}</td>
                <td>{{girosVerPorId.giros.Organizacion.Sucursal.Nombre}}</td>
                <td>{{girosVerPorId.giros.Organizacion.Banco.Nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div align="center">
    <a ng-href="#/orden_pago/giros/ver_todos" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-outline">
      {{ 'BTN.REGRESAR' | translate }}
    </a>
  </div>
</div>
