<div class="panel panel-primary panel-body">
  <h2 class="page-header" align="center">{{'REGISTRO_INGRESOS' | translate}}</h2>
  <div class="panel-body">

      <div class="container">
  <div class="row">
    <div class="col-sm-12">

      <table>
        <td class="col-md-4">
          <label for="tipo_ingreso">{{'TIPO_INGRESO' | translate}}</label>
          <br>
          <select class="selectpicker form-control" ng-focus="ingresoRegistro.cargarTiposIngreso()" ng-model="ingresoRegistro.tipoIngresoSelec" ng-options="o as o.Nombre for o in ingresoRegistro.tiposIngreso">
          </select>
       </td>
       <td class="col-md-1">
         <br>
       </td>
       <td class="col-md-4">
         <label for="tipo_ingreso">{{'FECHA_CONSIG' | translate}}</label>
         <br>
         <md-datepicker  ng-model="ingresoRegistro.fechaConsignacion" md-placeholder="{{'FECHA_CONSIG' | translate}}" flex></md-datepicker>
       </td>
       <td class="col-md-2">
         <br>
         <a type="button" name="button" ng-click="ingresoRegistro.consultarPagos()" class="fa fa-search btn btn-info btn-outline" aria-hidden="true"></a>
       </td>
      </table>
      <div class="loading" ng-show="ingresoRegistro.cargandoDatosPagos">
        <i class="fa fa-clock-o fa-spin faa-burst animated  text-info" aria-hidden="true" style="font-size:96px"></i>
      </div>

        <div class="panel panel-primary panel-body" ng-show="ingresoRegistro.pagos">
          <h2 class="page-header" align="center">{{'TABLA_INGRESOS_BANCO' | translate}}</h2>
          <div class="panel-body">
              <div style="height:{{gridHeight}}px" ui-grid="ingresoRegistro.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>

          </div>
        </div>
        <div ng-if="ingresoRegistro.rta!=null" class="alert alert-danger" >
             {{ingresoRegistro.rta}}
        </div>
        <pre>{{ingresoRegistro.ingreso | json}}</pre>
    </div>
  </div>
</div>

  </div>
</div>
</div>
