<div class="panel panel-success panel-body">
    <div class="panel panel-default panel-body">
      <div class="form-group">
        <label for="unidadejecutora">{{'ENTIDAD' | translate}}</label>
        <select class="form-control" ng-model="homologacionRubroCrear.unidadejecutora" ng-options="op as op.Nombre for op in homologacionRubroCrear.unidadesejecutoras" required>
          <option value="">{{'ENTIDAD' | translate}}</option>
        </select>
      </div>
    </div>
  <div class="panel panel-heading">
    <h4 class="text-center panel-title">{{"" | translate}}<i class="fa fa-refresh pull-right faa-spin animated-hover" aria-hidden="true" ng-click=""></i></h4>
  </div>
  <div class="panel-body" >
    <div class="col-md-6">
    </div>
  </div>
</div>
