<div class="panel panel-primary">
    <div class="panel-heading" ng-click="a=!a">
        <h4>Provedor<span style="float:right;" class="glyphicon glyphicon-collapse-down"></span></h4>
    </div>
    <div class="panel-body row" ng-show="a">
      <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Seleccione Proveedor
            </div>
            <div class="panel-body">
              <div ui-grid="d_pvListar.gridOptions_proveedor" ui-grid-selection ui-grid-auto-resize></div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                Detalle Proveedor
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th>Tipo Persona</th>
                  <td>{{proveedor.Tipopersona}}</td>
                </tr>
                <tr>
                  <th>Num. Documento</th>
                  <td>{{proveedor.NumDocumento}}</td>
                </tr>
                <tr>
                  <th>Nombre</th>
                  <td>{{proveedor.NomProveedor}}</td>
                </tr>
                <tr>
                  <th>Dirección</th>
                  <td>{{proveedor.Direccion}}</td>
                </tr>
                <tr>
                  <th>Teléfono</th>
                  <td>{{d_pvListar.tel_proveedor.IdTelefono.NumeroTel}}</td>
                </tr>
                <tr>
                  <th>Numero de cuenta</th>
                  <td>{{proveedor.NumCuentaBancaria}}</td>
                </tr>
                <tr>
                  <th>Sucursal</th>
                  <td>{{d_pvListar.banco_proveedor.NombreBanco}}</td>
                </tr>
                <tr>
                  <th>Tipo Cuenta</th>
                  <td>{{proveedor.TipoCuentaBancaria}}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
    </div>
</div>
