<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'TITULO_FUENTES_CREAR' | translate }}</h2>
  <form name="fuentes_form">


    <div class="col-md-5">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">{{'FORMULARIO_FUENTE' | translate }} </h3>
        </div>

        <div class="panel-body">

          <div class="col-md-12">
            <p></p>
            <label for="codigocuenta">{{'CODIGO' | translate }}:</label>
            <input class="form-control" type="text" maxlength="6" id="codigocuenta"  ng-model="crearFuente.nueva_fuente.Codigo" placeholder="{{'INGRESE_CODIGO' | translate}}">
          </div>

          <div class="col-md-12">
            <p></p>
            <label for="Nombre">{{'NOMBRE' | translate }}:</label>
            <input class="form-control" type="text" id="Nombre" maxlength="250" ng-model="crearFuente.nueva_fuente.Nombre" placeholder="{{'INGRESE_NOMBRE' | translate }}">
          </div>

          <div class="col-md-12">
            <p></p>
            <label for="nombrefuente">{{'DESCRIPCION' | translate }}:</label>
            <textarea class="form-control" type="text" id="nombrefuente" maxlength="250" ng-model="crearFuente.nueva_fuente.Descripcion" placeholder="{{'INGRESE_DESCRIPCION' | translate }}"></textarea>
          </div>

          <div class="col-md-12">
            <p></p>
            <label for="monto">{{'INGRESAR_VALOR_FUENTE' | translate }}:</label>
            <input class="form-control input_right" type="text" id="monto" ui-money-mask="0" ng-model="crearFuente.nueva_fuente_apropiacion.Monto" placeholder="$">
          </div>

          <div class="col-md-6">
              <p></p>
              <label for="tipo_documento">{{'TIPO_DOCUMENTO' | translate }}:</label>
              <select data-size="10" ng-model="crearFuente.nueva_fuente_apropiacion.tipo_documento" ng-options="n.Id as n.Nombre for n in crearFuente.tipo_documento" value={{n.Id}} class="form-control">
              <option value="">{{'SELECCIONE_TIPO' | translate }}</option>
            </select>
         </div>

          <div class="col-md-6">
            <p></p>
            <label for="no_documento">{{'NO_DOCUMENTO' | translate }}:</label>
            <input class="form-control" type="text" maxlength="8" id="no_documento" ng-model="crearFuente.nueva_fuente_apropiacion.no_documento" placeholder="{{'INGRESE_NO_DOCUMENTO' | translate}}">
          </div>

          <div class="col-md-12">
            <p></p>
            <label for="fecha_documento">{{'FECHA_DOCUMENTO' | translate }}:</label>
            <md-datepicker ng-model="crearFuente.nueva_fuente_apropiacion.fecha_documento" md-placeholder="{{'INGRESE_FECHA_DOCUMENTO' | translate}}"></md-datepicker>
          </div>

          <div class="col-md-12">
            <p></p>
            <label for="rubro">{{'RUBROS' | translate }}:</label>
            <div id="grid1" ui-grid="crearFuente.gridOptionsapropiacion" ui-grid-pagination ui-grid-selection class="grid"></div>

          </div>
          <p></p>


          <div class="col-md-6">

          </div>

          <div class="col-md-12">
            <p></p>

            <button ng-click='crearFuente.comprobar_fuente()' class="btn btn-outline btn-success btn-md btn-block">{{'CREAR_FUENTE' | translate }}</button>

          </div>
          <label for="espacio"></label>

        </div>
      </div>
    </div>



    <div class="col-md-7">

      <div class="panel panel-success">


        <div class="panel-heading">
          <h3 class="panel-title">{{'RUBRO_SELECCIONADO' | translate }} </h3>
        </div>

        <div class="panel-body">




          <div class="info panel-success" ng-repeat="rubro in crearFuente.rubros_seleccionados">

            <div class="form-group col-md-12">
              <legend class="text-default" disable>
                {{'RUBRO' | translate}} : {{rubro.Rubro.Codigo + ' / ' + rubro.Rubro.Nombre}}
              </legend class="text-success">

            </div>

            <div class="form-group" ng-repeat="asignado in rubro.seleccionado">

              <div class="col-md-7">
                <label for="fuente">{{'DEPENDENCIA' | translate }}:</label>
                <select data-size="10" title="{{'SELECCIONE_DEPENDENCIA' | translate }}" ng-model="asignado.Dependencia" ng-options="n.Id as n.Nombre for n in crearFuente.dependencia" value={{n.Id}} class="selectpicker form-control" data-live-search="true"></select>
              </div>

              <div class="col-md-3">
                <label for="valor">{{'VALOR' | translate }}:</label>
                <input class="form-control input_right" ui-money-mask="0" type="text" id="valor" type="number" ng-model="asignado.Valor" placeholder="$">
              </div>
              <p></p>


              <div class="col-md-2">
                <label for="valor" style="color:rgba(255,0,0,0)"> ______ </label>
                <button name="btn_quitar_rbr" class="btn btn-danger" ng-click="crearFuente.quitarDependencia(asignado.Rubro,asignado.Dependencia)">{{'QUITAR' | translate }} </button>
              </div>



            </div>
            <p></p>


            <!-- Button (Double) -->
            <div class="form-group">


              <div class="col-md-6">
                <p></p>
                <button ng-click='crearFuente.agregar_dependencia(rubro.Id)' class="btn btn-outline btn-success btn-md btn-block">{{'AGREGAR_DEPENDENCIA' | translate }}</button>
                <label for="espacio"></label>
              </div>
              <div class="col-md-6">
                <p></p>
                <button ng-click='crearFuente.quitarRubro(rubro.Id)' class="btn btn-outline btn-danger btn-md btn-block">{{'QUITAR_RUBRO' | translate }}</button>
                <label for="espacio"></label>
              </div>
            </div>
            <label for="espacio"></label>

          </div>

        </div>

      </div>

    </div>

</div>

</form>
</div>

<div id="myModal" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="crearFuente.cerrar_ventana()">&times</button><br>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="page-header">{{ 'TITULO_FUENTES_CREAR' | translate }}</h3>
        <div align="right">{{ 'FECHA_REGISTRO' | translate }} : {{crearFuente.fecha | date:"yyyy-MM-dd":"UTC"}}</div>
      </div>
      <div class="panel-body col-md-12">
        <div class="panel-body col-md-7">
          <h4 class="text-info">{{'FUENTE_FINANCIAMIENTO' | translate}}</h4>
          <table class="table">
            <tr>
              <th>{{'CODIGO' | translate}}: </th>
              <td>{{crearFuente.nueva_fuente.Codigo }}</td>
            </tr>
            <tr>
              <th>{{ 'NOMBRE' | translate }}: </th>
              <td>{{crearFuente.nueva_fuente.Nombre}}</td>
            </tr>
            <tr>
              <th>{{ 'DESCRIPCION' | translate }}: </th>
              <td>{{crearFuente.nueva_fuente.Descripcion}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR' | translate }}: </th>
              <td>{{ crearFuente.nueva_fuente_apropiacion.Monto | currency}}</td>
            </tr>
          </table>
        </div>

        <div class="panel-body col-md-5">
          <h4 class="text-info">{{'DOCUMENTO' | translate}}</h4>
          <table class="table">
            <tr>
              <th>{{'TIPO_DOCUMENTO' | translate}}: </th>
              <td>{{crearFuente.nombre_tipo_documento}}</td>
            </tr>
            <tr>
              <th>{{'NO_DOCUMENTO' | translate }}: </th>
              <td>{{crearFuente.nueva_fuente_apropiacion.no_documento}}</td>
            </tr>
            <tr>
              <th>{{'FECHA_DOCUMENTO' | translate }}: </th>
              <td>{{crearFuente.nueva_fuente_apropiacion.fecha_documento | date:"yyyy-MM-dd":"UTC"}}</td>
            </tr>
          </table>
        </div>

        <div class="panel-body col-md-12">
          <h4 class="text-info">{{'RUBROS' | translate}}</h4>

          <table id="list" class="table  table-bordered">
            <tr>
              <th>{{'RUBRO' | translate}}</th>
              <th>{{'DEPENDENCIA' | translate}}</th>
              <th>{{'VALOR' | translate}}</th>
            </tr>

            <tr ng-repeat="rubro in crearFuente.tabla_rubros">

              <td>{{rubro.Rubro}}</td>
              <td>{{rubro.Dependencia}}</td>
              <td>
                <div align="right">{{rubro.Valor |currency}}</div>
              </td>

            </tr>
          </table>
        </div>
      </div>
      <hr>
      <center>
        <button ng-click='crearFuente.crear_documento()' class="btn btn-success btn-outline">{{'CREAR_FUENTE' | translate }}</button>
      </center>
      <hr>
    </div>
  </div>
</div>
