<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'TITULO_FUENTES_DETALLE' | translate }}</h2>

  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default">

        <div class="panel-body">
          <div class="col-md-12">
            <table name="info_fuente" class="table" ng-repeat="n in consultaFuente.fuente_select">
              <tbody>
                <tr>
                  <th>{{ 'CODIGO' | translate }}: </th>
                  <td>{{ n.Codigo }}</td>
                </tr>
                <tr>
                  <th>{{ 'SIGLA' | translate }}: </th>
                  <td>{{n.Sigla}}</td>
                </tr>
                <tr>
                  <th>{{ 'DESCRIPCION' | translate }}: </th>
                  <td>{{n.Descripcion}}</td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'RUBROS_ASIGNADOS_FUENTE' | translate }} </h3>
        </div>
        <div ui-grid="detalleFuente.gridOptions" class="myGrid"></div>
      </div>
    </div>
  </div>

</div>
