<div class="panel panel-primary panel-body">

  <h2 class="page-header text-center">{{ 'TITULO_FUENTES_DETALLE' | translate }}</h2>
  <!--
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="col-md-2 col-md-offset-2">
          <label for="FUENTE" class="col-form-label">{{ 'VIGENCIA' | translate }}: </label>
          <select class="form-control" name="select_vigencia" id="select_vigencia" ng-model="detalleFuente.Vigencia" ng-change="detalleFuente.consulta_fuente_vigencia()">
             <option ng-repeat="option in detalleFuente.years" value="{{option}}">{{option}}</option>
            </select>
        </div>

        <div class="col-md-5" ng-show="detalleFuente.Vigencia">
          <label for="FUENTE">{{'FUENTE_FINANCIAMIENTO' | translate }}:</label>
          <select class="form-control selectpicker" title="{{'SELECCIONE_FUENTE_FINANCIAMIENTO' | translate }}" ng-model="detalleFuente.fuente " ng-change="detalleFuente.cambiar_rubro()" data-live-search="true">
           <option ng-repeat="n in detalleFuente.fuente_financiamiento"  value={{n.Id}}>{{n.Codigo}} : {{n.Nombre}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
-->
{{detalleFuente.fuente_seleccionada.Nombre}}
  <div class="panel-body" ng-show="detalleFuente.fuente">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{'FUENTE_FINANCIAMIENTO' | translate}}</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-7 col-md-offset-3">
            <table class="table">
              <tr>
                <th>{{'CODIGO' | translate}}: </th>
                <td>{{detalleFuente.Codigo }}</td>
              </tr>
              <tr>
                <th>{{ 'NOMBRE' | translate }}: </th>
                <td>{{detalleFuente.Nombre}}</td>
              </tr>
              <tr>
                <th>{{ 'TIPO' | translate }}: </th>
                <td>{{ detalleFuente.TipoFuenteFinanciamiento}}</td>
              </tr>
              <tr>
                <th>{{ 'VALOR' | translate }}: </th>
                <td>{{ detalleFuente.valor_total | currency}}</td>
              </tr>
              <tr>
                <th>{{ 'VALOR_CDP' | translate }}: </th>
                <td ng-if="detalleFuente.calculando_cdp === true" >
                   <i class="fa fa-spin fa-spinner"></i></div>
                </td>
                <td ng-if="detalleFuente.calculando_cdp === false" >
                  {{ detalleFuente.valor_cdp | currency}}
                </td>
              </tr>
              <tr>
                <th>{{ 'VALOR_DISPONIBLE' | translate }}: </th>
                <td>{{ detalleFuente.valor_disponible | currency}}</td>
              </tr>
            </table>
          </div>

          <div class="panel-body">
          </div>

          <legend class="text-primary" ng-click="detalleFuente.mostrar_CDP()">{{'LISTA_CDP' | translate}} <span class="fa fa-plus pull-right" ng-show="!info_CDP"></span> <span class="fa fa-minus pull-right" ng-show="info_CDP"></span></legend>

          <div class="panel-body" ng-if="detalleFuente.info_CDP">
            <div class="row" ng-if="true">
              <div ui-grid="detalleFuente.gridOptionCDP" ui-grid-pagination ui-grid-auto-resize class="grid">
                <div class="watermark" ng-show="!detalleFuente.hayData_disp">{{'NO_DATA'| translate}}</div>
                <div class="watermark" ng-show="detalleFuente.cargando_disp">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>
              </div>
            </div>
          </div>

          <legend class="text-primary" ng-click="detalleFuente.mostrar_CRP()">{{'LISTA_RP' | translate}} <span class="fa fa-plus pull-right" ng-show="!info_CRP"></span> <span class="fa fa-minus pull-right" ng-show="info_CRP"></span></legend>

          <div class="panel-body" ng-if="detalleFuente.info_CRP">
            <div class="row" ng-if="true">
              <div ui-grid="detalleFuente.gridOptionCRP" ui-grid-pagination ui-grid-auto-resize class="grid">
                <div class="watermark" ng-show="!detalleFuente.hayData_rp">{{'NO_DATA'| translate}}</div>
                <div class="watermark" ng-show="detalleFuente.cargando_rp">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>
              </div>
            </div>
          </div>

          <legend class="text-primary" ng-click="detalleFuente.mostrar_OP()">{{'OP_TITULO' | translate}} <span class="fa fa-plus pull-right" ng-show="!info_OP"></span> <span class="fa fa-minus pull-right" ng-show="info_OP"></span></legend>

          <div class="panel-body" ng-if="detalleFuente.info_OP">
            <div class="row" ng-if="true">
              <div ui-grid="detalleFuente.gridOptionOP" ui-grid-pagination ui-grid-auto-resize class="grid">
                <div class="watermark" ng-show="!detalleFuente.hayData_op">{{'NO_DATA'| translate}}</div>
                <div class="watermark" ng-show="detalleFuente.cargando_op">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
