<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'MODIFICACIONES_PRESUPUESTALES' | translate }}</h2>
  <form name="fuentes_form" ng-submit="">


    <div class="col-md-4">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">{{'MODIFICACIONES_PRESUPUESTALES' | translate }} </h3>
        </div>

        <div class="panel-body">

          <div class="col-md-12">
            <p></p>
            <label for="fuente">{{'TIPO_MODIFICACION' | translate }}:</label>
            <select class="form-control " ng-model="modificacionFuente.tipo_fuente" ng-change="modificacionFuente.cambiar_estado()">
              <option value="">{{'SELECCIONE_TIPO' | translate }}</option>
              <option ng-repeat="n in modificacionFuente.tipo" value={{n.Id}}>{{n.Nombre}}</option>
            </select>
          </div>


          <div class="" ng-show="modificacionFuente.adicion || modificacionFuente.traslado">

            <div class="col-md-12" ng-show="modificacionFuente.adicion">
              <p></p>
              <label for="fuente">{{'RUBRO' | translate }}:</label>
              <select class="form-control selectpicker" title="{{'SELECCION_RUBRO' | translate }}" ng-model="modificacionFuente.adicion_rubro " ng-change="modificacionFuente.mostrar_fuentes()" data-live-search="true">
              <option ng-repeat="n in modificacionFuente.apropiacion"  value={{n.Id}}>{{n.Rubro.Codigo}} : {{n.Rubro.Descripcion}}</option>
            </select>
            </div>

            <div class="col-md-12" ng-show="modificacionFuente.traslado">
              <p></p>
              <label for="fuente">{{'FUENTE_FINANCIAMIENTO' | translate }}:</label>
              <select class="form-control selectpicker" title="{{'SELECCIONE_FUENTE_FINANCIAMIENTO' | translate }}" ng-model="modificacionFuente.adicion_fuente " ng-change="modificacionFuente.mostrar_rubros()" data-live-search="true">
              <option ng-repeat="n in modificacionFuente.fuente_financiamiento"  value={{n.Id}}>{{n.Codigo}} : {{n.Nombre}}</option>
            </select>
            </div>

            <div class="col-md-12" ng-show="modificacionFuente.adicion">
              <p></p>
              <label for="monto">{{'INGRESE_VALOR_ADICION' | translate }}:</label>
              <input class="form-control input_right" type="text" id="monto" ui-money-mask="0" ng-model="modificacionFuente.nueva_fuente_apropiacion.Monto" placeholder="$">
            </div>

            <div class="col-md-12" ng-show="modificacionFuente.traslado">
              <p></p>
              <label for="monto">{{'INGRESE_VALOR_TRASLADO' | translate }}:</label>
              <input class="form-control input_right" type="text" id="monto" ui-money-mask="0" ng-model="modificacionFuente.nueva_fuente_apropiacion.Monto" placeholder="$">
            </div>

            <div class="col-md-12">
              <p></p>
              <label for="descripcion">{{'DESCRIPCION' | translate }}:</label>
              <textarea class="form-control" type="text" id="descripcion" ng-model="modificacionFuente.nueva_fuente_apropiacion.Descripcion" placeholder="{{'INGRESE_DESCRIPCION' | translate}}"></textarea>
            </div>

            <div class="col-md-6">
                <p></p>
                <label for="tipo_documento">{{'TIPO_DOCUMENTO' | translate }}:</label>
                <select data-size="10" title="{{'INGRESE_TIPO_DOCUMENTO' | translate}}" ng-model="modificacionFuente.nueva_fuente_apropiacion.tipo_documento" ng-options="n.Id as n.Nombre for n in modificacionFuente.tipo_documento" value={{n.Id}} class="selectpicker form-control"></select>
           </div>

            <div class="col-md-6">
              <p></p>
              <label for="no_documento">{{'NO_DOCUMENTO' | translate }}:</label>
              <input class="form-control" type="text" id="no_documento" ng-model="modificacionFuente.nueva_fuente_apropiacion.no_documento" placeholder="{{'INGRESE_NO_DOCUMENTO' | translate}}">
            </div>

            <div class="col-md-12">
              <p></p>
              <label for="fecha_documento">{{'FECHA_DOCUMENTO' | translate }}:</label>
              <md-datepicker ng-model="modificacionFuente.nueva_fuente_apropiacion.fecha_documento" md-placeholder="{{'INGRESE_FECHA_DOCUMENTO' | translate}}"></md-datepicker>
            </div>

          </div>

          <div class="col-md-12" ng-show="!modificacionFuente.traslado">
            <p></p>
            <p></p>
            <label for="fuentes">{{'FUENTES_FINANCIAMIENTO' | translate }}:</label>
            <div id="grid1" ui-grid="modificacionFuente.gridOptionsfuente" ui-grid-selection ui-grid-pagination class="grid"></div>
          </div>

          <p></p>

          <div class="col-md-12" ng-show="modificacionFuente.adicion">
            <p></p>
            <button ng-click='modificacionFuente.comprobar_adicion()' class="btn btn-outline btn-success btn-md btn-block">{{'CREAR_FUENTE' | translate }}</button>
          </div>

          <div class="col-md-12" ng-show="modificacionFuente.traslado ">
            <p></p>
            <button ng-click='modificacionFuente.comprobar_traslado()' class="btn btn-outline btn-success btn-md btn-block">{{'CREAR_FUENTE' | translate }}</button>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-8">

      <div class="panel panel-success" ng-show="modificacionFuente.adicion">


        <div class="panel-heading">
          <h3 class="panel-title">{{'FUENTES_FINANCIAMIENTO' | translate }} </h3>
        </div>

        <div class="panel-body">

          <div class="info panel-success" ng-repeat="fuente in modificacionFuente.fuentes_seleccionadas">

            <div class="form-group col-md-12">
              <legend class="text-default" disable>
                {{fuente.Codigo + ' / ' + fuente.Nombre}}
              </legend class="text-default">
            </div>

            <div class="form-group" ng-repeat="asignado in fuente.seleccionado">

              <div class="col-md-6">
                <label for="fuente">{{'DEPENDENCIA' | translate }}:</label>
                <select data-size="10" title="{{'SELECCIONE_DEPENDENCIA' | translate }}" ng-model="asignado.Dependencia" ng-options="n.Id as n.Nombre for n in modificacionFuente.dependencia" value={{n.Id}} class="selectpicker form-control" data-live-search="true"></select>
              </div>

              <div class="col-md-2">
                <label for="valor">{{'VALOR' | translate }}:</label>
                <input class="form-control input_right" ui-money-mask="0" type="text" id="valor" type="number" ng-model="asignado.ValorTotal" disabled>
              </div>
              <div class="col-md-2">
                <label for="valor">{{'VALOR_ADICION' | translate }}:</label>
                <input class="form-control input_right" ui-money-mask="0" type="text" id="valor" type="number" ng-model="asignado.Valor" placeholder="$">
              </div>

              <div class="form-group col-md-1">
                <label for="valor" style="color:rgba(255,0,0,0)"> ______ </label>
                <button name="btn_quitar_rbr" class="btn btn-danger" ng-click="modificacionFuente.quitarDependencia(fuente.Id,asignado.Dependencia)">{{'QUITAR' | translate }} </button>
              </div>

            </div>

            <div class="form-group">
              <div class="col-md-6">
                <p></p>
                <button ng-click='modificacionFuente.agregar_dep(fuente.Id)' class="btn btn-outline btn-success btn-md btn-block">{{'AGREGAR_DEPENDENCIA' | translate }}</button>
                <label for="espacio"></label>
              </div>
              <div class="col-md-6">
                <p></p>
                <button ng-click='modificacionFuente.quitarFuente(fuente.Id)' class="btn btn-outline btn-danger btn-md btn-block">{{'QUITAR_FUENTE' | translate }}</button>
                <label for="espacio"></label>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="panel panel-success" ng-show="modificacionFuente.traslado">


        <div class="panel-heading">
          <h3 class="panel-title">{{'FUENTES_FINANCIAMIENTO' | translate }} </h3>
        </div>

        <div class="panel-body">

          <div class="form-group col-md-12">
            <legend class="text-default" disable>
              {{'RUBRO_ORIGEN' | translate }}
            </legend class="text-default">
          </div>


          <div class="col-md-12" ng-show="modificacionFuente.adicion_fuente">
            <p></p>
            <label for="fuente">{{'RUBRO_ORIGEN' | translate }}:</label>
            <select class="form-control selectpicker" title="{{'SELECCION_RUBRO' | translate }}" ng-model="modificacionFuente.fuente_origen " ng-change="modificacionFuente.buscar_dependencia()" data-live-search="true">
            <option ng-repeat="n in modificacionFuente.fuentes_traslado"  value={{n.Id}}>{{n.Rubro.Codigo}} : {{n.Rubro.Descripcion}}</option>
          </select>
          </div>

          <div class="col-md-8" ng-show="modificacionFuente.fuente_origen">
            <p></p>
            <label for="dependencia_orig">{{'DEPENDENCIA' | translate }}:</label>
            <select class="form-control selectpicker" title="{{'SELECCIONE_DEPENDENCIA' | translate }}" ng-model="modificacionFuente.dependencia_origen" ng-change="modificacionFuente.buscar_valor_origen()" data-live-search="true">
            <option ng-repeat="n in modificacionFuente.dependencias_origen"  value={{n.Id}}>{{n.Nombre}}</option>
          </select>
          </div>

          <div class="col-md-4" ng-show="modificacionFuente.fuente_origen">
            <p></p>
            <label for="valor">{{'VALOR' | translate }}:</label>
            <input class="form-control input_right" ui-money-mask="0" type="text" id="valor" type="number" ng-model="modificacionFuente.valor_origen" disabled>
          </div>

          <div class="form-group col-md-12">
            <p></p>
            <legend class="text-default" disable>
              {{'RUBRO_DESTINO' | translate }}
            </legend class="text-default">
          </div>

          <div class="col-md-12">
            <p></p>
            <label for="fuente">{{'RUBRO_DESTINO' | translate }}:</label>
            <select class="form-control selectpicker" title="{{'SELECCION_RUBRO' | translate }}" ng-model="modificacionFuente.fuente_destino" data-live-search="true">
            <option ng-repeat="n in modificacionFuente.apropiacion"  value={{n.Id}}>{{n.Rubro.Codigo}} : {{n.Rubro.Descripcion}}</option>
          </select>
          </div>

          <div class="col-md-12">
            <p></p>
            <label>{{'DEPENDENCIA' | translate }}:</label>
            <select data-size="10" title="{{'SELECCIONE_DEPENDENCIA' | translate }}" ng-model="modificacionFuente.dependencia_destino" ng-options="n.Id as n.Nombre for n in modificacionFuente.dependencia" value={{n.Id}} class="selectpicker form-control" data-live-search="true"></select>
          </div>

        </div>

      </div>

    </div>

</div>


</form>
</div>

<div id="myModal" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="modificacionFuente.cerrar_ventana()">&times</button><br>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="page-header">{{ 'ADICION_FUENTE_FINANCIAMIENTO' | translate }}</h3>
        <div align="right">{{ 'FECHA_REGISTRO' | translate }} : {{modificacionFuente.fecha | date:"yyyy-MM-dd":"+0900"}}</div>
      </div>
      <div class="panel-body">

        <div class="panel-body col-md-6">
          <h4 class="text-info">{{'RUBRO' | translate}}</h4>
          <table class="table">
            <tr>
              <th>{{'CODIGO' | translate}}: </th>
              <td>{{modificacionFuente.Codigo }}</td>
            </tr>
            <tr>
              <th>{{ 'NOMBRE' | translate }}: </th>
              <td>{{modificacionFuente.Nombre}}</td>
            </tr>
            <tr>
              <th>{{ 'DESCRIPCION' | translate }}: </th>
              <td>{{modificacionFuente.nueva_fuente_apropiacion.Descripcion}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_RUBRO' | translate }}: </th>
              <td>{{ modificacionFuente.valor_rubro | currency}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_ADICION' | translate }}: </th>
              <td>{{ modificacionFuente.totalMonto | currency}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_TOTAL' | translate }}: </th>
              <td>{{ modificacionFuente.valorTotal | currency}}</td>
            </tr>
          </table>
        </div>
        <div class="panel-body col-md-6">
          <h4 class="text-info">{{'DOCUMENTO' | translate}}</h4>
          <table class="table">
            <tr>
              <th>{{'TIPO_DOCUMENTO' | translate}}: </th>
              <td>{{modificacionFuente.nueva_fuente_apropiacion.tipo_documento }}</td>
            </tr>
            <tr>
              <th>{{'NO_DOCUMENTO' | translate }}: </th>
              <td>{{modificacionFuente.nueva_fuente_apropiacion.no_documento}}</td>
            </tr>
            <tr>
              <th>{{'FECHA_DOCUMENTO' | translate }}: </th>
              <td>{{modificacionFuente.nueva_fuente_apropiacion.fecha_documento | date:"yyyy-MM-dd":"+0900"}}</td>
            </tr>
          </table>
        </div>


        <div class="panel-body col-md-12">
          <h4 class="text-info">{{'FUENTES_FINANCIAMIENTO' | translate}}</h4>


          <table id="list" class="table  table-bordered">
            <tr>
              <th>{{'FUENTE_FINANCIAMIENTO' | translate}}</th>
              <th>{{'DEPENDENCIA' | translate}}</th>
              <th>{{'VALOR' | translate}}</th>
            </tr>

            <tr ng-repeat="fuente in modificacionFuente.tabla_fuentes">

              <td>{{fuente.Fuente}}</td>
              <td>{{fuente.Dependencia}}</td>
              <td>
                <div align="right">{{fuente.Valor |currency}}</div>
              </td>

            </tr>
          </table>


          <hr>
          <center>
            <button ng-click='modificacionFuente.adicionar_fuente()' class="btn btn-success btn-outline">{{'CREAR_FUENTE' | translate }}</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal1" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="modificacionFuente.cerrar_ventana()">&times</button><br>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="page-header">{{ 'TRASLADO_FUENTE_FINANCIAMIENTO' | translate }}</h3>
        <div align="right">{{ 'FECHA_REGISTRO' | translate }} : {{modificacionFuente.fecha | date:"yyyy-MM-dd":"+0900"}}</div>
      </div>
      <div class="panel-body col-md-12">

        <div class="panel-body col-md-7">
          <h4 class="text-info">{{'FUENTE_FINANCIAMIENTO' | translate}}</h4>
          <table class="table">
            <tr>
              <th>{{'CODIGO' | translate}}: </th>
              <td>{{modificacionFuente.Codigo_fuente }}</td>
            </tr>
            <tr>
              <th>{{ 'NOMBRE' | translate }}: </th>
              <td>{{modificacionFuente.Nombre_fuente}}</td>
            </tr>
            <tr>
              <th>{{ 'DESCRIPCION' | translate }}: </th>
              <td>{{modificacionFuente.nueva_fuente_apropiacion.Descripcion}}</td>
            </tr>
            <tr>
              <tr>
                <th>{{ 'VALOR_TRASLADO' | translate }}: </th>
                <td>{{ modificacionFuente.nueva_fuente_apropiacion.Monto | currency}}</td>
              </tr>
          </table>
        </div>

        <div class="panel-body col-md-5">
          <h4 class="text-info">{{'DOCUMENTO' | translate}}</h4>
          <table class="table">
            <tr>
              <th>{{'TIPO_DOCUMENTO' | translate}}: </th>
              <td>{{modificacionFuente.nueva_fuente_apropiacion.tipo_documento }}</td>
            </tr>
            <tr>
              <th>{{'NO_DOCUMENTO' | translate }}: </th>
              <td>{{modificacionFuente.nueva_fuente_apropiacion.no_documento}}</td>
            </tr>
            <tr>
              <th>{{'FECHA_DOCUMENTO' | translate }}: </th>
              <td>{{modificacionFuente.nueva_fuente_apropiacion.fecha_documento | date:"yyyy-MM-dd":"+0900"}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-body col-md-12">
        <div class="panel-body col-md-6">
          <h4 class="text-info">{{'RUBRO_ORIGEN' | translate}}</h4>
          <table class="table">
            <tr>
              <th>{{'CODIGO' | translate}}: </th>
              <td>{{modificacionFuente.Codigo }}</td>
            </tr>
            <tr>
              <th>{{ 'NOMBRE' | translate }}: </th>
              <td>{{modificacionFuente.Nombre}}</td>
            </tr>
            <tr>
              <th>{{ 'Depencencia' | translate }}: </th>
              <td>{{modificacionFuente.nombre_dependencia_origen}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_RUBRO' | translate }}: </th>
              <td>{{ modificacionFuente.total_fuente_origen | currency}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_TRASLADO' | translate }}: </th>
              <td>{{ modificacionFuente.nueva_fuente_apropiacion.Monto | currency}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_TOTAL' | translate }}: </th>
              <td>{{ modificacionFuente.total_origen | currency}}</td>
            </tr>

          </table>

        </div>

        <div class="panel-body col-md-6">
          <h4 class="text-info">{{'RUBRO_DESTINO' | translate}}</h4>
          <table class="table">
            <tr>
              <th>{{'CODIGO' | translate}}: </th>
              <td>{{modificacionFuente.Codigo1 }}</td>
            </tr>
            <tr>
              <th>{{ 'NOMBRE' | translate }}: </th>
              <td>{{modificacionFuente.Nombre1}}</td>
            </tr>
            <tr>
              <th>{{ 'Depencencia' | translate }}: </th>
              <td>{{modificacionFuente.nombre_dependencia_destino}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_RUBRO' | translate }}: </th>
              <td>{{ modificacionFuente.total_fuente_destino | currency}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_ADICION' | translate }}: </th>
              <td>{{ modificacionFuente.nueva_fuente_apropiacion.Monto | currency}}</td>
            </tr>
            <tr>
              <th>{{ 'VALOR_TOTAL' | translate }}: </th>
              <td>{{ modificacionFuente.total_destino | currency}}</td>
            </tr>

          </table>

        </div>
      </div>
      <hr>
      <center>
        <button ng-click='modificacionFuente.traslado_fuente()' class="btn btn-success btn-outline">{{'CREAR_FUENTE' | translate }}</button>
      </center>
      <hr>
    </div>
  </div>
</div>
