<div class="panel panel-default">
  <div class="panel-heading">
    <h3 align="center">{{ title }}</h3>
  </div>
  <div class="panel-body">
    <div id="div-horizontal2">
      <!--p align="center"-->
      <a id="IdTipo" ng-href="listar_certificar_avance">
        << Regresar </a>
          <!--/p-->
    </div>
    <div id="div-horizontal">
      <p align="center"> {{ message }} </p><br>
    </div>
    <div id="div-horizontal2"> </div>
    <form name="giroAvanceForm" class="form-horizontal">
      <div class="container">
        <div class="form-group">
          <label for="Registro" class="col-sm-2 control-label">Registro Presupuestal:</label>
          <div class="col-sm-4">
            <input name="Registro" type="text" ng-model="solicitud_avance.Presupuesto.Registro" class="form-control" min="1" ng-required="true" ng-disabled="true" />
            <span class="messages" style="color:red" ng-show="giroAvanceForm.$submitted || giroAvanceForm.Registro.$touched || giroAvanceForm.Registro.$untouched ">
                    <span ng-show="giroAvanceForm.Registro.$error.required">Debe Existir un certificado de Registro asociada a la Solicitud!</span>
            <span ng-show="giroAvanceForm.Registro.$error.mim">Debe Existir un certificado de Registro asociada a la Solicitud!</span>
            </span>
          </div>
          <label for="Compromiso" class="col-sm-2 control-label">Compromiso:</label>
          <div class="col-sm-4">
            <input name="Compromiso" type="text" ng-model="solicitud_avance.Presupuesto.Compromiso" class="form-control" min="0" ng-disabled="true" />
          </div>
        </div>
        <div class="form-group">
          <label for="FechaRegistro" class="col-sm-2 control-label">Fecha Registro:</label>
          <div class="col-sm-4">
            <input name="FechaRegistro" type="text" ng-model="solicitud_avance.Presupuesto.FechaRegistro" class="form-control" min="0" ng-disabled="true" />
          </div>
          <label for="ValorRegistro" class="col-sm-2 control-label">Valor Registro:</label>
          <div class="col-sm-4">
            <input name="ValorRegistro" type="text" ng-model="solicitud_avance.Presupuesto.ValorRegistro | currency" class="form-control" min="0" ng-disabled="true" />
          </div>
        </div>
        <div class="form-group">
          <label for="OrdenPago" class="col-sm-2 control-label">Orden de Pago:</label>
          <div class="col-sm-4">
            <input name="OrdenPago" type="text" ng-model="solicitud_avance.Presupuesto.OrdenPago" class="form-control" min="1" ng-required="true" ng-disabled="true" />
            <span class="messages" style="color:red" ng-show="giroAvanceForm.$submitted || giroAvanceForm.OrdenPago.$touched || giroAvanceForm.OrdenPago.$untouched ">
                    <span ng-show="giroAvanceForm.OrdenPago.$error.required">Debe Existir una Orden de Pago asociada a la Solicitud!</span>
            <span ng-show="giroAvanceForm.OrdenPago.$error.mim">Debe Existir una Orden de Pago asociada a la Solicitud!</span>
            </span>
          </div>
          <label for="FechaOrden" class="col-sm-2 control-label">Fecha Orden:</label>
          <div class="col-sm-4">
            <input name="FechaOrden" type="text" ng-model="solicitud_avance.Presupuesto.FechaOrden" class="form-control" min="0" ng-disabled="true" />
          </div>
        </div>
        <div class="form-group">
          <label for="ValorOrden" class="col-sm-2 control-label">Valor Orden:</label>
          <div class="col-sm-4">
            <input name="ValorOrden" type="text" ng-model="solicitud_avance.Presupuesto.ValorOrden | currency" class="form-control" min="0" ng-disabled="true" />
          </div>
          <label for="FechaCertificacion" class="col-sm-2 control-label">Fecha Certificacion Evento:</label>
          <div class="col-sm-4">
            <span class="input-group-addon">

                <input name="FechaCertificacion"  type="text"  ng-model="solicitud_avance.Presupuesto.FechaCertificacion" readonly="true" ng-required="true"/>
                <i id="datepicker"  data-ng-datepicker class="glyphicon glyphicon-calendar"></i>
              </span>
            <span class="messages" style="color:red" ng-show="giroAvanceForm.$submitted || giroAvanceForm.FechaCertificacion.$touched || giroAvanceForm.FechaCertificacion.$untouched ">
                  <span ng-show="giroAvanceForm.FechaCertificacion.$error.required">Debe Ingresar la fecha de Realización del Evento!</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="Observacion" class="col-sm-2 control-label">Descripción del Giro:</label>
          <div class="col-sm-10">
            <textarea name="Observacion" ng-model="solicitud_avance.Estadosolicitud.Observacion" class="form-control" min="4" ng-required="true" ng-pattern="/^{4,100}$/" /></textarea>
            <span class="messages" style="color:red" ng-show="giroAvanceForm.$submitted || giroAvanceForm.Observacion.$untouched  || giroAvanceForm.Observacion.$touched">
                      <span ng-show="giroAvanceForm.Observacion.$error.required">Debe describir la certificación del Giro!</span>
            <span ng-show="giroAvanceForm.Observacion.$error.pattern">Ingrese una descripción valida, entre 4 y 100 Caracteres!</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input name="InternoRubro" type="hidden" ng-model="solicitud_avance.Presupuesto.InternoRubro" />
            <input name="Usuario" type="hidden" ng-model="solicitud_avance.Estadosolicitud.Usuario" />
            <input type="buttom" ng-click="addGiro()" value="Guardar Certificar Giro" class="btn btn-primary" ng-disabled="!giroAvanceForm.$valid || !solicitud_avance.Presupuesto.Registro " />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <p align="left"> <input type="checkbox" ng-model="solicitud"> <u>Solicitud </u> </p>
        </div>
        <div class="form-group">
          <label for="Vigencia" class="col-sm-2 control-label">Vigencia:</label>
          <div class="col-sm-4">
            <input name="Vigencia" type="text" ng-model="solicitud_avance.Solicitud.Vigencia" class="form-control" min="0" ng-disabled="true" />
          </div>
          <label for="Consecutivo" class="col-sm-2 control-label">Consecutivo:</label>
          <div class="col-sm-4">
            <input name="Consecutivo" type="text" ng-model="solicitud_avance.Solicitud.Consecutivo" class="form-control" min="0" ng-disabled="true" />
          </div>
        </div>
        <div class="container" ng-show="solicitud">
          <div class="form-group">
            <label for="ValorTotal" class="col-sm-2 control-label">Valor Avance:</label>
            <div class="col-sm-4">
              <input name="ValorTotal" type="text" ng-model="solicitud_avance.Solicitud.ValorTotal | currency" class="form-control" min="0" ng-disabled="true" />
            </div>
            <label for="EstadoActual" class="col-sm-2 control-label">Estado Actual:</label>
            <div class="col-sm-4">
              <input name="EstadoActual" type="text" ng-model="solicitud_avance.Solicitud.EstadoActual" class="form-control" min="0" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="Objetivo" class="col-sm-2 control-label">Objetivo:</label>
            <div class="col-sm-10">
              <textarea name="Objetivo" ng-model="solicitud_avance.Solicitud.Objetivo" class="form-control" ng-disabled="true"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="Justificacion" class="col-sm-2 control-label">Justificacion:</label>
            <div class="col-sm-10">
              <textarea name="Justificacion" ng-model="solicitud_avance.Solicitud.Justificacion" class="form-control" ng-disabled="true"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="Dependencia" class="col-sm-2 control-label">Dependencia:</label>
            <div class="col-sm-10">
              <input name="Dependencia" type="text" ng-model="solicitud_avance.Solicitud.Dependencia" class="form-control" min="0" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="CodigoFacultad" class="col-sm-2 control-label">Facultad:</label>
            <div class="col-sm-10">
              <input name="Facultad" type="text" ng-model="solicitud_avance.Solicitud.Facultad" class="form-control" min="0" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="CodigoProyectoCur" class="col-sm-2 control-label">Proyecto Curricular:</label>
            <div class="col-sm-10">
              <input name="ProyectoCur" type="text" ng-model="solicitud_avance.Solicitud.ProyectoCur" class="form-control" min="0" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="CodigoConvenio" class="col-sm-2 control-label">Convenio:</label>
            <div class="col-sm-2">
              <input name="CodigoConvenio" type="text" ng-model="solicitud_avance.Solicitud.CodigoConvenio" class="form-control" placeholder="Código Convenio" ng-disabled="true" />
            </div>
            <div class="col-sm-8">
              <input name="Convenio" type="text" ng-model="solicitud_avance.Solicitud.Convenio" class="form-control" placeholder="Nombre Convenio" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="CodigoProyectoInv" class="col-sm-2 control-label">Proyecto Investigación:</label>
            <div class="col-sm-2">
              <input name="CodigoProyectoInv" type="text" ng-model="solicitud_avance.Solicitud.CodigoProyectoInv" class="form-control" placeholder="Código Proyecto" ng-disabled="true" />
            </div>
            <div class="col-sm-8">
              <input name="ProyectoInv" type="text" ng-model="solicitud_avance.Solicitud.ProyectoInv" class="form-control" placeholder="Nombre Proyecto" ng-disabled="true" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <p align="left"> <input type="checkbox" ng-model="beneficiario"> <u>Beneficiario </u> </p>
        </div>
        <div class="form-group">
          <label for="TipoDocumento" class="col-sm-2 control-label">Tipo Documento:</label>
          <div class="col-sm-4">
            <input name="TipoDocumento" type="text" ng-model="solicitud_avance.Beneficiario.TipoDocumento" ng-disabled="true" class="form-control" />
          </div>
          <label for="Documento" class="col-sm-2 control-label">Documento:</label>
          <div class="col-sm-4">
            <input name="Documento" type="text" ng-model="solicitud_avance.Beneficiario.Documento" ng-disabled="true" class="form-control" />
          </div>
        </div>
        <div class="container" ng-show="beneficiario">
          <div class="form-group">
            <label for="Nombre" class="col-sm-2 control-label">Nombre:</label>
            <div class="col-sm-10">
              <input name="Nombre" type="text" ng-model="solicitud_avance.Beneficiario.Nombre" ng-disabled="true" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="Apellido" class="col-sm-2 control-label">Apellidos:</label>
            <div class="col-sm-10">
              <input name="Apellido" type="text" ng-model="solicitud_avance.Beneficiario.Apellido" ng-disabled="true" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="LugarDocumento" class="col-sm-2 control-label">Lugar del Documento:</label>
            <div class="col-sm-10">
              <input name="LugarDocumento" type="text" ng-model="solicitud_avance.Beneficiario.LugarDocumento" ng-disabled="true" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="Direccion" class="col-sm-2 control-label">Dirección:</label>
            <div class="col-sm-10">
              <input name="Direccion" type="text" ng-model="solicitud_avance.Beneficiario.Direccion" ng-disabled="true" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="Correo" class="col-sm-2 control-label">Correo Electrónico:</label>
            <div class="col-sm-10">
              <input name="Correo" type="email" ng-model="solicitud_avance.Beneficiario.Correo" class="form-control" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="Telefono" class="col-sm-2 control-label">Número Telefono:</label>
            <div class="col-sm-4">
              <input name="Telefono" type="text" ng-model="solicitud_avance.Beneficiario.Telefono" class="form-control" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="Celular" class="col-sm-2 control-label">Número Celular:</label>
            <div class="col-sm-4">
              <input name="Celular" type="text" ng-model="solicitud_avance.Beneficiario.Celular" class="form-control" ng-disabled="true" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <p align="left"> <input type="checkbox" ng-model="tipos"> <u>Tipos de Avance </u> </p>
        </div>
        <div class="container" ng-show="tipos">
          <table id="solicitud_avance" class="table datatable table-striped table-bordered ">
            <thead>
              <tr>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Descripcion</th>
                <th align="center" colspan="2">Verificar Requisitos</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tav in solicitud_avance.TipoAvance">
                <td>{{tav.Referencia}}</td>
                <td>{{tav.Nombre}}</td>
                <td>{{tav.Valor | currency }}</td>
                <td>{{tav.Descripcion}}</td>
                <td colspan="2" width="60%">
                  <table border="0" width="100%">
                    <tr ng-repeat="req in tav.Requisitos | filter:{ Etapa: solicitar }">
                      <td>{{req.ReferenciaReq}}</td>
                      <td>{{req.NombreReq}} : </td>
                      <td width="60%">
                        <input name="Observaciones{{$parent.$index}}{{$index}}" type="text" ng-model="solicitud_avance.TipoAvance[$parent.$index].Requisitos[$index].Observaciones" class="form-control" ng-disabled="true" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="form-group">
          <p align="left"> <input type="checkbox" ng-model="presupuesto"> <u>Presupuesto </u> </p>
        </div>
        <div class="form-group">
          <label for="NumeroNecesidad" class="col-sm-2 control-label">Necesidad:</label>
          <div class="col-sm-4">
            <input name="NumeroNecesidad" type="text" ng-model="solicitud_avance.Presupuesto.NumeroNecesidad" class="form-control" min="0" ng-disabled="true" />
          </div>
          <label for="Vigencia" class="col-sm-2 control-label">Vigencia:</label>
          <div class="col-sm-4">
            <input name="Vigencia" type="text" ng-model="solicitud_avance.Presupuesto.Vigencia" class="form-control" min="0" ng-disabled="true" />
          </div>
        </div>
        <div class="container" ng-show="presupuesto">
          <div class="form-group">
            <label for="ValorNecesidad" class="col-sm-2 control-label">Valor Necesidad:</label>
            <div class="col-sm-4">
              <input name="ValorNecesidad" type="text" ng-model="solicitud_avance.Presupuesto.ValorNecesidad | currency" class="form-control" min="0" ng-disabled="true" />
            </div>
            <label for="FechaNecesidad" class="col-sm-2 control-label">Fecha Necesidad:</label>
            <div class="col-sm-4">
              <input name="FechaNecesidad" type="text" ng-model="solicitud_avance.Presupuesto.FechaNecesidad" class="form-control" min="0" ng-disabled="true" />
            </div>
          </div>

          <div class="form-group">
            <label for="Objeto" class="col-sm-2 control-label">Objeto:</label>
            <div class="col-sm-10">
              <textarea name="Objeto" ng-model="solicitud_avance.Presupuesto.Objeto" class="form-control" ng-disabled="true" /></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="NombreRubro" class="col-sm-2 control-label">Rubro:</label>
            <div class="col-sm-10">
              <input name="NombreRubro" type="text" ng-model="solicitud_avance.Presupuesto.NombreRubro" class="form-control" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="Disponibilidad" class="col-sm-2 control-label">Disponibilidad:</label>
            <div class="col-sm-4">
              <input name="Disponibilidad" type="text" ng-model="solicitud_avance.Presupuesto.Disponibilidad" class="form-control" min="1" ng-required="true" ng-disabled="true" />
            </div>
            <label for="Vigencia" class="col-sm-2 control-label">Vigencia:</label>
            <div class="col-sm-4">
              <input name="Vigencia" type="text" ng-model="solicitud_avance.Presupuesto.Vigencia" class="form-control" min="0" ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <label for="FechaDisp" class="col-sm-2 control-label">Fecha Disponibidad:</label>
            <div class="col-sm-4">
              <input name="FechaDisp" type="text" ng-model="solicitud_avance.Presupuesto.FechaDisp" class="form-control" min="0" ng-disabled="true" />
            </div>
            <label for="ValorDisp" class="col-sm-2 control-label">Valor Disponibilidad:</label>
            <div class="col-sm-4">
              <input name="ValorDisp" type="text" ng-model="solicitud_avance.Presupuesto.ValorDisp | currency" class="form-control" min="0" ng-disabled="true" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<pre>{{solicitud_avance.Presupuesto | json}}</pre>
