<!--detalle Unidad Ejecutora-->
<legend class="text-primary" ng-click="panelUnidadEjecutora=!panelUnidadEjecutora">
  {{'UNIDAD_EJECUTORA' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelUnidadEjecutora"></span>
  <span class="fa fa-minus pull-right" ng-show="panelUnidadEjecutora"></span>
</legend class="text-primary">
<div ng-if="panelUnidadEjecutora" class="panel-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1">{{'ENTIDAD' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.orden_pago.UnidadEjecutora.Entidad.Nombre}}</span>
      </div>

      <label class="control-label col-sm-1">{{'DESCRIPCION' | translate}}</label>
      <div class="col-sm-5">
        <textarea readonly class="form-control">{{d_opProveedorVerPorId.orden_pago.UnidadEjecutora.Descripcion}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'UNIDAD_EJECUTORA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.orden_pago.UnidadEjecutora.Nombre}}</span>
      </div>
      <label class="control-label col-sm-1">{{'CODIGO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.orden_pago.UnidadEjecutora.Entidad.CodigoEntidad}}</span>
      </div>
    </div>
  </div>
</div>
<!--detalle Proveedor-->
<legend class="text-primary" ng-click="panelProveedor=!panelProveedor">
  {{'PROVEEDOR' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelProveedor"></span>
  <span class="fa fa-minus pull-right" ng-show="panelProveedor"></span>
</legend class="text-primary">
<div ng-if="panelProveedor" class="panel-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1">{{'TIPO_PERSONA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].Tipopersona}}</span>
      </div>
      <label class="control-label col-sm-1">{{'NO_DOCUMENTO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].NumDocumento}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'NOMBRE' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].NomProveedor}}</span>
      </div>
      <label class="control-label col-sm-1">{{'DIRECCION' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].Direccion}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'TELEFONO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.tel_proveedor.IdTelefono.NumeroTel}}</span>
      </div>
      <label class="control-label col-sm-1">{{'CUENTA_BANCARIA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].NumCuentaBancaria}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'BANCO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.banco_proveedor.NombrePerfilEntidad}}</span>
      </div>
      <label class="control-label col-sm-1">{{'TIPO_CUENTA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].TipoCuentaBancaria}}</span>
      </div>
    </div>
  </div>
</div>
<!--Detalle Registro Presupuestal (RP)-->
<div ng-if="mostrar_leyenda_rp">
  <legend class="text-primary" ng-click="d_opProveedorVerPorId.panelRp=!d_opProveedorVerPorId.panelRp">
  {{'REGISTRO_PRESUPUESTAL' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!d_opProveedorVerPorId.panelRp"></span>
  <span class="fa fa-minus pull-right" ng-show="d_opProveedorVerPorId.panelRp"></span>
</legend class="text-primary">
<rp-por-op op ="d_opProveedorVerPorId.orden_pago.Id" panel="d_opProveedorVerPorId.panelRp">
</rp-por-op>
</div>

<!--Cuando no se quiere leyenda que muestre el panel  -->
<div ng-if="!mostrar_leyenda_rp">
<rp-por-op op ="d_opProveedorVerPorId.orden_pago.Id" panel="d_opProveedorVerPorId.panelRp">
</rp-por-op>
</div>
<!--Detalle Orden de Pago-->
<legend class="text-primary" ng-click="panelDetallePagoProveedor=!panelDetallePagoProveedor">
  {{'DETALLE_OP' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelDetallePagoProveedor"></span>
  <span class="fa fa-minus pull-right" ng-show="panelDetallePagoProveedor"></span>
</legend class="text-primary">
<div ng-if="panelDetallePagoProveedor" class="panel-body">
  <div class="form-horizontal">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2">{{'TIPO_ORDEN_PAGO' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.SubTipoOrdenPago.Nombre}}</span>
        </div>
        <label class="control-label col-sm-2">{{'FORMA_PAGO' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.FormaPago.Nombre}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">{{'TIPO_DOCUMENTO' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.documento.Nombre}}</span>
        </div>
        <label class="control-label col-sm-2">{{'VALOR_BRUTO' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.ValorBase  | currency:"$":0 }}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">{{'ENTRADA_ALMACEN' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.entrada.Consecutivo}} - {{d_opProveedorVerPorId.entrada.TipoContrato.Descripcion}}</span>
        </div>
        <label class="control-label col-sm-2">{{'VIGENCIA' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.Vigencia}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">{{'ELABORADO_POR' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.OrdenPagoEstadoOrdenPago[0].Usuario }}</span>
        </div>
      </div>

    </div>
  </div>
</div>
<!--detalle Rubros y conceptos-->

<legend class="text-primary" ng-click="d_opProveedorVerPorId.abrir_panel('rubros_conceptos')">
  {{'RUBROS' | translate}} {{'MSN_Y' | translate}} {{'CONCEPTOS' | translate}}
  <span class="fa fa-plus pull-right" ng-show="d_opProveedorVerPorId.panel_abierto !== 'rubros_conceptos'"></span>
  <span class="fa fa-minus pull-right" ng-show="d_opProveedorVerPorId.panel_abierto === 'rubros_conceptos'"></span>
</legend class="text-primary">
<div class="col-md-12" ng-if="d_opProveedorVerPorId.panel_abierto === 'rubros_conceptos'">
  <div class="row">
    <div class="panel-default panel-body">
      <div class="panel panel-heading">
        <h4 class="text-left panel-title"><span>{{'AFECTACION_PRESUPUESTAL' | translate}}</span></h4>
      </div>
      <div class="col-md-6">
      <ul class="list-unstyled" ng-repeat="con in d_opProveedorVerPorId.conceptos track by con.Id">
        <li><b>{{'RUBRO' | translate}}:</b> {{con.Concepto.Rubro.Codigo + " / "+ con.Concepto.Rubro.Nombre }}
          <ul>
            <li>
              <div class="col-md-4" style="width:148px">
                <label for="valAfectacion">{{'VALOR' | translate}} </label>
              </div>
              <div class="col-md-4" style="width:200px">
                <input class="form-control" type="text" ng-model="con.RegistroPresupuestalDisponibilidadApropiacion.Valor"  ui-money-mask="0" style="height:25px" disabled>
              </div>
            </li>
          </ul><br/>
          <li><b>{{'CONCEPTO' | translate}}:</b> {{con.Concepto.Codigo + " / "+ con.Concepto.Nombre }}
          <ul>
            <li>
              <div class="col-md-4" style="width:148px">
                <label for="valAfectacion">{{'VALOR_AFECTACION' | translate}}:</label>
              </div>
              <div class="col-md-4" style="width:200px">
                <input class="form-control" type="text" ng-model="con.Valor" ui-money-mask="0" style="height:25px" disabled>
              </div>
            </li>
          </ul>
        </li>
      </li>
      </ul>
    </div>
    </div>
  </div>
</div>

<movimientos-contables-op-detalle codigodocumentoafectante="d_opProveedorVerPorId.orden_pago.Id" tipodocumento="d_opProveedorVerPorId.tipoDocumentoOp">
</movimientos-contables-op-detalle>
