<legend class="text-primary" ng-click="a=!a">
  {{'DETALLE_OP' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!a"></span>
  <span class="fa fa-minus pull-right" ng-show="a"></span>
</legend class="text-primary">

<div class="panel-body row" ng-show="a">
  <div class="form-horizontal">
    <div class="form-group">
      <label for="tipo_documento" class="col-sm-2 control-label">{{'TIPO_ORDEN_PAGO' | translate }}</label>
      <div class="col-sm-4">
        <select ng-model="outputsubtipoordenpago" ng-options="i.Nombre for i in d_opProveedorDetallePago.subTiposOrdenPago" class="form-control" id="tipo_documento" required>
          <option value="">Seleccionar Documento</option>
        </select>
      </div>
      <label for="formapago" class="col-sm-2 control-label">{{'FORMA_PAGO' | translate }}</label>
      <div class="col-sm-4">
        <select ng-model="outputformapago" ng-options="i.Nombre for i in d_opProveedorDetallePago.formaPagos" class="form-control" required>
          <option value="">Seleccionar Forma de Pago</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="tipo_documento" class="col-sm-2 control-label">{{'TIPO_DOCUMENTO' | translate }}</label>
      <div class="col-sm-4">
        <select ng-model="outputdocumento" ng-options="i.Id as i.Nombre for i in d_opProveedorDetallePago.documento" class="form-control" required>
          <option value="">Seleccionar Documento</option>
        </select>
      </div>
      <label for="val_base_retencion" class="col-sm-2 control-label">{{'VALOR_BRUTO' | translate}}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control input_right" ng-model="outputvalorbase" placeholder="{{'VALOR_BRUTO' | translate}}" ui-number-mask="0" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="iva" class="col-sm-2 control-label">{{'ENTRADA_ALMACEN' | translate}}</label>
      <div class="col-sm-4">
        <ui-select ng-model="d_opProveedorDetallePago.entrada.selected" theme="bootstrap" on-select="d_opProveedorDetallePago.ver_seleccion($item, $model)" style="width:100%;">
          <ui-select-match placeholder="{{'ENTRADA_ALMACEN' | translate}}...">{{$select.selected.Consecutivo || $select.selected }}</ui-select-match>
          <ui-select-choices repeat="entrada in d_opProveedorDetallePago.entradas | filter: $select.search">
            <span ng-bind-html="entrada.Consecutivo | highlight: $select.search"></span> -
            <span ng-bind-html="entrada.TipoContrato.Descripcion | highlight: $select.search"></span><br>
            <small>
              No. Factura: {{entrada.NumeroFactura}}
              Vigencia: <small ng-bind-html="entrada.Vigencia | highlight: $select.search"></small>
            </small>
          </ui-select-choices>
        </ui-select>
      </div>
      <label class="col-sm-2 control-label">{{'VIGENCIA' | translate }}</label>
      <div class="col-sm-4">
        <input ng-model="outputvigencia" type="text" class="form-control input_right" disabled/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{'ELABORADO_POR' | translate }}</label>
      <div class="col-sm-4">
        <input type="text" class="form-control input_right" disabled/>
      </div>
    </div>
  </div>
</div>
