<!--detalle Unidad Ejecutora-->
<legend class="text-primary" ng-click="panelUnidadEjecutora=!panelUnidadEjecutora">
  {{'UNIDAD_EJECUTORA' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelUnidadEjecutora"></span>
  <span class="fa fa-minus pull-right" ng-show="panelUnidadEjecutora"></span>
</legend class="text-primary">
<div ng-if="panelUnidadEjecutora" class="panel-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1">{{'UNIDAD_EJECUTORA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.orden_pago.UnidadEjecutora.Nombre}}</span>
      </div>
      <label class="control-label col-sm-1">{{'DESCRIPCION' | translate}}</label>
      <div class="col-sm-5">
        <textarea readonly class="form-control">{{d_opProveedorVerPorId.orden_pago.UnidadEjecutora.Descripcion}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'ENTIDAD' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.orden_pago.UnidadEjecutora.Entidad.Nombre}}</span>
      </div>
      <label class="control-label col-sm-1">{{'CODIGO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.orden_pago.UnidadEjecutora.Entidad.CodigoEntidad}}</span>
      </div>
    </div>
  </div>
</div>
<!--detalle Proveedor-->
<legend class="text-primary" ng-click="panelProveedor=!panelProveedor">
  {{'PROVEEDOR' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelProveedor"></span>
  <span class="fa fa-minus pull-right" ng-show="panelProveedor"></span>
</legend class="text-primary">
<div ng-if="panelProveedor" class="panel-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1">{{'TIPO_PERSONA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].Tipopersona}}</span>
      </div>
      <label class="control-label col-sm-1">{{'NO_DOCUMENTO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].NumDocumento}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'NOMBRE' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].NomProveedor}}</span>
      </div>
      <label class="control-label col-sm-1">{{'DIRECCION' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].Direccion}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'TELEFONO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.tel_proveedor.IdTelefono.NumeroTel}}</span>
      </div>
      <label class="control-label col-sm-1">{{'CUENTA_BANCARIA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].NumCuentaBancaria}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'SUCURSAL' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.banco_proveedor.NombreBanco}}</span>
      </div>
      <label class="control-label col-sm-1">{{'TIPO_CUENTA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.proveedor[0].TipoCuentaBancaria}}</span>
      </div>
    </div>
  </div>
</div>
<!--Detalle Registro Presupuestal (RP)-->
<legend class="text-primary" ng-click="panelRp=!panelRp">
  {{'REGISTRO_PRESUPUESTAL' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelRp"></span>
  <span class="fa fa-minus pull-right" ng-show="panelRp"></span>
</legend class="text-primary">
<div ng-if="panelRp" class="panel-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1">{{'NO_CRP' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.rp_detalle.RegistroPresupuestal.NumeroRegistroPresupuestal}}</span>
      </div>
      <label class="control-label col-sm-1">{{'VIGENCIA' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.rp_detalle.RegistroPresupuestal.Vigencia}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'RESPONSABLE' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.rp_detalle.RegistroPresupuestal.Responsable}}</span>
      </div>
      <label class="control-label col-sm-1">{{'ESTADO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.rp_detalle.RegistroPresupuestal.Estado.Nombre}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'COMPROMISO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.rp_detalle.RegistroPresupuestal.Compromiso.TipoCompromisoTesoral.Nombre}}</span>
      </div>
      <label class="control-label col-sm-1">{{'DESCRIPCION_COMPROMISO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.rp_detalle.RegistroPresupuestal.Compromiso.Objeto}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'VALOR_CRP' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control input_right">{{d_opProveedorVerPorId.valor_total_rp | currency}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'NO_CDP' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.rp_detalle.DisponibilidadApropiacion.Disponibilidad.NumeroDisponibilidad}}</span>
      </div>
      <label class="control-label col-sm-1">{{'ESTADO' | translate}} {{'CDP' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.rp_detalle.DisponibilidadApropiacion.Disponibilidad.Estado.Nombre}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1">{{'NECESIDAD_NO' | translate}}</label>
      <div class="col-sm-5">
        <span class="form-control">{{d_opProveedorVerPorId.solicitud.SolicitudDisponibilidad.Necesidad.Numero}}</span>
      </div>
      <label class="control-label col-sm-1">{{'OBJETO' | translate}}  {{'NECESIDAD' | translate}} </label>
      <div class="col-sm-5">
        <textarea class="form-control" rows="2" readonly> {{d_opProveedorVerPorId.solicitud.SolicitudDisponibilidad.Necesidad.Objeto}} </textarea>
      </div>
    </div>
  </div>
</div>
<!--Detalle Orden de Pago-->
<legend class="text-primary" ng-click="panelDetallePagoProveedor=!panelDetallePagoProveedor">
  {{'DETALLE_OP' | translate}}
  <span class="fa fa-plus pull-right" ng-show="!panelDetallePagoProveedor"></span>
  <span class="fa fa-minus pull-right" ng-show="panelDetallePagoProveedor"></span>
</legend class="text-primary">
<div ng-if="panelDetallePagoProveedor" class="panel-body">
  <div class="form-horizontal">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2">{{'TIPO_ORDEN_PAGO' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.SubTipoOrdenPago.Nombre}}</span>
        </div>
        <label class="control-label col-sm-2">{{'FORMA_PAGO' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.FormaPago.Nombre}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">{{'TIPO_DOCUMENTO' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.documento.Nombre}}</span>
        </div>
        <label class="control-label col-sm-2">{{'VALOR_BRUTO' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.ValorBase  | currency:"$":0 }}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">{{'ENTRADA_ALMACEN' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.entrada.Consecutivo}} - {{d_opProveedorVerPorId.entrada.TipoContrato.Descripcion}}</span>
        </div>
        <label class="control-label col-sm-2">{{'VIGENCIA' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.Vigencia}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">{{'ELABORADO_POR' | translate}}</label>
        <div class="col-sm-4">
          <span class="form-control input_right">{{d_opProveedorVerPorId.orden_pago.OrdenPagoEstadoOrdenPago[0].Usuario }}</span>
        </div>
      </div>

    </div>
  </div>
</div>
<!--detalle Rubros y conceptos-->
<op-proveedor-detalle-rubro-concepto
  inputpestanaabierta="inputpestanaabierta"
  inputordenpagoid="d_opProveedorVerPorId.orden_pago.Id">
</op-proveedor-detalle-rubro-concepto>
<!--detalle Cuenta Contable-->
<movimientos-contables-op-detalle codigodocumentoafectante="d_opProveedorVerPorId.orden_pago.Id">
</movimientos-contables-op-detalle>
