<div class="col-centered">
  <div class="panel panel-default" ng-hide='cdpAnulacion.formVisibility'>
    <h2 class="page-header" align="center">{{'LISTA_CDP_ANULACION' | translate}}</h2>
    <div class="panel-body">
      <div ui-grid="cdpAnulacion.gridOptions" ui-grid-selection class="myGrid"></div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="cdpAnulacion.limpiar();cdpAnulacion.actualizarLista()">&times</button><br>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="page-header">Certificado De Disponibilidad Presupuestal No {{cdpAnulacion.cdp.NumeroDisponibilidad}} de {{cdpAnulacion.cdp.Vigencia}}</h3>
            <div align="right">Fecha de Registro: {{cdpAnulacion.cdp.FechaRegistro | date:"yyyy-MM-dd":"+0900"}}</div>
        </div>
        <div class="panel-body">
          <h4 class="text-info">{{'DATOS_NECESIDAD' | translate}}</h4>
          <div >
            <table class="table text-justify">
              <tr>
                <th>{{'NECESIDAD_NO' | translate}}: </th>
                <td>{{cdpAnulacion.cdp.Solicitud.SolicitudDisponibilidad.Necesidad.Numero}}</td>
              </tr>
              <tr>
                <th>{{'ESTADO' | translate}}: </th>
                <td>{{cdpAnulacion.cdp.Estado.Nombre}}</td>
              </tr>
              <tr>
                <th>{{'DEPENDENCIA_SOLICITANTE' | translate}}: </th>
                <td>{{cdpAnulacion.cdp.Solicitud.DependenciaSolicitante.Nombre}}</td>
              </tr>
              <tr>
                <th>{{'JEFE_DEPENDENCIA' | translate}}: </th>
                <td>{{cdpAnulacion.cdp.Solicitud.DependenciaSolicitante.InfoJefeDependencia.PrimerApellido + ' ' +
                      cdpAnulacion.cdp.Solicitud.DependenciaSolicitante.InfoJefeDependencia.SegundoApellido + ' ' +
                     cdpAnulacion.cdp.Solicitud.DependenciaSolicitante.InfoJefeDependencia.PrimerNombre + ' '+
                    cdpAnulacion.cdp.Solicitud.DependenciaSolicitante.InfoJefeDependencia.SegundoNombre + ' '}}</td>
              </tr>
              <tr>
                <th>{{'DEPENDENCIA_DESTINO' | translate}}: </th>
                <td>{{cdpAnulacion.cdp.Solicitud.DependenciaDestino.Nombre}}</td>
              </tr>
              <tr>
                <th>{{'RESPONSABLE_SELECCION_PRESUPUESTO' | translate}}: </th>
                    <td>{{cdpAnulacion.cdp.Responsable.PrimerApellido + ' ' +
                          cdpAnulacion.cdp.Responsable.SegundoApellido + ' ' +
                         cdpAnulacion.cdp.Responsable.PrimerNombre + ' '+
                        cdpAnulacion.cdp.Responsable.SegundoNombre + ' '}}</td>
              </tr>
              <tr>
                <th>{{'OBJETO' | translate}}: </th>
                <td>{{cdpAnulacion.cdp.Solicitud.SolicitudDisponibilidad.Necesidad.Objeto}}</td>
              </tr>
            </table>
            <hr>
            <h4 class="text-info">{{'AFECTACION_PRESUPUESTAL' | translate}}</h4>
            <fuente-financiacion-cdp cdp="cdpAnulacion.cdp.Id" apropiacion="apropiaciones" resumen="cdpAnulacion.rubros_afectados"></fuente-financiacion-cdp>
          </div>
        </div>
      </div>




      <form class="form-ctrl">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              {{'ANULACION_CDP_TITULO_FORM' | translate}}
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <label>{{'MOTIVO_ANULACION_CDP' | translate}}</label>
              </div>
              <div class="col-md-9">
                <textarea class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAnulacion.motivo"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 ">
                <label>{{'TIPO_ANULACION' | translate}}</label>
              </div>
              <div class="col-md-9">
                <select id="slcTipoAnulacion" name="slcTipoAnulacion" class="form-control" ng-model="cdpAnulacion.tipoAnulacion">
                    <option value="P">{{'ANULACION_PARCIAL' | translate}}</option>
                  <option value="T">{{'ANULACION_TOTAL' | translate}}</option>
               </select>
              </div>
            </div>
            <br>
            <div ng-hide="cdpAnulacion.tipoAnulacion == 'T'" class="row">
              <div class="col-md-3 ">
                <label>{{'SELECCION_RUBRO' | translate}}</label>
              </div>
              <div class="col-md-9">
                 <select class="form-control" ng-model="cdpAnulacion.Rubro_sel" ng-options="o as o.Apropiacion.Rubro.Descripcion+'/'+o.FuenteFinanciamiento.Codigo +'/'+o.FuenteFinanciamiento.Descripcion for o in cdpAnulacion.rubros_afectados" >
                 </select>
              </div>
            </div>
            <br>
            <div ng-hide="cdpAnulacion.tipoAnulacion == 'T' " class="row">
              <div class="col-md-3">
                <label class="control-label" for="txtValor">{{'VALOR' | translate}}</label>
              </div>

              <div class="col-md-9">
                <input id="txtValor" name="txtValor" type="text" placeholder="Valor que desea anular" class="form-control" required="" ng-model="cdpAnulacion.Valor" ui-money-mask="0">
              </div>
            </div>
            <!-- Button (Double) -->
            <br>

                <center>

                  <button id="btnAnular" name="btnAnular" class="btn btn-success btn-outline" ng-click="cdpAnulacion.anular()">{{'SOLICITAR' | translate}}</button>


                </center>




          </div>
        </div>
      </form>
    </div>
  </div>
</div>
