<br>
<div class="row">
	<div ng-repeat="item in data" class="col-md-10 col-xs-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Datos de la solicitud de Disponibilidad
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Solicitud N°: </th> <td>{{item.SolicitudDisponibilidad.Numero}}</td>
					</tr>
					<tr>
						<th>Vigencia: </th> <td>{{item.SolicitudDisponibilidad.Vigencia}}</td>
					</tr>
					<tr>
						<th>Fecha de la solicitud: </th> <td>{{item.SolicitudDisponibilidad.FechaSolicitud | date:"yyyy-MM-dd":"+0900"}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Datos de la Necesidad
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Oficio N°: </th> <td>{{item.SolicitudDisponibilidad.Necesidad.Numero}}</td>
					</tr>
					<tr>
						<th>Vigencia: </th> <td>{{item.SolicitudDisponibilidad.Necesidad.Vigencia}}</td>
					</tr>
					<tr>
						<th>Dependencia Solicitante: </th>
						<td>{{item.DependenciaSolicitante.Nombre}}</td>
					</tr>
					<tr>
						<th>Jefe de la dependencia: </th>
						<td>{{item.DependenciaSolicitante.InfoJefeDependencia.PrimerApellido + ' ' +
									item.DependenciaSolicitante.InfoJefeDependencia.SegundoApellido + ' ' +
								 item.DependenciaSolicitante.InfoJefeDependencia.PrimerNombre + ' '+
								item.DependenciaSolicitante.InfoJefeDependencia.SegundoNombre + ' '}}</td>
					</tr>
					<tr>
						<th>Dependencia Destino: </th>
						<td>{{item.DependenciaDestino.Nombre}}</td>
					</tr>
					<tr>
						<th>Ordenador del Gasto: </th>
						<td>{{item.DependenciaSolicitante.InfoOrdenador.PrimerApellido + ' ' +
									item.DependenciaSolicitante.InfoOrdenador.SegundoApellido + ' ' +
								 item.DependenciaSolicitante.InfoOrdenador.PrimerNombre + ' '+
								item.DependenciaSolicitante.InfoOrdenador.SegundoNombre + ' '}}</td>
					</tr>
						<th>Unidad Ejecutora: </th> <td>{{item.SolicitudDisponibilidad.Necesidad.UnidadEjecutora}}</td>
					</tr>
					<tr>
						<th>Objeto Contractual : </th> <td>{{item.SolicitudDisponibilidad.Necesidad.Objeto}}</td>
					</tr>
					<tr>
						<th>Valor de la contratación: </th> <td>{{item.SolicitudDisponibilidad.Necesidad.Valor | currency}}</td>
					</tr>
					<tr>
						<th>Justificacion: </th> <td>{{item.SolicitudDisponibilidad.Necesidad.Justificacion}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-xs-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Rubros
				</div>
			</div>
			<div class="panel-body">

				        <div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize class="myGrid"></div>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-xs-offset-1" ng-show="apropiacion">
		<fuentes-apropiacion apropiacion = "apropiacion" fuenteapropiacion = "fuente" />
	</div>
</div>
