<br>
<div class="jumbotron panel panel-default">
  <div class="panel-heading">
    <h2>{{cdpSolicitudConsulta.message}}</h2>
  </div>
  <div class="panel-body">
    <table style="width:95%;">
      <tr>
        <td>
          <div ui-grid="cdpSolicitudConsulta.gridOptions" ui-grid-selection class="myGrid"></div>
        </td>
      </tr>
      <tr>
        <td>
        <button class="btn btn-danger" ng-click="cdpSolicitudConsulta.generar_disponibilidad()">Aprobar</button>
      </td>
      </tr>
    </table>
  </div>
  </div>
