<br>
<div class="col-md-12 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Lista de CDP</h2>
    </div>
    <div class="panel-body">
      <div ui-grid="cdpConsulta.gridOptions" ui-grid-selection class="myGrid"></div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade col-md-12" role="dialog">


      <div class="modal-content col-md-offset-1 col-md-10">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-4">
              <label>Información del CDP</label>
            </div>
            <div class="col-md-offset-7 col-md-1">
              <button type="button" class="btn btn-outline btn-danger btn-md " data-dismiss="modal">&times</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Detalle del CDP
              </div>
            </div>
            <div class="panel-body">
              <div >
                <table class="table text-justify">
                  <tr>
                    <th>Consecutivo del CDP: </th>
                    <td>{{cdpConsulta.cdp.NumeroDisponibilidad}}</td>
                  </tr>
                  <tr>
                    <th>Consecutivo de la Necesidad: </th>
                    <td>{{cdpConsulta.cdp.Solicitud.SolicitudDisponibilidad.Necesidad.Numero}}</td>
                  </tr>
                  <tr>
                    <th>Fecha de Registro: </th>
                    <td>{{cdpConsulta.cdp.FechaRegistro | date:"yyyy-MM-dd":"+0900"}}</td>
                  </tr>
                  <tr>
                    <th>Estado: </th>
                    <td>{{cdpConsulta.cdp.Estado.Nombre}}</td>
                  </tr>
                  <tr>
                    <th>Dependencia Solicitante: </th>
                    <td>{{cdpConsulta.cdp.Solicitud.DependenciaSolicitante.Nombre}}</td>
                  </tr>
                  <tr>
                    <th>Jefe de la dependencia: </th>
                    <td>{{cdpConsulta.cdp.Solicitud.DependenciaSolicitante.InfoJefeDependencia.PrimerApellido + ' ' +
                          cdpConsulta.cdp.Solicitud.DependenciaSolicitante.InfoJefeDependencia.SegundoApellido + ' ' +
                         cdpConsulta.cdp.Solicitud.DependenciaSolicitante.InfoJefeDependencia.PrimerNombre + ' '+
                        cdpConsulta.cdp.Solicitud.DependenciaSolicitante.InfoJefeDependencia.SegundoNombre + ' '}}</td>
                  </tr>
                  <tr>
                    <th>Dependencia Destino: </th>
                    <td>{{cdpConsulta.cdp.Solicitud.DependenciaDestino.Nombre}}</td>
                  </tr>
                  <tr>
                    <th>Ordenador del Gasto: </th>
                    <td>{{cdpConsulta.cdp.Solicitud.DependenciaSolicitante.InfoOrdenador.PrimerApellido + ' ' +
                          cdpConsulta.cdp.Solicitud.DependenciaSolicitante.InfoOrdenador.SegundoApellido + ' ' +
                         cdpConsulta.cdp.Solicitud.DependenciaSolicitante.InfoOrdenador.PrimerNombre + ' '+
                        cdpConsulta.cdp.Solicitud.DependenciaSolicitante.InfoOrdenador.SegundoNombre + ' '}}</td>
                  </tr>
                  <tr>
                    <th>Objeto: </th>
                    <td>{{cdpConsulta.cdp.Solicitud.SolicitudDisponibilidad.Necesidad.Objeto}}</td>
                  </tr>
                </table>
                <hr>
                <h4><b>Afectación Presupuestal</b></h4>
                <fuente-financiacion-cdp cdp="cdpConsulta.cdp.Id" apropiacion="apropiaciones"></fuente-financiacion-cdp>
              </div>
            </div>
          </div>

          <!--
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Rubros para este CDP
                  </div>
                </div>
                <div ui-grid="cdpConsulta.gridOptions_rubros" ui-grid-selection ui-grid-auto-resize ng-style="cdpConsulta.gridHeight" class="myGrid"></div>
              </div>
              	<div  ng-show="apropiacion">
              		<fuentes-apropiacion apropiacion = "apropiacion_id" fuenteapropiacion = "fuente" />
              	</div>
              -->
        </div>
      </div>


</div>
