<div class="col-centered">
  <div class="panel panel-default" >
    <h2 class="page-header" align="center">{{'LISTA_SOLICITUD_ANULACION_CDP' | translate}}</h2>
    <div class="panel-body">
      <!-- ui-grid-selection -->
      <div class="panel panel-primary panel-body">
    <div class="panel-body">
        <!-- ui-grid-selection -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-4 col-md-offset-1">
                            <label for="select_vigencia" class="col-form-label">{{'VIGENCIA' | translate}} </label>
                            <br>
                            <select class="form-control" name="select_vigencia" id="select_vigencia" ng-model="cdpAprobacionAnulacion.Vigencia" ng-model-options="{ updateOn: 'default', debounce: { default: 500} }">
                          <option ng-repeat="option in cdpAprobacionAnulacion.years" value="{{option}}">{{option}}</option>
                    </select>
                        </div>
                        <div class="col-md-4 col-md-offset-3">
                        <br>
                <a id="btnFenecidos" name="btnFenecidos"  ng-click="cdpAprobacionAnulacion.verFenecidos()">{{'VER_FENECIDOS' | translate}}</a>
                <br>
                <br>
                <a id="btnFenecidos" name="btnFenecidos"  ng-click="cdpAprobacionAnulacion.verAnulaciones()">{{'VER_ANULACIONES' | translate}}</a>

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!--ng-if="!load" loadingcircle load="load"></loadingcircle-->
        <div >
            <div ui-grid="cdpAprobacionAnulacion.gridOptions" ui-grid-pagination class="myGrid">
                <div class="watermark" ng-show="!cdpAprobacionAnulacion.hayData">{{'NO_DATA'| translate}}</div>
            </div>
        </div>
    </div>
</div>

    </div>
  </div>
</div>
<div id="myModal" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" >&times</button><br>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="page-header">{{'REPORTES.CDP' | translate}} No {{cdpAprobacionAnulacion.cdp.NumeroDisponibilidad}} de {{cdpAprobacionAnulacion.cdp.Vigencia}}</h3>
            <div align="right">{{'FECHA_REGISTRO' | translate}}: {{cdpAprobacionAnulacion.cdp.FechaRegistro | date:"yyyy-MM-dd":"UTC"}}</div>
        </div>
        <div class="panel-body">
          <h4 class="text-info">{{'DATOS_NECESIDAD' | translate}}</h4>
          <div >
            <table class="table text-justify">
              <tr>
                <th>{{'NECESIDAD_NO' | translate}}: </th>
                <td>{{cdpAprobacionAnulacion.cdp.DataSolicitud.SolicitudDisponibilidad.Necesidad.Numero}}</td>
              </tr>
              <tr>
                <th>{{'ESTADO' | translate}}: </th>
                <td>{{cdpAprobacionAnulacion.cdp.Estado.Nombre}}</td>
              </tr>
              <tr>
                <th>{{'DEPENDENCIA_SOLICITANTE' | translate}}: </th>
                <td>{{cdpAprobacionAnulacion.cdp.DataSolicitud.DependenciaSolicitante.Nombre}}</td>
              </tr>
              <tr>
                <th>{{'JEFE_DEPENDENCIA' | translate}}: </th>
                <td>{{cdpAprobacionAnulacion.cdp.DataSolicitud.DependenciaSolicitante.InfoJefeDependencia.PrimerApellido + ' ' +
                      cdpAprobacionAnulacion.cdp.DataSolicitud.DependenciaSolicitante.InfoJefeDependencia.SegundoApellido + ' ' +
                     cdpAprobacionAnulacion.cdp.DataSolicitud.DependenciaSolicitante.InfoJefeDependencia.PrimerNombre + ' '+
                    cdpAprobacionAnulacion.cdp.DataSolicitud.DependenciaSolicitante.InfoJefeDependencia.SegundoNombre + ' '}}</td>
              </tr>
              <tr>
                <th>{{'DEPENDENCIA_DESTINO' | translate}}: </th>
                <td>{{cdpAprobacionAnulacion.cdp.DataSolicitud.DependenciaDestino.Nombre}}</td>
              </tr>
              <tr>
                <th>{{'RESPONSABLE_SELECCION_PRESUPUESTO' | translate}}: </th>
                    <td>{{cdpAprobacionAnulacion.cdp.DataResponsable.PrimerApellido + ' ' +
                          cdpAprobacionAnulacion.cdp.DataResponsable.SegundoApellido + ' ' +
                         cdpAprobacionAnulacion.cdp.DataResponsable.PrimerNombre + ' '+
                        cdpAprobacionAnulacion.cdp.DataResponsable.SegundoNombre + ' '}}</td>
              </tr>
              <tr>
                <th>{{'OBJETO' | translate}}: </th>
                <td>{{cdpAprobacionAnulacion.cdp.DataSolicitud.SolicitudDisponibilidad.Necesidad.Objeto}}</td>
              </tr>
            </table>
            <hr>
            <h4 class="text-info">{{'AFECTACION_PRESUPUESTAL' | translate}}</h4>
            <fuente-financiacion-cdp cdp="cdpAprobacionAnulacion.cdp.Id" apropiacion="apropiaciones" resumen="cdpAprobacionAnulacion.rubros_afectados"></fuente-financiacion-cdp>
          </div>
        </div>
      </div>




      <form class="form-ctrl">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              {{'ANULACION_CDP_TITULO_FORM' | translate}}
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <label>{{'OFICIO' | translate}}</label>
              </div>
              <div class="col-md-9">
                <input class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAprobacionAnulacion.anulacion.Consecutivo" disabled="true"></input>
              </div>
            </div>
            <br>
            <div class="row" ng-show="cdpAprobacionAnulacion.anulacion.Responsable">
              <div class="col-md-3">
                <label>{{'RESPONSABLE' | translate}}</label>
              </div>
              <div class="col-md-9">
                <input class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAprobacionAnulacion.anulacion.Responsable" disabled="true"></input>
              </div>
            </div>
            <br>
            <div class="row" ng-show="cdpAprobacionAnulacion.anulacion.Solicitante">
              <div class="col-md-3">
                <label>{{'SOLICITANTE' | translate}}</label>
              </div>
              <div class="col-md-9">
                <input class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAprobacionAnulacion.anulacion.Solicitante" disabled="true"></input>
              </div>
            </div>
            <br>
            <div class="row" ng-show="cdpAprobacionAnulacion.anulacion.Expidio">
              <div class="col-md-3">
                <label>{{'EXPIDIO' | translate}}</label>
              </div>
              <div class="col-md-9">
                <input class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAprobacionAnulacion.anulacion.Expidio" disabled="true"></input>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <label>{{'MOTIVO_ANULACION_CDP' | translate}}</label>
              </div>
              <div class="col-md-9">
                <textarea class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAprobacionAnulacion.anulacion.Motivo" disabled="true"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 ">
                <label>{{'TIPO_ANULACION' | translate}}</label>
              </div>
              <div class="col-md-9">
                <input class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAprobacionAnulacion.anulacion.TipoAnulacion.Nombre"
                      disabled="true"></input>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <label>{{'ESTADO' | translate}}</label>
              </div>
              <div class="col-md-9">
                <input class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAprobacionAnulacion.anulacion.EstadoAnulacion.Nombre" disabled="true"></input>
              </div>
            </div>
            <br>
            <div class="row">
              <div ng-if="cdpAprobacionAnulacion.anulacion.JustificacionRechazo">
              <div class="col-md-3">
                <label >{{'MOTIVO_RECHAZO' | translate}}:</label>
              </div>
              <div class="col-md-9">
                <textarea class="form-control" id="txtMotivo" name="txtMotivo" ng-model="cdpAprobacionAnulacion.anulacion.JustificacionRechazo" disabled="true"></textarea>
              </div>
            </div>
            </div>
            <br>
            <div ng-hide="cdpAprobacionAnulacion.tipoAnulacion == 'T'" class="row">
              <div class="col-md-3 ">
                <label>{{'AFECTACION_DE_LA_ANULACION' | translate}}</label>
              </div>
              <div class="col-md-9">
                <ul class="list-unstyled"  ng-repeat="item in cdpAprobacionAnulacion.resumen">
                  <hr class="hr-primary">
                    <li><b>{{'RUBRO' | translate}}:</b> {{item.Apropiacion.Rubro.Codigo+" / "+item.Apropiacion.Rubro.Nombre}}
                    <ul>
                      <li ng-show="item.FuenteFinanciamiento[0].Id !== 0" ><b>{{'FUENTES_AFECTADAS' | translate}}:</b>

                        <ul ng-repeat="fuente in item.FuenteFinanciamiento">

                          <li>{{fuente.Codigo + " / "+fuente.Descripcion + " "}}
                            <ul>
                              <li><b>{{'VALOR_AFECTACION' | translate}}:</b> {{" "+fuente.Valor|currency}}</li>
                            </ul>
                          </li>

                        </ul>

                      </li>
                      <li ng-show="item.FuenteFinanciamiento[0].Id === 0" ><b>{{'VALOR_AFECTACION_FUNCIONAMIENTO' | translate}}:</b>

                        <ul>

                          <li><b>{{'VALOR_AFECTACION' | translate}}:</b> {{" "+item.FuenteFinanciamiento[0].Valor|currency}}</li>
                    </li>
                    </ul>



                </ul>
              </div>
            </div>
            <br>

            <!-- Button (Double) -->
            <br>

                <center ng-show="cdpAprobacionAnulacion.anulacion.EstadoAnulacion.Nombre === 'Solicitada'">

                  <button id="btnAnular" name="btnAnular" class="btn btn-success btn-outline" ng-click="cdpAprobacionAnulacion.aprobarAnulacion()">{{'APROBAR' | translate}}</button>
                  <button id="btnAnular" name="btnAnular" class="btn btn-danger btn-outline" ng-click="cdpAprobacionAnulacion.Rechazar()">{{'RECHAZAR' | translate}}</button>


                </center>
                <center ng-show="cdpAprobacionAnulacion.anulacion.EstadoAnulacion.Nombre === 'Expedida'">

                  <button id="btnAnular" name="btnAnular" class="btn btn-success btn-outline" ng-click="cdpAprobacionAnulacion.solicitarAnulacion()">{{'SOLICITAR' | translate}}</button>
                  <button id="btnAnular" name="btnAnular" class="btn btn-danger btn-outline" ng-click="cdpAprobacionAnulacion.Rechazar()">{{'RECHAZAR' | translate}}</button>


                </center>



          </div>
        </div>
      </form>
    </div>
  </div>
</div>
