<div class="panel panel-primary panel-body">
    <h2 class="page-header" align="center">{{'LISTA_PRODUCTOS' | translate}}</h2>
    <div class="panel-body">
        <div ui-grid="productoConsulta.gridOptions" ui-grid-auto-fit-columns ui-grid-pagination class="myGrid"></div>
        <div class="text-center">
            <button class="btn btn-info btn-outline" data-toggle="modal" data-target="#modalRegistroPr" ng-click="productoConsulta.limpiar()">{{'REGISTRAR_PRODUCTO' | translate}}</button>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade col-md-12" role="dialog">
    <div class="modal-content col-md-offset-1 col-md-10">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
        </div>
        <div class="panel panel-default">
             <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="page-header">{{'DETALLE_PRODUCTO' | translate}}</h3>
                    </div>
                        <table class="table text-justify">
                            <tr>
                                <th>
                                    {{'NOMBRE' | translate}}: 
                                </th>
                                <td>
                                    {{productoConsulta.data.Nombre}}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{'DESCRIPCION' | translate}}: 
                                </th>
                                <td>
                                    {{productoConsulta.data.Descripcion}}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{'FECHA_REGISTRO' | translate}}: 
                                </th>
                                <td>
                                    {{productoConsulta.data.FechaRegistro}}
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <h4>{{'RUBROS' | translate}}</h4>
                    
                            <div ui-grid="productoConsulta.gridOptionsProductoRubro" ui-grid-pagination ui-grid-auto-resize class="col-md-10 col-md-offset-1"></div>
                            
                            
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalRegistroPr" class="modal fade col-md-12" role="dialog">
    <div class="modal-content col-md-offset-1 col-md-10">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                        <h3 class="page-header">{{'REGISTRAR_PRODUCTO' | translate}}</h3>
                    </div>
             <div class="panel-body">
                
                    
                    <br>
                    <div class="col-md-2">
                        <label class="control-label" for="txtValor">{{'NOMBRE' | translate}}</label>
                    </div>

                    <div class="col-md-10">
                         <input type="text"  class="form-control col-md-2" required="" ng-model="productoConsulta.prRegistrar.Nombre">
                    </div>
                    <hr>
                    <div class="col-md-2">
                        <label class="control-label" for="txtValor">{{'DESCRIPCION' | translate}}</label>
                    </div>

                    <div class="col-md-10">
                         <textarea class="form-control" id="txtMotivo" name="txtMotivo" ng-model="productoConsulta.prRegistrar.Descripcion"></textarea>
                    </div>
                    <br>
                    <hr> 
                    <br>
                    <h4 class="text-center text-default">{{'RUBROS' | translate}}</h4>
                    <div class="col-md-5">
                        
                        <rubros-consulta botones="productoConsulta.botones" recargar="productoConsulta.recarga_arbol" ramasel="false" rubrosel="productoConsulta.rubroSel" filtro="'3-3-'"></rubros-consulta> 
                    </div> 
                    <br>
                    <br>
                        <div class="col-md-5 col-md-offset-1">
                            <div ng-repeat="rbRel in productoConsulta.prRegistrar.rubrosRelacionados">
                                <b>{{rbRel.Codigo }} </b> / {{rbRel.Nombre}}
                                <br>
                                <br>
                                <div class="col-md-6">
                                    <label class="control-label" for="txtValor">{{'VALOR_DISTRIBUCION' | translate}} (%)</label>
                                </div>

                                <div class="col-md-2">
                                     <input class="form-control" id="txtMotivo" name="txtMotivo" ng-model="rbRel.ValorDistribucion"></input>
                                </div>
                                <br>
                                <br>
                                <button class="btn btn-outline btn-danger">{{'QUITAR' | translate}}</button>
                                <hr>
                            </div>
                            
                        </div>
                        <br>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-outline btn-success">{{'REGISTRAR' | translate}}</button>
                        </div>

                    <!--pre class="col-md-10">{{productoConsulta.prRegistrar | json}}</pre-->
                
            </div>
        </div>
    </div>
</div>