<div class="panel-body row" ng-if="a === 'rubros_conceptos'">
	<div class="panel-body">
		<div ng-if="!refresh"  ui-grid="d_rubrosPorRpSeleccionMultiple.gridOptions_rubros" ui-grid-pinning ui-grid-selection ui-grid-auto-resize ui-grid-expandable>
			<div class="watermark_no_filter" ng-show="!d_rubrosPorRpSeleccionMultiple.hayData_rubros">{{'NO_DATA'| translate}}</div>
			<div class="watermark_no_filter" ng-show="d_rubrosPorRpSeleccionMultiple.cargando_rubros">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>

		</div>
	</div>
</div>

<script type="text/ng-template"  id="expandableRowUpc.html">

	<div ui-grid="row.entity.subGridOptions" class="grid" ui-grid-selection ui-grid-auto-resize style="height:200px;">

		<div class="watermark_no_filter" ng-show="!hayData_conceptos">{{'NO_DATA'| translate}}</div>
		<div class="watermark_no_filter" ng-show="cargando_conceptos">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>

	</div>
</script>
