<div class="panel panel-primary">
    <div class="panel-heading" ng-click="a=!a">
        <h4>Rubros<span style="float:right;" class="glyphicon glyphicon-collapse-down"></span></h4>
    </div>
    <div class="panel-body row" ng-show="a">
      <div class=" col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Seleccione Rubros
            </div>
            <div class="panel-body">
              <div style="height: {{gridHeight}}px;" ui-grid="d_rubrosPorRpSeleccionMultiple.gridOptions_rubros" ui-grid-selection ui-grid-auto-resize></div>
            </div>
        </div>
        <div ng-show="apropiacion_ids">
          <fuentes-por-apropiaciones-listar apropiacionids="apropiacion_ids">
          </fuentes-por-apropiaciones-listar>
        </div>

      </div>
    </div>
</div>
