<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{ 'TIPO_ACTIVIDAD' | translate }}</h2>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'LISTADO_ACTIVIDADES' | translate }}
            </div>
            <div class="panel-body">
                <div class="mi-grid" id="gridParam" ui-grid="gestionSubtipoAvanceLeg.parameters" ui-grid-pagination>
                  <div class="watermark" ng-show="!gestionSubtipoAvanceLeg.hayData">{{'NO_DATA'| translate}}</div>
                  <div class="watermark" ng-show="gestionSubtipoAvanceLeg.cargando">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>
                </div>
            </div>
            <div class="panel-footer">
                <div align="center"> <button ng-click="loadrow('', 'agregar')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="gestionSubtipoAvanceLeg.operacion == 'agregar' ">
                {{'NUEVO' | translate }}
            </div>
            <div class="panel-heading" ng-if="gestionSubtipoAvanceLeg.operacion == 'editar' ">
                {{'EDITAR' | translate }}
            </div>


            <form class="form-horizontal" name="avances_add_edit">
                <br>
                <div class="row">
                    <label for="CodigoAbreviacion" class="col-sm-2 control-label">{{'CODIGO_ABREVIACION' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="gestionSubtipoAvanceLeg.parameter.CodigoAbreviacion" class="form-control" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'NOMBRE' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="gestionSubtipoAvanceLeg.parameter.Nombre" class="form-control" maxlength="50" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'DESCRIPCION' | translate }}:</label>
                    <div class="col-sm-9">
                        <textarea name="descripcion" ng-model="gestionSubtipoAvanceLeg.parameter.Descripcion" rows=7 class="form-control" maxlength="250" required="true"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'ENTRADA_ALMACEN' | translate }}:</label>
                    <div class="col-sm-9">
                      <md-checkbox ng-model="gestionSubtipoAvanceLeg.parameter.AplicaEntradaAlmacen" class="blue">
                      </md-checkbox>
                    </div>
                </div>
                <br>
                <div class="row" ng-if="gestionSubtipoAvanceLeg.operacion =='editar'">
                    <label for="descripcion" class="col-sm-2 control-label">{{'ACTIVO' | translate }}:</label>
                    <div class="col-sm-9">
                        <md-checkbox ng-model="gestionSubtipoAvanceLeg.parameter.Activo" class="blue">
                        </md-checkbox>
                    </div>
                </div>
                <br>
                <center>
                    <input ng-click="gestionSubtipoAvanceLeg.reset()" class="btn btn-info btn-outline" value="{{'BTN.LIMPIAR' | translate }}" />
                    <button ng-click="gestionSubtipoAvanceLeg.modalEdit()" class="btn btn-success btn-outline" >{{'BTN.GUARDAR' | translate }}</button>
                </center>
            </form>
            <br>
        </div>
    </div>
</div>
