<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{ 'LEGALIZACION_AVANCE' | translate }}</h2>
    <div class="panel-body">
        <ver-solicitud sol="solicitud" tipos="1" crpselecc="legalizacion.CRPSelecc"></ver-solicitud>
        <fieldset class="form-group">
            <legend class="text-primary" ng-click="d=!d">{{'LEGALIZACION_EVENTO_COMPRA'| translate}} <span class="fa fa-plus pull-right" ng-show="!d"></span>
                <span class="fa fa-minus pull-right" ng-show="d"></span></legend>
            <div class="panel panel-default" ng-show="d">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'LEGALIZACION_EVENTO_COMPRA' | translate }}
                    </div>
                    <div class="panel-body">
                        <div class="mi-grid" id="mi-grid" ui-grid="legalizacion.gridOptionsCompras" ui-grid-pagination></div>
                    </div>
                    <div class="panel-footer">
                        <div align="center"> <button ng-click="loadrowcompras('', 'add')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="text-primary" ng-click="e=!e">{{'LEGALIZACION_PRACTICA_ACADEMICA'| translate}}
              <span class="fa fa-plus pull-right" ng-show="!e"></span>
              <span class="fa fa-minus pull-right" ng-show="e"></span></legend>
            <div class="panel panel-default" ng-show="e">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'LEGALIZACION_PRACTICA_ACADEMICA' | translate }}
                    </div>
                    <div class="panel-body">
                        <div class="mi-grid" id="mi-grid" ui-grid="legalizacion.gridOptionsPracticas" ui-grid-pagination></div>
                    </div>
                    <div class="panel-footer">
                        <div align="center"> <button ng-click="loadrowpracticas('', 'add')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="text-primary" ng-click="g=!g">
              {{'INFORMACION_REINTEGRO' | translate}}
              <span class="fa fa-plus pull-right" ng-show="!g"></span>
              <span class="fa fa-minus pull-right" ng-show="g"></span>
            </legend class="text-primary">
            <div class="panel panel-default"  ng-show="g">
                <div class="panel-heading">
                    {{ 'INFORMACION_REINTEGRO' | translate }}
                </div>
                <div class="panel-body">
                    <div class="mi-grid" id="mi-grid" ui-grid="legalizacion.gridReintegros" ui-grid-selection ui-grid-pagination></div>
                </div>
                <div class="panel-footer">
                    <div align="center"> <button ng-click="legalizacion.agregarReintegro()" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div id="modal_add_reintegro" class="modal fade col-md-12" role="dialog" style="padding-top:10%">
  <div class="modal-content col-md-offset-2 col-md-8">
      <div class="modal-header panel-heading">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
      </div>
      <tesoreria-reintegros solicitudavance="solicitud" g="g" resgitrareintegro="legalizacion.registraReintegro"></tesoreria-reintegros>
</div>
</div>
</div>
