<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{ 'LEGALIZACION_AVANCE' | translate }}</h2>
    <div class="panel-body">
        <ver-solicitud sol="solicitud" tipos="1" crpselecc="legalizacion.CRPSelecc"></ver-solicitud>

        <fieldset class="form-group">
          <legend class="text-primary" ng-click="c=!c">{{"OP_TITULO" | translate}} <span class="fa fa-plus pull-right" ng-show="!c"></span> <span class="fa fa-minus pull-right" ng-show="c"></span></legend>
          <div class="panel-body" ng-show="c">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'ORDEN_PAGO_SELECCIOANR' | translate }}</h3>
                </div>

                <div style="width=100%" ui-grid="legalizacion.gridOrdenesDePago" ui-grid-selection ui-grid-auto-resize ui-grid-pagination >
                  <div class="watermark" ng-show="!legalizacion.hayData">{{'NO_DATA'| translate}}</div>
                  <div class="watermark" ng-show="legalizacion.cargando">{{'CARGANDO'| translate}}<i class="fa fa-spin fa-spinner"></i></div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                      <div class="panel-default panel-body">
                        <div class="panel panel-heading">
                          <h4 class="text-left panel-title"><span>{{'AFECTACION_PRESUPUESTAL' | translate}}
                          </span>
                        </h4>
                        </div>
                        <ul class="list-unstyled">
                          <li style= "display: inline-block" ng-repeat = "rubro in legalizacion.rubrosAfectados track by rubro.Id"><span><b>{{'RUBRO' | translate}}:</b> {{rubro.Codigo+" / "+rubro.Nombre}}
                            <button ng-click="legalizacion.removeRubro(rubro)" type="button" class="btn btn-outline btn-xs pull-left">&times</button></span>
                            <ul>
                              <li>
                                <div class="col-md-4" style="width:148px">
                                  <label for="valAfectacion">{{'VALOR_AFECTACION' | translate}}:</label>
                                </div>
                                <div class="col-md-4" style="width:200px">
                                  <span class="form-control" style="height:25px">{{rubro.valor|currency}}</span>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
            <legend class="text-primary" ng-click="d=!d">{{'LEGALIZACION_EVENTO_COMPRA'| translate}} <span class="fa fa-plus pull-right" ng-show="!d"></span>
                <span class="fa fa-minus pull-right" ng-show="d"></span></legend>
            <div class="panel panel-default" ng-show="d">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'LEGALIZACION_EVENTO_COMPRA' | translate }}
                    </div>
                    <div class="panel-body">
                        <div class="mi-grid" id="mi-grid" ui-grid="legalizacion.gridOptionsCompras" ui-grid-selection ui-grid-pagination></div>
                    </div>
                    <div class="panel-footer">
                        <div align="center"> <button ng-click="loadrowcompras('', 'add')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="text-primary" ng-click="e=!e">{{'LEGALIZACION_PRACTICA_ACADEMICA'| translate}}
              <span class="fa fa-plus pull-right" ng-show="!e"></span>
              <span class="fa fa-minus pull-right" ng-show="e"></span></legend>
            <div class="panel panel-default" ng-show="e">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'LEGALIZACION_PRACTICA_ACADEMICA' | translate }}
                    </div>
                    <div class="panel-body">
                        <div class="mi-grid" id="mi-grid" ui-grid="legalizacion.gridOptionsPracticas" ui-grid-selection ui-grid-pagination></div>
                    </div>
                    <div class="panel-footer">
                        <div align="center"> <button ng-click="loadrowpracticas('', 'add')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="text-primary" ng-click="g=!g">
              {{'INFORMACION_REINTEGRO' | translate}}
              <span class="fa fa-plus pull-right" ng-show="!g"></span>
              <span class="fa fa-minus pull-right" ng-show="g"></span>
            </legend class="text-primary">
            <div class="panel panel-default"  ng-show="g">
                <div class="panel-heading">
                    {{ 'INFORMACION_REINTEGRO' | translate }}
                </div>
                <div class="panel-body">
                    <div class="mi-grid" id="mi-grid" ui-grid="legalizacion.gridReintegros" ui-grid-selection ui-grid-pagination></div>
                </div>
                <div class="panel-footer">
                    <div align="center"> <button ng-click="legalizacion.agregarReintegro()" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                </div>
            </div>
        </fieldset>
      <fieldset class="form-group">
          <legend class="text-primary" ng-click="h=!h">
            {{'AFECTACION_CONTABLE' | translate}}
            <span class="fa fa-plus pull-right" ng-show="!h"></span>
            <span class="fa fa-minus pull-right" ng-show="h"></span>
          </legend class="text-primary">
          <div class="panel-body row" ng-if="h">
            <fieldset class="form-group">
              <div class="col-md-6">
                <div class="form-group">
                  <arbol-conceptos filtro="legalizacion.filtro_ingresos" seleccion="legalizacion.concepto[0]" conceptosel="nodo"> </arbol-conceptos>
                </div>
              </div>
            </fieldset>
            <div class=" col-sm-12">
              <div class="panel-body">
                <ul class="nav nav-tabs">
                  <li ng-class="{active: selected == c.Id}" ng-repeat="c in legalizacion.concepto"><a href ng-click="legalizacion.selected=c.Id" data-toggle="tab">
                                      Concepto: [ {{c.Codigo}} ]  {{c.Nombre}}</a>
                                    </li>
                                  </ul>
                                  <!-- Tab panes -->
                                  <div class="tab-content">
                                    <div class="tab-pane fade in active" ng-repeat="c in legalizacion.concepto" ng-show="legalizacion.selected==c.Id">
                                      <movimientos-contables conceptoid="c.Id" movimientos="legalizacion.movs" monto="legalizacion.valor" editable validatemov="c.validado" selcuentas>
                                      </movimientos-contables>
                                    </div>
                                  </div>
                  </div>
            </div>
          </div>

      </fieldset>
    </div>
</div>

<div id="modal_legalizacion_compras" class="modal fade col-md-12" role="dialog" style="padding-top:2%">
    <style>
        .md-datepicker-calendar-pane {
            z-index: 1200
        }
    </style>
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header panel-heading">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="legalizacion.operacion === 'add' ">
                {{'LEGALIZACION_EVENTO_COMPRA' | translate }}
            </div>
            <div class="panel-heading" ng-if="legalizacion.operacion === 'edit' ">
                {{'LEGALIZACION_EVENTO_COMPRA' | translate }}
            </div>

            <form class="form-horizontal" name="compras" ng-submit="compras.$valid && legalizacion.add_edit_compras()">
                <br>
                <div class="row">
                    <label for="CodigoAbreviacion" class="col-sm-3 control-label">{{'DOCUMENTO_NIT' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionCompras.Tercero" class="form-control" ng-required="true" />
                    </div>
                    <div class="col-sm-1">
                        <center>
                            <a type="button" name="button" ng-click="legalizacion.cargar_proveedor()" class="fa fa-search btn btn-info btn-outline" aria-hidden="true"></a>
                        </center>
                    </div>
                    <div class="col-sm-2">
                        <loading load="estudiante_cargado" tam=1 clase="clase_load"></loading>
                        <div class="alert alert-warning" ng-if="encontrado">
                            <strong>{{'NO_ENCONTRADO_RESULTADOS' | translate }} {{'DOCUMENTO_NIT' | translate }} {{legalizacion.LegalizacionCompras.Codigo}}</strong>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-3 control-label">{{'NOMBRE' | translate }}:</label>
                    <div class="col-sm-8">
                        <span class="form-control">{{legalizacion.LegalizacionCompras.InformacionProveedor.NomProveedor}}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="tipo_ingreso" class="col-sm-3 control-label">{{'FECHA_COMPRA_EVENTO' | translate}}:</label>
                    <md-datepicker ng-model="legalizacion.LegalizacionCompras.FechaCompra" md-placeholder="{{'FECHA' | translate}}"></md-datepicker>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'NO_FACTURA' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionCompras.NumeroFactura" class="form-control input_right" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'VALOR_FACTURA_COMPRA' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" ng-change="legalizacion.calcular_valor_impuesto()" type="text" ng-model="legalizacion.LegalizacionCompras.Valor" ui-money-mask="0" class="form-control input_right" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'TRM_COMPRA' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionCompras.TrmFechaCompra" ui-percentage-mask class="form-control input_right" />
                    </div>
                    <div class="col-sm-3">
                        <label for="descripcion"><small>{{'TRM_COMPRA_DESCRIPCION' | translate }}</small></label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'TIPO_IVA' | translate }}:</label>
                    <div class="col-sm-3">
                        <select class="form-control" ng-change="legalizacion.calcular_valor_impuesto()" ng-model="legalizacion.Impuesto.IVA" ng-options="o as o.Descripcion for o in legalizacion.iva"></select>
                    </div>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.IVA.Valor" ui-money-mask="0" class="form-control input_right" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'SUBTOTAL' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.subtotal" ui-money-mask="0" class="form-control input_right" disabled/>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'RETE_IVA' | translate }}:</label>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.rete_iva.Porcentaje" ui-percentage-mask class="form-control input_right" />
                    </div>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.rete_iva.Valor" ui-money-mask="0" class="form-control input_right" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'TIPO_ICA' | translate }}:</label>
                    <div class="col-sm-3">
                        <select class="form-control" ng-change="legalizacion.calcular_valor_impuesto()" ng-model="legalizacion.Impuesto.ICA" ng-options="o as o.Descripcion for o in legalizacion.ica"></select>
                    </div>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.ICA.Valor" ui-money-mask="0" class="form-control input_right">
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'TIPO_RENTA' | translate }}:</label>
                    <div class="col-sm-3">
                        <select class="form-control" ng-change="legalizacion.calcular_valor_impuesto()" ng-model="legalizacion.Impuesto.RENTA" ng-options="o as o.Descripcion for o in legalizacion.renta"></select>
                    </div>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.RENTA.Valor" ui-money-mask="0" class="form-control input_right" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'ESTAMPILLA_UD' | translate }}:</label>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.estampilla_ud.Porcentaje" ui-percentage-mask class="form-control input_right" />
                    </div>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.estampilla_ud.Valor" ui-money-mask="0" class="form-control input_right" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'ESTAMPILLA_PROCULTURA' | translate }}:</label>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.estampilla_procultura.Porcentaje" ui-percentage-mask class="form-control input_right" />
                    </div>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.estampilla_procultura.Valor" ui-money-mask="0" class="form-control input_right" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'ESTAMPILLA_PRO_ADULTO_MAYOR' | translate }}:</label>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.estampilla_proadulto_mayor.Porcentaje" ui-percentage-mask class="form-control input_right" />
                    </div>
                    <div class="col-sm-3">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Impuesto.estampilla_proadulto_mayor.Valor" ui-money-mask="0" class="form-control input_right" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="descripcion" class="col-sm-3 control-label">{{'TOTAL' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" type="text" disabled ng-model="legalizacion.Total" class="form-control input_right" ui-money-mask="0" disabled/>
                    </div>
                </div>
                <br>
                <pre>
{{}}
                </pre>
                <center>
                    <input type="reset" ng-click="legalizacion.limpiar_compra()" class="btn btn-info btn-outline" value="{{'BTN.LIMPIAR' | translate }}" ng-if="legalizacion.operacion ==='add'" />
                    <input type="submit" class="btn btn-success btn-outline" value="{{'BTN.GUARDAR' | translate }}" />
                </center>
            </form>
            <br>
        </div>
    </div>
</div>

<div id="modal_add_reintegro" class="modal fade col-md-12" role="dialog" style="padding-top:10%">
  <div class="modal-content col-md-offset-2 col-md-8">
      <div class="modal-header panel-heading">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
      </div>
      <tesoreria-reintegros avance="solicitud"></tesoreria-reintegros>
</div>
</div>

<div id="modal_practicas_academicas" class="modal fade col-md-12" role="dialog" style="padding-top:10%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header panel-heading">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="legalizacion.operacion === 'add' ">
                {{'AGREGAR_REGISTRO_ESTUDIANTE' | translate }}
            </div>
            <div class="panel-heading" ng-if="legalizacion.operacion === 'edit' ">
                {{'EDITAR_REGISTRO_ESTUDIANTE' | translate }}
            </div>
            <form class="form-horizontal" name="practicas" ng-submit="practicas.$valid && legalizacion.add_edit_practicas()">
                <br>
                <div class="row">
                    <label for="CodigoAbreviacion" class="col-sm-2 control-label">{{'CODIGO_ESTUDIANTE' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" type="text" ng-change="legalizacion.cargar_estudiante()" ng-model="legalizacion.LegalizacionPracticaAcademica.Tercero" class="form-control" ng-required="true" />
                    </div>
                    <div class="col-sm-3">
                        <loading load="estudiante_cargado" tam=1 clase="clase_load"></loading>
                        <div class="alert alert-warning" ng-if="encontrado">
                            <strong>{{'NO_ENCONTRADO_RESULTADOS' | translate }}  {{'CODIGO_ESTUDIANTE' | translate }} {{legalizacion.LegalizacionPracticaAcademica.Codigo}}</strong>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'NOMBRE' | translate }}:</label>
                    <div class="col-sm-9">
                        <span class="form-control">{{legalizacion.LegalizacionPracticaAcademica.Estudiante.nombre}}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'DOCUMENTO' | translate }}:</label>
                    <div class="col-sm-9">
                        <span class="form-control">{{legalizacion.LegalizacionPracticaAcademica.Estudiante.numero_documento}}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'VALOR' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionPracticaAcademica.Valor" ui-money-mask="0" class="form-control input_right" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'NO_DIAS' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionPracticaAcademica.Dias" class="form-control" ng-required="true" />
                    </div>
                </div>
                <br>
                <center>
                    <input type="reset" ng-click="legalizacion.limpiar_practica()" class="btn btn-info btn-outline" value="{{'BTN.LIMPIAR' | translate }}" ng-if="legalizacion.operacion ==='add'" />
                    <input type="submit" class="btn btn-success btn-outline" value="{{'BTN.GUARDAR' | translate }}" />
                </center>
            </form>
            <br>
        </div>
    </div>
</div>
