<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{ 'LEGALIZACION_AVANCE' | translate }}</h2>
    <div class="panel-body">
        <ver-solicitud sol="solicitud" tipos="1"></ver-solicitud>
        <fieldset class="form-group">
            <legend class="text-primary" ng-click="d=!d">{{'LEGALIZACION_EVENTO_COMPRA'| translate}} <span class="fa fa-plus pull-right" ng-show="!d"></span>
                <span class="fa fa-minus pull-right" ng-show="d"></span></legend>
            <div class="panel panel-default" ng-show="!d">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'LEGALIZACION_EVENTO_COMPRA' | translate }}
                    </div>
                    <div class="panel-body">
                        <div class="mi-grid" id="mi-grid" ui-grid="legalizacion.gridOptionsCompras" ui-grid-selection ui-grid-pagination></div>
                    </div>
                    <div class="panel-footer">
                        <div align="center"> <button ng-click="loadrowcompras('', 'add')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="text-primary" ng-click="e=!e">{{'LEGALIZACION_PRACTICA_ACADEMICA'| translate}} <span class="fa fa-plus pull-right" ng-show="!e"></span>
                <span class="fa fa-minus pull-right" ng-show="e"></span></legend>
            <div class="panel panel-default" ng-show="!e">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'LEGALIZACION_PRACTICA_ACADEMICA' | translate }}
                    </div>
                    <div class="panel-body">
                        <div class="mi-grid" id="mi-grid" ui-grid="legalizacion.gridOptionsPracticas" ui-grid-selection ui-grid-pagination></div>
                    </div>
                    <div class="panel-footer">
                        <div align="center"> <button ng-click="loadrowpracticas('', 'add')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div id="modal_legalizacion_compras" class="modal fade col-md-12" role="dialog" style="padding-top:10%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header panel-heading">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="legalizacion.operacion === 'add' ">
                {{'NUEVO_REQUISITO_AVANCE' | translate }}
            </div>
            <div class="panel-heading" ng-if="legalizacion.operacion === 'edit' ">
                {{'EDITAR_REQUISITO_AVANCE' | translate }}
            </div>
            <form class="form-horizontal" name="avances_add_edit" ng-submit="avances_add_edit.$valid && legalizacion.add_edit_practicas()">
                <br>
                <div class="row">
                    <label for="CodigoAbreviacion" class="col-sm-2 control-label">{{'CODIGO_ESTUDIANTE' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" type="text" ng-change="legalizacion.cargar_estudiante()" ng-model="legalizacion.LegalizacionPracticaAcademica.Codigo" class="form-control" ng-required="true" />
                    </div>
                    <div class="col-sm-3">
                        <loading load="estudiante_cargado" tam=1 clase="clase_load"></loading>
                        <div class="alert alert-warning" ng-if="encontrado">
                            <strong>No se han encontrado resultados para el código {{legalizacion.LegalizacionPracticaAcademica.Codigo}}</strong>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'NOMBRE' | translate }}:</label>
                    <div class="col-sm-9">
                        <span class="form-control">{{legalizacion.LegalizacionPracticaAcademica.Estudiante.nombre}}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'DOCUMENTO' | translate }}:</label>
                    <div class="col-sm-9">
                        <span class="form-control">{{legalizacion.LegalizacionPracticaAcademica.Estudiante.numero_documento}}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'VALOR' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionPracticaAcademica.Valor" ui-money-mask="0" class="form-control" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'NO_DIAS' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionPracticaAcademica.Dias" class="form-control" ng-required="true" />
                    </div>
                </div>
                <br>
                <center>
                    <input type="reset" ng-click="legalizacion.limpiar_practica()" class="btn btn-info btn-outline" value="{{'BTN.LIMPIAR' | translate }}" ng-if="legalizacion.operacion ==='add'" />
                    <input type="submit" class="btn btn-success btn-outline" value="{{'BTN.GUARDAR' | translate }}" />
                </center>
            </form>
            <br>
        </div>
    </div>
</div>

<div id="modal_practicas_academicas" class="modal fade col-md-12" role="dialog" style="padding-top:10%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header panel-heading">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="legalizacion.operacion === 'add' ">
                {{'AGREGAR_REGISTRO_ESTUDIANTE' | translate }}
            </div>
            <div class="panel-heading" ng-if="legalizacion.operacion === 'edit' ">
                {{'EDITAR_REGISTRO_ESTUDIANTE' | translate }}
            </div>
            <form class="form-horizontal" name="avances_add_edit" ng-submit="avances_add_edit.$valid && legalizacion.add_edit_compras()">
                <br>
                <div class="row">
                    <label for="CodigoAbreviacion" class="col-sm-2 control-label">{{'CODIGO_ESTUDIANTE' | translate }}:</label>
                    <div class="col-sm-6">
                        <input name="CodigoAbreviacion" type="text" ng-change="legalizacion.cargar_estudiante()" ng-model="legalizacion.LegalizacionPracticaAcademica.Codigo" class="form-control" ng-required="true" />
                    </div>
                    <div class="col-sm-3">
                        <loading load="estudiante_cargado" tam=1 clase="clase_load"></loading>
                        <div class="alert alert-warning" ng-if="encontrado">
                            <strong>No se han encontrado resultados para el código {{legalizacion.LegalizacionPracticaAcademica.Codigo}}</strong>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'NOMBRE' | translate }}:</label>
                    <div class="col-sm-9">
                        <span class="form-control">{{legalizacion.LegalizacionPracticaAcademica.Estudiante.nombre}}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'DOCUMENTO' | translate }}:</label>
                    <div class="col-sm-9">
                        <span class="form-control">{{legalizacion.LegalizacionPracticaAcademica.Estudiante.numero_documento}}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'VALOR' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionPracticaAcademica.Valor" ui-money-mask="0" class="form-control" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'NO_DIAS' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="legalizacion.LegalizacionPracticaAcademica.Dias" class="form-control" ng-required="true" />
                    </div>
                </div>
                <br>
                <center>
                    <input type="reset" ng-click="legalizacion.limpiar_practica()" class="btn btn-info btn-outline" value="{{'BTN.LIMPIAR' | translate }}" ng-if="legalizacion.operacion ==='add'" />
                    <input type="submit" class="btn btn-success btn-outline" value="{{'BTN.GUARDAR' | translate }}" />
                </center>
            </form>
            <br>
        </div>
    </div>
</div>