<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">
    {{ 'SOLICITUD_AVANCE' | translate }}
  </h2>

  <fieldset class="form-group">
    <legend class="text-primary" ng-click="info_terceros=!info_terceros">{{"INFORMACION_TERCERO" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_terceros"></span> <span class="fa fa-minus pull-right" ng-show="info_terceros"></span></legend>

    <div class="panel-body" ng-show="info_terceros">
      <div class="row">
        <div class="col-sm-3 col-sm-offset-4">
          <input type="text" class="form-control" ng-model="solicitudAvance.documento" placeholder="{{'DOCUMENTO' | translate}}">
        </div>
        <div>
          <button type="button" class="btn btn-primary" ng-click="solicitudAvance.get_terceros()"><i class="fa fa-search faa-shake animated-hover"></i></button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <label for="jefe_solicitante" class="control-label">{{"TIPO_DOCUMENTO" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.tipo_documento.tipo_documento}}</span>
        </div>

        <div class="col-md-6">
          <label for="dep_destino" class="control-label">{{"LUGAR_DOCUMENTO" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.municipio_expedicion_documento.municipio}}-
        {{solicitudAvance.terceros.municipio_expedicion_documento.departamento}}</span>
        </div>

        <div class="col-md-6">
          <label for="jefe_solicitante" class="control-label">{{"NOMBRE" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.nombres}}</span>
        </div>

        <div class="col-md-6">
          <label for="ordenador_gasto" class="control-label">{{"APELLIDOS" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.apellidos}}</span>
        </div>

        <div class="col-md-6">
          <label for="rol_ordenador_gasto" class="control-label">{{"DIRECCION" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.direccion}}</span>
        </div>

        <div class="col-md-6">
          <label for="rol_ordenador_gasto" class="control-label">{{"CORREO_ELECTRONICO" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.correo}}</span>
        </div>

        <div class="col-md-6">
          <label for="rol_ordenador_gasto" class="control-label">{{"NUMERO_TELEFONICO" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.telefono}}</span>
        </div>

        <div class="col-md-6">
          <label for="rol_ordenador_gasto" class="control-label">{{"NUMERO_CELULAR" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.celular}}</span>
        </div>
      </div>

    </div>
  </fieldset>


  <fieldset class="form-group">
    <legend class="text-primary" ng-click="info_desc_avances=!info_desc_avances">{{"DESCRIPCION_AVANCES" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_desc_avances"></span> <span class="fa fa-minus pull-right" ng-show="info_desc_avances"></span></legend>

    <div class="panel-body" ng-show="info_desc_avances">

      <div class="row">
        <div class="col-md-6">
          <label for="dep_destino" class="control-label">{{"OBJETIVO" | translate}}</label>
          <textarea class="form-control" ng-model="solicitudAvance.objetivo" rows="4"></textarea>

          <label for="dep_destino" class="control-label">{{"JUSTIFICACION" | translate}}</label>
          <textarea class="form-control" ng-model="solicitudAvance.justificacion" rows="4"></textarea>

          <label for="jefe_solicitante" class="control-label">{{"VALOR_AVANCE" | translate}}</label>
          <input class="form-control input_right" ng-model="solicitudAvance.valor_avance" ui-money-mask="0"></input>
        </div>

        <div class="col-md-6">
          <label for="ordenador_gasto" class="control-label">{{"DEPENDENCIA" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.dependencia.dependencia}}</span>

          <label for="rol_ordenador_gasto" class="control-label">{{"FACULTAD" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.proyecto_curricular.facultad.Facultad}}</span>

          <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_CURRICULAR" | translate}}</label>
          <span class="form-control">{{solicitudAvance.terceros.proyecto_curricular.CodigoProyectoCurricular.ProyectoCurricular}}</span>
          <label for="rol_ordenador_gasto" class="control-label">{{"CONVENIO" | translate}}</label>
          <div class="row">
            <div class="col-md-4">
              <input class="form-control" placeholder="{{'CODIGO_CONVENIO' | translate}}">
                {{solicitudAvance.terceros.proyecto_curricular.CodigoProyectoCurricular.ProyectoCurricular}}
              </input>
            </div>
            <div class="col-md-8">
              <input class="form-control" placeholder="{{'NOMBRE_CONVENIO' | translate}}">
                {{solicitudAvance.terceros.proyecto_curricular.CodigoProyectoCurricular.ProyectoCurricular}}
              </input>
            </div>
          </div>

          <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_INVESTIGACION" | translate}}</label>
          <div class="row">
            <div class="col-md-4">
              <input class="form-control" placeholder="{{'CODIGO_PROYECTO' | translate}}">
                {{solicitudAvance.terceros.proyecto_curricular.CodigoProyectoCurricular.ProyectoCurricular}}
              </input>
            </div>
            <div class="col-md-8">
              <input class="form-control" placeholder="{{'NOMBRE_PROYECTO' | translate}}">
                {{solicitudAvance.terceros.proyecto_curricular.CodigoProyectoCurricular.ProyectoCurricular}}
              </input>
            </div>
          </div>
        </div>
      </div>


    </div>


</fieldset>

<fieldset class="form-group">
  <legend class="text-primary" ng-click="info_detalle_avances=!info_detalle_avances">{{"DESCRIPCION_AVANCES" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_detalle_avances"></span> <span class="fa fa-minus pull-right" ng-show="info_detalle_avances"></span></legend>

  <div class="panel-body" ng-show="info_detalle_avances">

    <div class="row">
      <div class="col-md-6">
        <label for="dep_destino" class="control-label">{{"OBJETIVO" | translate}}</label>
        <textarea class="form-control" ng-model="solicitudAvance.objetivo" rows="3"></textarea>

        <label for="dep_destino" class="control-label">{{"JUSTIFICACION" | translate}}</label>
        <textarea class="form-control" ng-model="solicitudAvance.justificacion" rows="3"></textarea>

        <label for="jefe_solicitante" class="control-label">{{"VALOR_AVANCE" | translate}}</label>
        <input class="form-control input_right" ng-model="solicitudAvance.valor_avance" ui-money-mask="0"></input>
      </div>

      <div class="col-md-6">
        <label for="ordenador_gasto" class="control-label">{{"DEPENDENCIA" | translate}}</label>
        <span class="form-control">{{solicitudAvance.terceros.dependencia.dependencia}}</span>

        <label for="rol_ordenador_gasto" class="control-label">{{"FACULTAD" | translate}}</label>
        <span class="form-control">{{solicitudAvance.terceros.proyecto_curricular.facultad.Facultad}}</span>

        <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_CURRICULAR" | translate}}</label>
        <span class="form-control">{{solicitudAvance.terceros.proyecto_curricular.CodigoProyectoCurricular.ProyectoCurricular}}</span>
      </div>
    </div>


  </div>

  </div>
</fieldset>
</div>

</div>
