<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'INFORMACION_CHEQUE' | translate }}</h2>
  <div class="panel-body">
      <div ui-grid="tesoreriaGestionCheque.gridCheque" ui-grid-pagination ui-grid-selection></div>
  </div>
  <div>
      <proceso edges="aristas" nodes="estados" node="estado" nodeclick="estadoclick" eventclick="funcion(estado)"></proceso>
  </div>
  <div class="panel-footer" align="center">
    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#creacionCheque" ng-click="tesoreriaGestionCheque.ajustarGrid()">{{'NUEVO'|translate}}</button>
  </div>
</div>

<div id="creacionCheque" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3 class="page-header"><span>{{'CREACION_CHEQUE' | translate}}</span></h3>
          </div>
          <div class="panel-body">
            <div class= "row equal">
                <div class="col-md-6">
                    <div class="panel panel-default display-flex">
                      <div class="panel-heading">
                        <h4 class="text-left panel-title"><span>{{'INFORMACION_CHEQUE' | translate}}</span></h4>
                      </div>
                      <div class="panel-body">
                        <form name="cheque">
                          <div class=col-md-6>
                            <div class="form_group">
                              <label for="observaciones">{{'FECHA_CREACION' | translate}}</label>
                              <input type="text" class="form-control input_left" ng-model="tesoreriaGestionCheque.cheque.fechaCreacion" ui-date-mask="DD-MM-YYYY" required disabled/>
                            </div>
                          </div>
                          <div class=col-md-6>
                            <div class="form_group">
                              <label for="observaciones">{{'DIAS_VENCIMIENTO' | translate}}</label>
                              <input type="text" class="form-control input_left" ng-model="tesoreriaGestionCheque.cheque.diasVencimiento" placeholder="{{'DIAS_VENCIMIENTO'|translate}}" ui-number-mask="0" required/>
                            </div>
                          </div>
                          <div class=col-md-6>
                            <div class="form_group">
                              <label for="observaciones">{{'FECHA_VENCIMIENTO' | translate}}</label>
                              <input type="text" class="form-control input_left" ng-model="tesoreriaGestionCheque.cheque.FechaVencimiento"  ui-date-mask="DD-MM-YYYY" required disabled/>
                            </div>
                          </div>
                          <div class=col-md-6>
                            <div class="form_group">
                              <label for="observaciones">{{'VALOR' | translate}}</label>
                              <input type="text" class="form-control input_left" ng-model="tesoreriaGestionCheque.cheque.Valor" placeholder="{{'VALOR' | translate}}" ui-money-mask="0" required/>
                            </div>
                          </div>
                          <div class=col-md-12>
                            <div class="form_group">
                              <label for="observaciones">{{'OBSERVACIONES' | translate}}</label>
                              <textarea name="observaciones" class="form-control" rows="4" cols="40" ng-model="tesoreriaGestionCheque.cheque.Observaciones" required></textarea>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default display-flex" >
                        <div class="panel-heading">
                          <h4 class="text-left panel-title"><span>{{'BENEFICIARIO' | translate}}</span></h4>
                        </div>

                        <div class="panel-body">
                          <form name="datosBeneficiario">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="tipodoc" class="control-label">{{'TIPO_DOCUMENTO'|translate}}</label>
                                <select ng-model="tesoreriaGestionCheque.cheque.tipoDocBen" ng-options="i.ValorParametro for i in tesoreriaGestionCheque.tiposdoc" class="form-control" required>
                                  <option value="">{{'SELECCIONAR_TIPO_DOCUMENTO'|translate}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="numdoc" class="control-label" style="display:block">{{'NO_DOCUMENTO'|translate}}</label>
                                <div style="display:inline-block">
                                  <input type="text" class="form-control input_left" ng-model="tesoreriaGestionCheque.cheque.numdocBeneficiario" placeholder="{{'NO_DOCUMENTO'|translate}}" ui-number-mask="0" required/>
                                </div>
                                <button type="button" ng-click="tesoreriaGestionCheque.consultaBen()" class="fa fa-search btn btn-info btn-outline" ></button>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="numdoc" class="control-label">{{'NOMBRE'|translate}}</label>
                                <div ng-class="{'has-error':!tesoreriaGestionCheque.encontrado_ben}" ng-if="!tesoreriaGestionCheque.cargando_ben">
                                  <span class="form-control">{{tesoreriaGestionCheque.cheque.nombreBeneficiario}}</span>
                                </div>
                                <div ng-if="tesoreriaGestionCheque.cargando_ben">
                                  <span class="form-control">{{'CARGANDO' | translate}} <i class="fa fa-spin fa-spinner"></i> </span>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                </div>
              </div>

              <div class= "row equal">

                <div class="col-md-6">
                  <div class="panel panel-default display-flex" >
                      <div class="panel-heading">
                        <h4 class="text-left panel-title"><span>{{'INFORMACION_CHEQUERA' | translate}}</span></h4>
                      </div>
                      <div class = "panel-body">
                        <div ui-grid="tesoreriaGestionCheque.gridChequeras" ui-grid-pagination ui-grid-selection></div>

                          <div class="row">
                            <div class = "col-md-2" style="padding-top:2%">
                              <label for="nroCheque">{{'NO_CHEQUE' | translate}}</label>
                            </div>
                            <div class = "col-md-3" style="padding-top:1%">
                              <input type="text" class="form-control input_left" ng-model="tesoreriaGestionCheque.cheque.Consecutivo" ui-numeric-mask="0" required disabled/>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="panel panel-default display-flex">
                        <div class="panel-heading" >
                            <h4 class="panel-title">{{ 'ORDEN_PAGO_SELECCIOANR' | translate }}</h4>
                          </div>
                          <div class = "panel-body">
                            <div ui-grid="tesoreriaGestionCheque.gridOrdenesDePago" ui-grid-selection ui-grid-auto-resize ui-grid-pagination >
                              <div class="watermark" ng-show="!tesoreriaGestionCheque.hayDataOP">{{'NO_DATA'| translate}}</div>
                              <div class="watermark" ng-show="tesoreriaGestionCheque.cargandoOP">{{'CARGANDO'| translate}}<i class="fa fa-spin fa-spinner"></i></div>
                            </div>
                            <div ng-show="tesoreriaGestionCheque.validandoOP"><span>{{'VALIDANDO'| translate}}<i class="fa fa-spin fa-spinner"></i></span></div>
                            <div ng-show="tesoreriaGestionCheque.OPValidada && tesoreriaGestionCheque.validandoOP"><span>{{'E_OPGC_01'| translate}}</span></div>
                          </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="panel-footer">
              <div align="center">
                <button  class="btn btn-outline btn-info" ng-click="tesoreriaGestionCheque.crearCheque()"> {{ 'BTN.REGISTRAR' | translate }} </button>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div id="datosChequera" class="modal fade col-md-12" role="dialog">

      <div class = "modal-content col-md-offset-1 col-md-10">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
        </div>
        <div class="modal-body">
          <tesoreria-ver-editar-chequera ver chequera="chequera"></tesoreria-ver-editar-chequera>
        </div>
      </div>

  </div>
</div>
