<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'CHEQUERA' | translate }}</h2>
  <div class="panel-body">
      <div ui-grid="tesoreriaGestionChequera.gridChequeras" ui-grid-pagination ui-grid-selection></div>
  </div>
  <div>
      <proceso edges="aristas" nodes="estados" node="estado" nodeclick="estadoclick" eventclick="funcion(estado)"></proceso>
  </div>
  <div class="panel-footer" align="center">
    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#creacionChequera" ng-click="tesoreriaGestionChequera.listasCargadas = true;tesoreriaGestionChequera.consultarListas()">{{'NUEVO'|translate}}</button>
  </div>
</div>
<div id="creacionChequera" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
    </div>
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3 class="page-header"><span>{{'INFORMACION_CHEQUERA' | translate}}</span></h3>
          </div>
          <form name="chequera">
          <div class="panel-body">
            <div class="col-md-6">
              <form name="datosResponsable">
                    <div class="panel panel-default panel-body">
                          <div class="panel panel-heading">
                            <h4 class="text-left panel-title"><span>{{'RESPONSABLE' | translate}}</span></h4>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tipodoc" class="control-label">{{'TIPO_DOCUMENTO'|translate}}</label>
                              <select ng-model="tesoreriaGestionChequera.tipoDocResp" ng-options="i.ValorParametro for i in tesoreriaGestionChequera.tiposdoc" class="form-control">
                                <option value="">{{'SELECCIONAR_TIPO_DOCUMENTO'|translate}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="numdoc" class="control-label" style="display:block">{{'NO_DOCUMENTO'|translate}}</label>
                              <div style="display:inline-block">
                                <input type="text" class="form-control input_left" ng-model="tesoreriaGestionChequera.numdocResponsable" placeholder="{{'NO_DOCUMENTO'|translate}}" ui-number-mask="0"/>
                              </div>
                              <button type="button" ng-click="tesoreriaGestionChequera.consultaResponsable()" class="fa fa-search btn btn-info btn-outline" ></button>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="numdoc" class="control-label">{{'NOMBRE'|translate}}</label>
                              <div ng-class="{'has-error':!tesoreriaGestionChequera.respEnc}" ng-if="!tesoreriaGestionChequera.cargandoResponsable">
                                <span class="form-control">{{tesoreriaGestionChequera.nombreResponsable}}</span>
                              </div>
                              <div ng-if="tesoreriaGestionChequera.cargandoResponsable">
                                <span class="form-control">{{'CARGANDO' | translate}} <i class="fa fa-spin fa-spinner"></i> </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="form_group">
                        <label for="observaciones">{{'OBSERVACIONES' | translate}}</label>
                        <textarea name="observaciones" class="form-control" rows="4" cols="40" ng-model="tesoreriaGestionChequera.observaciones" required></textarea>
                      </div>
            </div>
            <div class="col-md-6">

                <div class="col-md-6">
                    <div class="form-group">
                      <label for="unidadejecutora">{{'UNIDAD_EJECUTORA' | translate}}</label>
                      <select class="form-control" ng-model="tesoreriaGestionChequera.unidadejecutora" ng-options="op as op.Nombre for op in tesoreriaGestionChequera.unidadesejecutoras" required>
                        <option value="">{{'UNIDAD_EJECUTORA' | translate}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>{{'CHEQUE_FINAL'|translate}}</label>
                      <input type="text" class="form-control input_left" ng-model="tesoreriaGestionChequera.valorSolicitado" placeholder="{{'CHEQUE_FINAL'|translate}}" ui-number-mask="0" required/>
                    </div>
                    <div class="form-group">
                      <label for="banco" class="control-label">{{'BANCO'|translate}}</label>
                      <select ng-model="tesoreriaGestionChequera.banco" ng-options="i.Nombre for i in tesoreriaGestionChequera.bancos" ng-change= "tesoreriaGestionChequera.obtenerSucursales()" class="form-control" required>
                        <option  value="">{{'BANCO'|translate}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="banco" class="control-label">{{'CUENTA_BANCARIA'|translate}}</label>
                      <select ng-model="tesoreriaGestionChequera.cuentaBancaria" ng-options="i.Nombre for i in tesoreriaGestionChequera.cuentasBancarias" class="form-control" required>
                        <option disabled value="">{{'CUENTA_BANCARIA'|translate}}</option>
                      </select>
                    </div>
                </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">{{'VIGENCIA'|translate}}</label>
                      <select ng-model="tesoreriaGestionChequera.vigencia" ng-options="i for i in tesoreriaGestionChequera.anos" class="form-control" required>
                        <option  value="">{{'VIGENCIA'|translate}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>{{'CHEQUE_INICIAL'|translate}}</label>
                      <input type="text" class="form-control input_left" ng-model="tesoreriaGestionChequera.valorSolicitado" placeholder="{{'CHEQUE_INICIAL'|translate}}" ui-number-mask="0" required/>
                    </div>
                    <div class="form-group">
                      <label for="banco" class="control-label">{{'SUCURSAL'|translate}}</label>
                      <select ng-model="tesoreriaGestionChequera.sucursal" ng-options="i.OrganizacionHija.Nombre for i in tesoreriaGestionChequera.sucursales track by i.Id"
                              ng-change= "tesoreriaGestionChequera.consultarCuentas()" class="form-control" required>
                        <option disabled value="">{{'SUCURSAL'|translate}}</option>
                      </select>
                    </div>
                  </div>
              </div>
            </div>
            </form>
            <div class="panel-footer">
              <div align="center">
                <button  class="btn btn-outline btn-info" ng-click="tesoreriaGestionChequera.registrarChequera()"> {{ 'BTN.REGISTRAR' | translate }} </button>
              </div>
            </div>
      </div>
  </div>
</div>
