
<div class="panel-body row" ng-if="a === 'rps'">

  <div class="container" align="center">
  <div class="col-md-12" >
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-if="!refresh" ui-grid="d_rpPorProveedorListar.gridOptions_rp" ui-grid-selection ui-grid-auto-resize ui-grid-pagination class="myGrid">
          <div class="watermark" ng-show="!d_rpPorProveedorListar.hayData">{{'NO_DATA'| translate}}</div>
          <div class="watermark" ng-show="d_rpPorProveedorListar.cargando">{{'CARGANDO'| translate}}   <i class="fa fa-spin fa-spinner"></i></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <div class="panel panel-default" ng-if="outputrpselect.length != 0">
      <div class="panel-body">
        <div  ui-grid="d_rpPorProveedorListar.gridOptions_rp_seleccionados" ui-grid-selection ui-grid-auto-resize></div>
      </div>
    </div>
    </div>
  </div>
</div>
