<div class="panel-body">
  <fieldset class="form-group">
    <legend class="text-primary">Registro Presupuestal
      <span class="fa fa-plus pull-right"  ng-click="info_rp=true" ng-show="!info_rp"></span>
      <span class="fa fa-minus pull-right" ng-click="info_rp=false" ng-show="info_rp"></span>
    </legend class="text-primary">

    <div class="row" ng-show="info_rp">
      <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Seleccione RP Pertenecientes al Proveedor</h4>
            </div>
            <div class="panel-body">
              <div ng-if="!refresh" ui-grid="d_rpPorProveedorListar.gridOptions_rp" ui-grid-selection ui-grid-auto-resize></div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Detalle RP</h4>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th>Vigencia</th>
                  <td>{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.Vigencia}}</td>
                </tr>
                <tr>
                  <th>Estado</th>
                  <td>{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.Estado.Nombre}}</td>
                </tr>
                <tr>
                  <th>Num. RP</th>
                  <td>{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.NumeroRegistroPresupuestal}}</td>
                </tr>
                <tr>
                  <th>Responsable</th>
                  <td>{{d_rpPorProveedorListar.rp_select_de_consulta[0].RegistroPresupuestal.Responsable}}</td>
                </tr>
                <tr>
                  <th>Valor RP</th>
                  <td>{{d_rpPorProveedorListar.valor_total_rp | currency}}</td>
                </tr>
                <tr>
                  <th>Número Disponibilidad Presupuestal (CDP)</th>
                  <td>{{d_rpPorProveedorListar.rp_select_de_consulta[0].DisponibilidadApropiacion.Disponibilidad.NumeroDisponibilidad}}</td>
                </tr>
                <tr>
                  <th>Objeto Disponibilidad</th>
                  <td>{{d_rpPorProveedorListar.rp_select_de_consulta[0].DisponibilidadApropiacion.Disponibilidad.Objeto}}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
