<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'OP_TITULO' | translate }}</h2>
  <div class="panel-body">

    <!--unidad ejecutora -->
    <ue-listar
      unidaejecutora="opCrear.OrdenPago.UnidadEjecutora">
    </ue-listar>

    <!--Proveedor -->
    <pv-listar
      proveedor="opCrear.OrdenPagoConsulta.Proveedor">
    </pv-listar>

    <!--RP-->
    <rp-por-proveedor-listar
      beneficiaroid="opCrear.OrdenPagoConsulta.Proveedor.Id"
      rpselect="opCrear.OrdenPago.RegistroPresupuestal">
    </rp-por-proveedor-listar>

    <!--detalle pago -->
    <op-proveedor-detalle-pago
      tipoordenpago="opCrear.OrdenPago.TipoOrdenPago"
      iva="opCrear.OrdenPago.Iva"
      valorbase="opCrear.OrdenPago.ValorBase">
    </op-proveedor-detalle-pago>

    <!--Rubros-->
    <rubros-por-rp-seleccion-multiple
      rpid="opCrear.OrdenPago.RegistroPresupuestal.Id"
      rubrosobj="opCrear.RubrosObjIds">
    </rubros-por-rp-seleccion-multiple>

    <!--Concepto-->
    <conceptos-por-rubros-op
      rubroidsobj="opCrear.RubrosObjIds"
      conceptosoutput="opCrear.Concepto">
    </conceptos-por-rubros-op>

    <!--Cuentas contables -->
    <legend class="text-primary" ng-click="a=!a">
      {{'CUENTAS_CONTABLES' | translate}}
      <span class="fa fa-plus pull-right" ng-show="!a"></span>
      <span class="fa fa-minus pull-right" ng-show="a"></span>
    </legend class="text-primary">
    <div class="panel-body row" ng-show="a">
      <div class=" col-sm-12">
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li ng-class="{active: selected == c.Id}" ng-repeat="c in opCrear.Concepto"><a href ng-click="opCrear.selected=c.Id" data-toggle="tab">Concepto: [ {{c.Codigo}} ]  {{c.Nombre}}</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" ng-repeat="c in opCrear.Concepto" ng-show="opCrear.selected==c.Id">
              <movimientos-contables conceptoid="c.Id" movimientos="c.movs" monto="c.Afectacion" editable validatemov="c.validado">
              </movimientos-contables>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Boton Crear Orden Pago Proveedor -->
    <center><button class="btn btn-primary" ng-click="opCrear.addOpProveedor()">Registrar</button></center>
  </div>
</div>
