<fieldset class="form-group">
  <legend class="text-primary" ng-click="info_terceros=!info_terceros">{{"INFORMACION_TERCERO" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_terceros"></span> <span class="fa fa-minus pull-right" ng-show="info_terceros"></span></legend>

  <div class="panel-body" ng-show="info_terceros">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-4">
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.documento}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="jefe_solicitante" class="control-label">{{"TIPO_DOCUMENTO" | translate}}</label>
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.tipo_documento.tipo_documento}}</span>
      </div>

      <div class="col-md-6">
        <label for="dep_destino" class="control-label">{{"LUGAR_DOCUMENTO" | translate}}</label>
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.municipio_expedicion_documento.municipio}}-
          {{d_verSolicitud.solicitud.Tercero.municipio_expedicion_documento.departamento}}</span>
      </div>

      <div class="col-md-6">
        <label for="jefe_solicitante" class="control-label">{{"NOMBRE" | translate}}</label>
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.nombres}}</span>
      </div>

      <div class="col-md-6">
        <label for="ordenador_gasto" class="control-label">{{"APELLIDOS" | translate}}</label>
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.apellidos}}</span>
      </div>

      <div class="col-md-6">
        <label for="rol_ordenador_gasto" class="control-label">{{"DIRECCION" | translate}}</label>
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.direccion}}</span>
      </div>

      <div class="col-md-6">
        <label for="rol_ordenador_gasto" class="control-label">{{"CORREO_ELECTRONICO" | translate}}</label>
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.correo}}</span>
      </div>

      <div class="col-md-6">
        <label for="rol_ordenador_gasto" class="control-label">{{"NUMERO_TELEFONICO" | translate}}</label>
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.telefono}}</span>
      </div>

      <div class="col-md-6">
        <label for="rol_ordenador_gasto" class="control-label">{{"NUMERO_CELULAR" | translate}}</label>
        <span class="form-control">{{d_verSolicitud.solicitud.Tercero.celular}}</span>
      </div>
    </div>

  </div>
</fieldset>

<fieldset class="form-group">
  <legend class="text-primary" ng-click="info_desc_avances=!info_desc_avances">{{"DESCRIPCION_AVANCES" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_desc_avances"></span> <span class="fa fa-minus pull-right" ng-show="info_desc_avances"></span></legend>
  <div class="panel-body" ng-show="info_desc_avances">
    <div class="row">
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="dep_destino" class="control-label">{{"OBJETIVO" | translate}}</label>
          <textarea class="form-control" ng-model="d_verSolicitud.solicitud.SolicitudAvance.Objetivo" rows="5" disabled></textarea>
          <label for="dep_destino" class="control-label">{{"JUSTIFICACION" | translate}}</label>
          <textarea class="form-control" ng-model="d_verSolicitud.solicitud.SolicitudAvance.Justificacion" rows="5" disabled></textarea>
        </div>
        <div class="col-md-6">
          <label for="ordenador_gasto" class="control-label">{{"DEPENDENCIA" | translate}}</label>
          <span class="form-control">{{d_verSolicitud.solicitud.SolicitudAvance.Dependencia}}</span>

          <label for="rol_ordenador_gasto" class="control-label">{{"FACULTAD" | translate}}</label>
          <span class="form-control">{{d_verSolicitud.solicitud.SolicitudAvance.Facultad}}</span>

          <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_CURRICULAR" | translate}}</label>
          <span class="form-control">{{d_verSolicitud.solicitud.SolicitudAvance.ProyectoCurricular}}</span>
          <label for="rol_ordenador_gasto" class="control-label">{{"CONVENIO" | translate}}</label>
          <div class="row">
            <div class="col-md-4">
              <span class="form-control">{{d_verSolicitud.solicitud.SolicitudAvance.CodigoConvenio}}</span>
            </div>
            <div class="col-md-8">
              <span class="form-control">{{d_verSolicitud.solicitud.SolicitudAvance.Convenio}}</span>
            </div>
          </div>

          <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_INVESTIGACION" | translate}}</label>
          <div class="row">
            <div class="col-md-4">
              <span class="form-control">{{d_verSolicitud.solicitud.SolicitudAvance.CodigoProyectoInv}}</span>
            </div>
            <div class="col-md-8">
              <span class="form-control">{{d_verSolicitud.solicitud.SolicitudAvance.ProyectoInv}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</fieldset>

<fieldset class="form-group" ng-if="d_verSolicitud.tipo_avance">
  <legend class="text-primary" ng-click="info_detalle_avances=!info_detalle_avances">{{"TIPO_AVANCE" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_detalle_avances"></span> <span class="fa fa-minus pull-right" ng-show="info_detalle_avances"></span></legend>

  <div class="panel-body" ng-show="info_detalle_avances">
      <div class="panel panel-default" ng-repeat="tipo in d_verSolicitud.solicitud.Tipos" >
        <div class="panel-heading">
          {{tipo.TipoAvance.Nombre}}
        </div>
          <div class="panel-body">
            <div class="col-md-8">
              {{tipo.Descripcion}}
              <br>
              Requisitos:
              <ol>
                <li ng-repeat="requisito in tipo.Requisitos" ng-if="requisito.RequisitoAvance.Etapa === 'solicitar' ">
                  {{requisito.RequisitoAvance.Nombre}}
                </li>
              </ol>
            </div>
            <div class="col-md-4">
              <h3>Valor: </h3> <span class="badge"><h5>{{tipo.Valor | currency}}</h5></span>
            </div>
        </div>
      </div>
      <div class="row" align="center">
          <h3>TOTAL: </h3> <span class="badge"><h5>{{d_verSolicitud.solicitud.Total | currency}}</h5></span>
      </div>
    </div>
</fieldset>
