<div class="panel panel-default">

  <div class="panel-heading">

    <div class="row">
      <div class="col-md-8">
        <h3 class="page-header" style="color:white">{{d_verConcepto.v_concepto.Codigo}}. {{d_verConcepto.v_concepto.Nombre}}</h3>
      </div>

      <div class="col-md-4 pull-right" name="fechas">
        <h3>
          <small><span style="color: white"><span ng-show="!d_verConcepto.v_concepto.Clasificador">{{"CONCEPTO" | translate}}</span><span ng-show="d_verConcepto.v_concepto.Clasificador">{{"CLASIFICACION" | translate}}</span>  {{"TIPO" | translate}} {{d_verConcepto.v_concepto.TipoConcepto.Nombre}}</span> </small><br>
          <small style="color:cyan">{{"FECHA_CREACION" | translate}}: <span style="color: white">{{d_verConcepto.v_concepto.FechaCreacion | date: "yyyy-MM-dd"}}</span> </small><br>
          <small style="color:cyan">{{"FECHA_EXPIRACION" | translate}}: <span style="color: white">{{d_verConcepto.v_concepto.FechaExpiracion | date: "yyyy-MM-dd"}}</span></small>
          </h3>
      </div>
    </div>

  </div>

  <div class="panel-body">

    <div class="col-md-12 row line">
      <blockquote>
        <p class="text-justify">
          <small><cite>{{d_verConcepto.v_concepto.Descripcion}}</cite></small>
        </p>
      </blockquote>
    </div>

    <div ng-show="!d_verConcepto.v_concepto.Clasificador">
      <div class="col-md-12 row line">
        <div class="col-md-2">
          <label><h5>{{"AFECTACION" | translate}}:<h5></label>
        </div>
        <div class="panel panel-warning shadow-box col-md-10">
          <table class="table table-bordered table-responsive table-hover">
            <tr>
              <th>{{"TIPO" | translate}} {{"AFECTACION" | translate}}</td>
              <th>{{"INGRESO" | translate}}</td>
              <th>{{"EGRESO" | translate}}</td>
            </tr>
            <tr ng-repeat="tipo_afect in d_verConcepto.afectaciones">
              <td>{{tipo_afect.TipoAfectacion.Nombre}}</td>
              <td><input ng-model="tipo_afect.AfectacionIngreso" type="checkbox" disabled></td>
              <td><input ng-model="tipo_afect.AfectacionEgreso" type="checkbox" disabled></td>
            </tr>

          </table>
        </div>
      </div>

      <div class="col-md-12 row line">
        <div class="col-md-2">
          <label><h5>{{"RUBRO" | translate}}:<h5></label>
        </div>
        <div class="panel panel-info panel-body shadow-box col-md-10">
          <h4 class="text-primary">{{d_verConcepto.v_concepto.Rubro.Nombre}}</h4>
          <p class="text-muted">{{d_verConcepto.v_concepto.Rubro.Entidad.Nombre}}</p>
          <dl>
            <dt>{{"CODIGO" | translate}}: {{d_verConcepto.v_concepto.Rubro.Codigo}}</dt>
            <dd>{{d_verConcepto.v_concepto.Rubro.Descripcion}}</dd>
          </dl>
        </div>
      </div>

      <div class="col-md-12 row line" ng-show="::d_verConcepto.cuentas.length">
        <div class="col-md-2">
          <label><h5>{{"CUENTAS_CONTABLES" | translate}}:<h5></label>
        </div>

        <div class="panel panel-warning shadow-box col-md-10">
          <table class='table table-responsive table-hover table-bordered'>
              <tr>
                <th>{{"CODIGO" | translate}}</th>
                <th>{{"NOMBRE" | translate}}</th>
                <th>{{"NATURALEZA" | translate}}</th>
              </tr>
              <tr ng-repeat="cu in d_verConcepto.cuentas">
                <td>{{cu.CuentaContable.Codigo}}</td>
                <td>{{cu.CuentaContable.Nombre}}</td>
                <td>{{cu.CuentaContable.Naturaleza}}</td>
              </tr>
          </table>

        </div>
      </div>
    </div>


  </div>

</div>
