<div class="jumbotron text-center">
  <h2>{{ title }} ({{requisitoAvance.referencia}}) {{requisitoAvance.nombre}}</h2>

  <div ng-controller="addRequisitoAvanceController" class="text-center">
    <form name="requisitoavanceForm">
      <table id="requisitoAvance" class="table table-striped table-bordered">
        <thead>
          <tr>
            <td>
              <a id="IdTipo" href="#/listarRequisitosAvance/{{requisitoAvance.idtipo}}">
                << Regresar </a>
            </td>
            <td colspan="5">
              <p align="center"> {{ message }} </p>
            </td>
            <td colspan="2" aling="center">
            </td>
          </tr>
          <!--tr>
        <th>Referencia</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Etapa</th>
        <th>Estado</th>
        <th align="center">Opciones</th>


      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="req in dataReq">
        <td>{{req.Referencia}}</td>
        <td>{{req.Nombre}}</td>
        <td>{{req.Descripcion}}</td>
        <td>{{req.Etapa}}</td>
        <td>{{req.Estado}}</td>
        <td>
          <input type="checkbox" ng-model="avanceReq[req.IdReq]" ng-true-value="{{req.IdReq}}"/>
        <!--input type='checkbox' value="{{req.IdReq}}" check-list='data'>{{req.IdReq}}</td->

        Este campo tiene el value modificado. Ahora vale {{ avanceReq[req.IdReq] }}
        </td>

      </tr>
    </tbody-->
      </table>
  </div>

  <div class="form-group">
    <label for="nombre">Requisito:</label>
    <select ng-model="requisitoAvance.idreq">
          <option ng-repeat="req in dataReq" value={{req.IdReq}} >({{req.Referencia}}) {{req.Nombre}} - {{req.Etapa}}</option>

        </select>
  </div>
  <input name="idtipo" type="hidden" ng-model="requisitoAvance.idtipo" />
  <input type="reset" ng-click="reset()" value="Limpiar" />
  <input type="submit" ng-click="add()" value="Guardar" />
  </form>
  <input type="checkbox" ng-model="vm.clarooscuro" ng-true-value="'claro'" ng-false-value="'oscuro'" /> Este campo tiene el value modificado. Ahora vale {{ vm.clarooscuro }}

  <pre>Form = {{requisitoAvance | json}}</pre>
</div>
</div>
